<section>
  <div class="tz">
    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>Business Enquiry</h4>
        <div class="db-list-com tz-db-table table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Sno</th>
              <th>Name of Business</th>
              <th>Details</th>

              <th>Message</th>
              <th>Date</th>
            </tr>
            <tr>
              <td colspan="7" *ngIf="listDetails.length == 0">
                <h5>No enquiry found</h5>
              </td>
            </tr>
            <tr *ngFor="let enq of listDetails; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>
                <a href="/listing/{{ enq.listings.slug }}" class="text-un">{{
                  enq.listings.title
                  }}</a>
              </td>
              <td>
                <div>
                  <span><b>Name : </b> {{ enq.first_name }}
                    {{ enq.last_name }}</span>
                </div>
                <div>
                  <span><b>Email : </b> {{ enq.email ? enq.email : "-" }}</span>
                </div>
                <div>
                  <span><b>Mobile : </b> {{ enq.mobile ? enq.mobile : "-" }}</span>
                </div>
              </td>
              <td>{{ enq.message ? enq.message : "-" }}</td>
              <td>{{ enq.created_at | date: "MMM/dd/yyyy" }}</td>
            </tr>
          </table>
        </div>
        <div class="mt-2 mb-1">
          <app-unit5></app-unit5>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>