.player_wrap iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner-video {
    position: relative;
    min-height: 410px;
}
.videoWrapperActive iframe {
    z-index: 112;
}