<div class="scroll_txt text-center">
  <a routerLink="/local-marketing" class="clocat">
    <i class="fa fa-angle-double-left"></i> Change Location</a>
  | {{ pagecontent?.name }} Local Marketing: Free Digital Marketing Tools For
  Local Business Growth
</div>

<div class="banner-frm pad6040" id="qualifier">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 banner-desc text-center">
        <h1 class="hsmll">
          Here are effective local marketing tools to get clicks, website
          traffic and generate leads form <span>{{ pagecontent?.name }}</span>!
        </h1>
        <h4 class="font-italic">
          ( Best ROI DIY Local SEO marketing tools that don’t require hiring a
          marketing company )
        </h4>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 mt-4">
        <div class="banner-video">
          <div class="videoWrapper videoWrapper169 js-videoWrapper">
            <img alt="video" src="{{ landingimgpath + pagecontent?.video_thumb }}" *ngIf="hideblink == false" />
            <div class="player_wrap" *ngIf="showVideoPlayer">
              <iframe width="560" height="315" [src]="video_iframe" frameborder="0"
                allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video_link" *ngIf="hideblink == false">
              <a class="videoPoster js-videoPoster stop" (click)="playVideo()" href="javascript:void(0)">
                <img alt="play-video" src="assets/images/landing/play.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 mt-4">
        <app-funnelfrm></app-funnelfrm>
      </div>
    </div>
  </div>
</div>

<app-unit1></app-unit1>

<section class="sec blue-wrapper">
  <div class="container">
    <div class="row freetry">
      <div class="col-md-6 text-center">
        <div class="h1">Try WallDirectory For Free:</div>
        <div>
          <p>
            Start getting more website traffic, more page views, and more
            website visitors from Alabama. Join the small business network of
            Alabama. Sign up, add your website and use the search engine
            marketing tools to drive traffic to your website from Alabama.
          </p>
          <p>
            Submit links, add deals and promotions, reach, connect, engage and
            track customers in your marketing dashboard. Start now. Use the
            search engine marketing tools by using the free tools provided to
            target local customers. Do your own local SEO at Alabama’s business
            directory to get better search engine ranking.
          </p>
        </div>

        <div class="start-promt">
          <a href="https://walldirectory.com/value-marketing">
            <h3>
              Start Your Free Promotions
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </h3>
            <h5>Drive Traffic to Website for FREE Right Now</h5>
          </a>
        </div>

        <p class="font-italic">
          No obligation, no contract, cancel anytime, 100% free.
        </p>
      </div>

      <div class="col-md-6">
        <h4 class="mb-2">Get Listed at the local directory</h4>
        <ul>
          <li><i class="fa fa-check"></i> Drive traffic to website</li>
          <li><i class="fa fa-check"></i> Link website pages</li>
          <li><i class="fa fa-check"></i> Target local areas</li>
          <li><i class="fa fa-check"></i> Increase local traffic to website</li>
          <li><i class="fa fa-check"></i> Improve website rank</li>
          <li><i class="fa fa-check"></i> Get top local search engine rank</li>
          <li><i class="fa fa-check"></i> Generate local leads</li>
          <li><i class="fa fa-check"></i> Increase your sales</li>
          <li><i class="fa fa-check"></i> Manage your online reputation</li>
          <li>
            <i class="fa fa-check"></i> Increase social followers & influence
          </li>
          <li><i class="fa fa-check"></i> Build your email list</li>
          <li><i class="fa fa-check"></i> Track website visitors</li>
        </ul>
      </div>

      <div class="col-md-12 sp-note text-center font-weight-bold mt-md-3 mt-sm-2">
        <h4 class="mb-0">
          WallDirectory Gives You
          <span class="font-weight-bold">EVERYTHING</span> You Need to Reach,
          Connect, and Sell to Customers in {{ pagecontent?.name }}!
        </h4>
      </div>
    </div>
  </div>
</section>

<app-unit1></app-unit1>

<section class="info-graph">
  <div class="container">
    <p class="h1">Not Sure How to reach & <br />connect with local leads?</p>
    <p class="mt-3 mb-3">
      Inside of your <b>FREE Wall Directory</b> account are small business
      marketing tools that can help you reach, connect, and engage local
      shoppers and qualified leads from your local community.
    </p>
    <p class="h4 text-center">
      Tell us about your marketing goals and we'll show you the best tool that
      generates the highest quality leads for free.
    </p>
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-8">
        <h4>Start website marketing with free SEO tools:</h4>
        <ul class="mt-2 mb-0">
          <li>
            <i class="fa fa-check-square-o fa-fw"></i><b> Market your web-page:</b> Use our free link builder.
          </li>
          <li>
            <i class="fa fa-check-square-o fa-fw"></i><b> Engage with Leads:</b> Use our free Lead Builder.
          </li>
          <li>
            <i class="fa fa-check-square-o fa-fw"></i><b>Sell to locals:</b> Use
            our free Sales Builder.
          </li>
          <li>
            <i class="fa fa-check-square-o fa-fw"></i><b>Improve online reputation:</b> Use our free Review Builder.
          </li>
          <li>
            <i class="fa fa-check-square-o fa-fw"></i><b>Connect & followup with customers:</b> Use our Email-List
            Builder.
          </li>
          <li>
            <i class="fa fa-check-square-o fa-fw"></i><b>Track website visitors:</b> Use our free visitor tracking tool.
          </li>
          <li>
            <i class="fa fa-check-square-o fa-fw"></i>Compete with local
            businesses for better local search ranking.
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Link Building
          </li>
          <li>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Lead Building
          </li>
          <li>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Sales Building
          </li>
          <li>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Reputation
            Building
          </li>
          <li>
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Email List
            Building
          </li>
        </ul>
        <a href="https://walldirectory.com/plans/link-building-service" class="waves-effect waves-light btn">Get Listed,
          Start for FREE!</a>
      </div>
    </div>
  </div>
</section>

<app-unit1></app-unit1>

<section class="sec info-graph2">
  <div class="container text-center">
    <div>
      <p class="h1">Take Advantage of Our<br />Free Local Marketing Tools</p>
      <p class="h4 mt-2 text-center">Interested in reaching local customers?</p>
      <p class="h4 text-center redsubline">
        Join, get listed, add business details, add links to website, promote
        and sell to online shoppers..
      </p>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="infor_wrapper">
          <div class="wrap_li">
            <h3>Free Local Marketing</h3>
            <p><b>Start your Free DIY Local Marketing</b></p>
            <ul>
              <li>Limited locations</li>
              <li>Limited Promotions</li>
              <li>Unlimited Leads</li>
            </ul>
          </div>
          <a href="https://walldirectory.com/plans/link-building-service" class="waves-effect waves-light btn">
            Get Listed, Start for FREE!
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="infor_wrapper">
          <div class="wrap_li">
            <h3>Advanced Marketing</h3>
            <p><b>Focus on your business & leave the marketing to us!</b></p>
            <ul>
              <li>Unlimited locations</li>
              <li>Unlimited Promotions</li>
              <li>Unlimited Leads</li>
            </ul>
            <p><b>Plus:</b></p>
            <ul>
              <li>professional business growth</li>
              <li>account manager</li>
            </ul>
          </div>
          <a href="https://walldirectory.com/plans/marketing" class="waves-effect waves-light btn">Take Advantage of
            Savings</a>
        </div>
      </div>

      <!--
        <div class="col-lg-6 pr-0 mar6040">
          <div class="text-left">
            <img src="assets/images/infog.jpg" style="" alt=""/>
          </div>
        </div>
        <div class="col-lg-4 pl-0">
          <ul class="ts">
            <li><div class=""><span>i want to</span><p>Drive traffic to my website</p> <a href="#">Explore</a></div></li>
            <li><div class=""><span>i want to</span><p>Sell products & Services</p> <a href="#">Shop</a></div></li>
            <li><div class=""><span>i want to</span><p>Connect with my Leads</p> <a href="#">Engage</a></div></li>
            <li><div class=""><span>i want to</span><p>Improve online reputation</p> <a href="#">Review</a></div></li>
          </ul>
        </div>
        -->
    </div>
  </div>
</section>

<div class="text-center com-mar-top-20">
  <app-unit4></app-unit4>
</div>

<section class="sec pad6040 gener_state">
  <div class="container">
    <div class="sec-head text-center">
      <h2>Generate Leads from a City in {{ pagecontent?.name }}</h2>
      <p>
        WallDirectory is the business owner’s favorite digital marketing tool!
        Create a marketing strategy to reach, connect, & convert traffic to
        customers.
      </p>
    </div>

    <div class="row text-center justify-content-center">
      <div class="col-lg-4 city-list mt-4" *ngFor="let city of pagecontent?.cities; let i = index">
        <div class="city-thumb city-list">
          <!-- <a routerLink="/local-marketing/{{statename}}/{{city?.slug}}"> -->
          <img src="{{ landingimgpath + city?.image_url }}" alt="{{ city.name }}" />
          <!-- </a> -->
        </div>
        <!--   <a routerLink="/local-marketing/{{statename}}/{{city?.slug}}" class="city-title">{{city?.name}}</a> -->
        <h4 class="mt-2 mb-1" innerHtml="{{ city?.name }}"></h4>
        <p *ngIf="i == 0">
          Attract Website Visitors from {{ city?.name }}. Reach, connect, & sell
          to customers from {{ city?.name }}.
        </p>
        <p *ngIf="i == 1">
          Drive Website traffic from {{ city?.name }}. Reach, connect, & sell to
          customers from {{ city?.name }}.
        </p>
        <p *ngIf="i == 2">
          Generate website leads from {{ city?.name }}. Reach, connect, & sell
          to customers from {{ city?.name }}.
        </p>
        <p *ngIf="i == 3">
          Improve online reputation from {{ city?.name }}. Reach, connect, &
          sell to customers from {{ city?.name }}.
        </p>
        <p *ngIf="i == 4">
          Track Visitors from {{ city?.name }}. Reach, connect, & sell to
          customers from {{ city?.name }}..
        </p>
        <!-- <a routerLink="/local-marketing/{{statename}}/{{city?.slug}}" class="city-link">Get Leads <i class="fa fa-angle-right"></i></a> -->
      </div>
    </div>
  </div>
</section>

<section class="light-blue pad6040 mar6040 mb-0">
  <div class="container">
    <div class="sec-head text-center">
      <h2>Promo Services We Offer</h2>
      <div>
        <em>
          <p>Serving businesses in {{ pagecontent?.name }}</p>
        </em>
      </div>
      <p>
        Walldirectory is the business owner’s favorite digital marketing tool!
        Create a Strategy to Reach, Connect, & Convert Traffic to Customers
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row text-center prom-serv-list">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row serv_inner">
          <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Ad Builder</h3>
              <p class="text-left">
                Simplified digital advertising platform that produces amazing
                ROI results. Post ads to Advertise and attract local visitors
                from
                {{ pagecontent?.name }}. Start building an effective
                link-building SEO campaign to target local interests, drive
                traffic to your website, and increase website ranking.
              </p>
              <p class="text-left">
                Use the free Ad builder to display ads in front of interested
                locals from {{ pagecontent?.name }}. Wall Directory places the
                link-building power in your hands. Customize your online ads.
              </p>
              <a class="serv_link" href="https://walldirectory.com/local-marketing/ad-builder">Build Ads</a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-left">
            <img alt="Free Ad Builder" class="mb-3" src="assets/images/landing/freeadb-builder.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center prom-serv-list">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row serv_inner">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-left">
            <img alt="Free Lead Builder" class="mb-3" src="assets/images/landing/freelink-builder.png" />
          </div>
          <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Lead Builder</h3>
              <p class="text-left">
                Connected digital marketing platform perfect for local business
                owners who are looking for leads from {{ pagecontent?.name }}.
                Create an ad with a Call-To-Action link to attract local
                visitors from a specific location.
              </p>
              <p class="text-left">
                Build a custom SEO campaign to target local customers, drive
                leads to your website, and increase website rank. Use the free
                Lead builder to display ads in front of interested local
                customers from {{ pagecontent?.name }}. Use the free digital
                marketing tool to generate leads.
              </p>
              <a class="serv_link" href="https://walldirectory.com/local-marketing/lead-builder">Generate Leads</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center prom-serv-list">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row serv_inner">
          <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Sales Builder</h3>
              <p class="text-left">
                Connected digital marketing platform perfect for local business
                owners who are looking for leads from {{ pagecontent?.name }}.
                Create an ad with a Call-To-Action link to attract local
                visitors from a specific location.
              </p>
              <p class="text-left">
                Build a custom SEO campaign to target local customers, drive
                leads to your website, and increase website rank. Use the free
                Lead builder to display ads in front of interested local
                customers from {{ pagecontent?.name }}. Use the free digital
                marketing tool to generate leads.
              </p>
              <a class="serv_link" href="https://walldirectory.com/local-marketing/sales-builder">Generate Sales
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-left">
            <img alt="Free Sales Builder" class="mb-3" src="assets/images/landing/freelead-builder.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center prom-serv-list">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row serv_inner">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 text-left">
            <img alt="Free Review Builder" class="mb-3" src="assets/images/landing/freereview-builder.png" />
          </div>
          <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Review Builder</h3>
              <p class="text-left">
                Organic review builder tool designed for business owners who are
                looking for genuine reviews from customers in
                {{ pagecontent?.name }}.
              </p>
              <p class="text-left">
                Online reputation management is simple when using Wall
                Directory's digital review tool; Create a reputable landing page
                that makes it easy for local customers from
                {{ pagecontent?.name }} to write reviews and post comments on
                your social pages. Subscribe to the organic review builder tool
                for free to increase reviews and build online reputation.
              </p>
              <a class="serv_link" href="https://walldirectory.com/local-marketing/review-builder">Get Reviews</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mb-2 mt-1">
  <app-unit4></app-unit4>
</div>


<section class="sec mar6040">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-head text-center">
          <h2>{{ pagecontent?.name }} Business Owners Network</h2>
          <div>
            <em>
              <p>
                Join {{ pagecontent?.name }}’s Business Owners Network and build
                relationships with local small business owners. Create your
                professional business profile now!
              </p>
            </em>
          </div>
          <div class="mb-3 cbusiness">
            <a href="https://walldirectory.com/register">Create your FREE Business Owner Profile Now!</a>
          </div>
          <p class="mb-5">
            Here are trending business owner profiles, Start networking with
            other business owners from {{ pagecontent?.name }}.
          </p>
        </div>
      </div>
    </div>

    <div class="row pg-cus-rev">
      <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let ownerls of owner; let i = index">
        <div class="cus-rev">
          <div class="pg-revi-re">
            <img src="{{
                ownerls?.userimage?.small
                  ? imgPath + ownerls?.userimage?.small
                  : siteUrl + 'assets/images/avatar.jpg'
              }}" alt="{{ ownerls?.first_name || ownerls?.username }}" />
            <p class="owner_name">
              {{ ownerls?.first_name || ownerls?.username }}
              {{ ownerls?.last_name }}
            </p>
            <p class="owner_loc"></p>
          </div>

          <p>
            <b>Owner Since:</b><br />
            {{ ownerls?.created_at | date: "MMMM, dd yyyy" }}
          </p>
          <div class="sendeq mt-1">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#ownerenq" (click)="ownid(ownerls?.id)"
              class="sendeq_link"><i class="fa fa-envelope"></i> Send Enquiry</a>
          </div>
          <div class="owlabel"><span>Owner at</span></div>
          <div class="cus-re-com" *ngFor="let ownlisting of ownerls?.listings; let i = index">
            <div *ngIf="i == 0">
              <a href="{{ siteUrl }}listing/{{ ownlisting?.slug }}" *ngIf="i == 0">
                <h4 innerHtml="{{ ownlisting?.title }}"></h4>
              </a>
              <a href="{{ siteUrl }}listing-category/{{
                  (ownlisting?.listingcategory)[0]?.category.parentCat.slug
                }}/{{ (ownlisting?.listingcategory)[0]?.category?.slug }}">
                <span innerHtml="{{
                    (ownlisting?.listingcategory)[0]?.category?.name
                  }}"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--owner end-->
    </div>
  </div>
</section>

<div class="horizontal_ads text-center com-mar-top-20">
  <ng-adsense></ng-adsense>
</div>
<section class="sec faqs_list pad6040 mar6040 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-head text-center">
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Do I Drive
            Traffic To My Website Using Wall Directory?</span>
        </h5>
        <p>
          Drive traffic to your website by adding links on pages that you
          create. leverage Walldirectory’s traffic to your advantage when your
          links are displayed to Walldirectory’s users.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> Is There A Free Trial
            Period To Use The Marketing Tools Provided By WallDirectory?</span>
        </h5>
        <p>
          A free subscription is provided. you can take all the time you want,
          Take advantage of the marketing tools, reap the benefits, and analyze
          the ROI.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> Why Should I Update
            My Business Page Regularly And Keep An Eye On My Alerts And Use The
            Dashboard?</span>
        </h5>
        <p>
          Verifying your info, updating your images, and refreshing the content
          keeps your business page
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> Why Should I Verify
            My Business Page After It Has Been Approved</span>
        </h5>
        <p>
          Your business page should always have the correct information, and to
          verify it, gives it a stamp of approval that the business owner is
          active and available for engagement... etc.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Can I Have My
            Business Page Without Competitor Links</span>
        </h5>
        <p>
          To have an optimized business page with no competitor display section
          and links, you need to subscribe to a local marketing package, where
          you business dashboard will include additional features to keep you
          more competitive.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Can I Have My
            Page Featured And Displayed Ahead Of Others?</span>
        </h5>
        <p>
          Gain total control and eliminate your competitor link when visitors
          are on your page by subscribing to a monthly marketing package.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> I Have New Website,
            Can I Keep My Business Page?</span>
        </h5>
        <p>
          When you have a new website with the same old link addresses, then the
          active links in WallDirectory’s business dashboard should reflect the
          correct links, and most often, in this case, the business owner does
          not need to change the links, for new website pages, the links should
          be same as the active site.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> Will WallDirectory
            Update And Verify The Info Of Added Business Pages?</span>
        </h5>
        <p>
          WallDirectory takes step to make sure that verified businesses are
          real and display correct information. We cross-check data provided
          with other social accounts relating to the submission.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Do I Get More
            Social Likes?</span>
        </h5>
        <p>
          Add social links on your business page and drive traffic to your
          social accounts and social review pages.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Do I Get More
            Leads?</span>
        </h5>
        <p>
          By using the digital marketing tools provided by WallDirectory, such
          as the “Lead Builder”, new promotion pages will be created and indexed
          by search engines, and viewed by more people.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> What Should I Do
            After My Business Page Is Approved?</span>
        </h5>
        <p>Start using the free tools provided to create ads and offers.</p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> Should I Share My
            Business Page In My Social Media Posts?</span>
        </h5>
        <p>
          You should share your business page on your social media. Mention and
          promote your business page on your social pages, groups and
          communities.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Do I Know When
            Someone In Interested In What I Am Offering?</span>
        </h5>
        <p>
          As a business owner, you get alerts every-time someone visits your
          page, reviews your page... etc. and also you can find all the alerts
          in your dashboard.
        </p>
      </div>

      <div class="col-lg-12 head-link">
        <h5>
          <span><i class="fa fa-question-circle faqIcon"></i> How Much Control I
            Have Over My Listing And Promotions?</span>
        </h5>
        <p>
          You can edit, delete and adjust your account settings, listing and
          promotion pages are easily accessed through the business owner
          dashboard
        </p>
      </div>
    </div>

    <div class="horizontal_ads text-center com-mar-top-20">
      <ng-adsense></ng-adsense>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ownerenq" tabindex="-1" role="dialog" aria-labelledby="ownerenq" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="">Contact Request</h4>
      </div>
      <div class="modal-body">
        <div class="row hom-cre-acc-right">
          <form class="s12" [formGroup]="ownerEnq" autocomplete="off">
            <div class="row">
              <div class="input-field col s12">
                <input type="email" class="validate" required formControlName="owneremail" />
                <label>Your Email(required)</label>
              </div>
              <span *ngIf="
                  !ownerEnq.get('owneremail').valid &&
                  ownerEnq.get('owneremail').touched
                " class="help-block">
                Please enter vaild email</span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea type="email" class="validate" required formControlName="ownermsg"></textarea>
                <label>Enquiry</label>
              </div>
              <span *ngIf="
                  !ownerEnq.get('ownermsg').valid &&
                  ownerEnq.get('ownermsg').touched
                " class="help-block">
                Please enter message</span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="hidden" value="{{ getid }}" name="ownerid" formControlName="ownerid" />
                <button type="text" class="btn-small waves-effect waves-light btn" (click)="onSubmitEnq()">
                  Send <i class="fa fa-spinner fa-spin" *ngIf="enqloader"></i>
                </button>
              </div>
            </div>

            <div *ngIf="errormsg" class="errormsgs">
              <div class="alert alert-danger">Message not send. Try Later.</div>
            </div>
            <div *ngIf="succmsg" class="sendmsgs">
              <div class="alert alert-success">
                Your enquiry send. We contact soon..
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>