<section class="tz-register">
  <div class="log-in-pop">
    <div class="log-in-pop-left">
      <app-sociallogin></app-sociallogin>
    </div>
    <div class="log-in-pop-right">
      <app-loginfrm></app-loginfrm>
    </div>
    <div class="container bgwhite">
      <h4 class="mb-2">Login to Browse Local Connections</h4>
      <p>
        Use your social logins to browse for deals added by local businesses.
        Login to connect and get alerts with local shoppers and businesses.
      </p>

      <div class=" ad1 mt-2 mb-2 text-center">
        <app-unit2></app-unit2>
      </div>
    </div>
  </div>
</section>