<div class="scroll_txt text-center">
  <a routerLink="/local-marketing" class="clocat">
    <i class="fa fa-angle-double-left"></i> Change Location
  </a>
  | {{ seocont?.title }} : Enabling Business Owners With Effective Marketing
  Tools
</div>

<!-- <div class="city_head banner-frm text-center pb-0"></div> -->

<section class="" id="qualifier">
  <div class="container">
    <div class="row align-item-center justify-content-center">
      <div class="col-lg-8 col-md-12 col-sm-12 mt-4">
        <img src="assets/landing/1localmarket.jpg" alt="{{ seocont?.title }}" />
        <h1 class="mt-2 mb-1">{{ seocont?.title }}</h1>
        <p innerHtml="{{ seocont.content }}"></p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 mt-4">
        <app-funnelfrm></app-funnelfrm>
      </div>
    </div>
  </div>
</section>

<!--MOBILE APP-->
<!--
<section class="land-web-app com-padd com-padd-redu-top1 mt-3">
  <div class="container">
    <div class="com-title text-left">
      <h2>Be the Best in your <span>State</span></h2>
      <p>
        Get listed, rated and shared. Compete with other local retailers and
        contractors, offer free estimates, and advertise your promotions at the
        local directory.
      </p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="land_page_state1 text-center">
          <div class="state_list_link">
            <a href="/listing-region/alabama" title="Alabama">Alabama</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/alaska" title="Alaska">Alaska</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/arizona" title="Arizona">Arizona</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/arkansas" title="Arkansas">Arkansas</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/california" title="California"
              >California</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/colorado" title="Colorado">Colorado</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/connecticut" title="Connecticut"
              >Connecticut</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/delaware" title="Delaware">Delaware</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/florida" title="Florida">Florida</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/georgia" title="Georgia">Georgia</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/hawaii" title="Hawaii">Hawaii</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/idaho" title="Idaho">Idaho</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/illinois" title="Illinois">Illinois</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/indiana" title="Indiana">Indiana</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/iowa" title="Iowa">Iowa</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/kansas" title="Kansas">Kansas</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/kentucky" title="Kentucky">Kentucky</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/louisiana" title="Louisiana">Louisiana</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/maine" title="Maine">Maine</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/maryland" title="Maryland">Maryland</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/massachusetts" title="Massachusetts"
              >Massachusetts</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/michigan" title="Michigan">Michigan</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/minnesota" title="Minnesota">Minnesota</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/mississippi" title="Mississippi"
              >Mississippi</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/missouri" title="Missouri">Missouri</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/montana" title="Montana">Montana</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/nebraska" title="Nebraska">Nebraska</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/nevada" title="Nevada">Nevada</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/new-hampshire" title="New Hampshire"
              >New Hampshire</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/new-jersey" title="New Jersey"
              >New Jersey</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/new-mexico" title="New Mexico"
              >New Mexico</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/new-york" title="New York">New York</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/north-carolina" title="North Carolina"
              >North Carolina</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/north-dakota" title="North Dakota"
              >North Dakota</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/ohio" title="Ohio">Ohio</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/oklahoma" title="Oklahoma">Oklahoma</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/oregon" title="Oregon">Oregon</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/pennsylvania" title="Pennsylvania"
              >Pennsylvania</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/rhode-island" title="Rhode Island"
              >Rhode Island</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/south-carolina" title="South Carolina"
              >South Carolina</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/south-dakota" title="South Dakota"
              >South Dakota</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/tennessee" title="Tennessee">Tennessee</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/texas" title="Texas">Texas</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/utah" title="Utah">Utah</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/vermont" title="Vermont">Vermont</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/virginia" title="Virginia">Virginia</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/washington" title="Washington"
              >Washington</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/west-virginia" title="West Virginia"
              >West Virginia</a
            >
          </div>
          <div class="state_list_link">
            <a href="/listing-region/wisconsin" title="Wisconsin">Wisconsin</a>
          </div>
          <div class="state_list_link">
            <a href="/listing-region/wyoming" title="Wyoming">Wyoming</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<app-unit1></app-unit1>

<section class="sec blue-wrapper mb-0 city_ads">
  <div class="container">
    <div class="row freetry">
      <div class="col-md-6 text-center">
        <div class="h1">Try WallDirectory For Free:</div>

        <div class="start-promt">
          <a href="javascript:void(0)" (click)="scroll('qualifier')">
            <h3>
              Start Your Free Promotions
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </h3>
            <h5>Drive Traffic to Website for FREE Right Now</h5>
          </a>
        </div>

        <p class="font-italic font-dark">
          No obligation, no contract, cancel anytime, 100% free.
        </p>
      </div>

      <div class="col-md-6">
        <ul class="single-cityli">
          <li><i class="fa fa-check"></i> Market your website</li>
          <li><i class="fa fa-check"></i> Market your pages</li>
          <li><i class="fa fa-check"></i> Connect with leads</li>
          <li><i class="fa fa-check"></i> Improve online reputation</li>
          <li><i class="fa fa-check"></i> Track visitors</li>
        </ul>
      </div>

      <div class="col-md-12 single-city sp-note text-center font-weight-bold mt-md-3 mt-sm-2">
        <h2 class="mb-0">
          WallDirectory Gives You
          <span class="font-weight-bold">EVERYTHING</span> You Need to Reach,
          Connect, and Sell to Customers.
        </h2>
      </div>
    </div>
  </div>
</section>