<div class="container">
  <div class="payment_msgs text-center">
    <div *ngIf="orderId">
        <div><i class="p-success fa fa-check-circle"></i></div>
      <h3 class="mb-2 p-success">Subscription Added Successful.</h3>
      <p>
        You have Successfully made your Subscription. Please Check your registered
        email for Confirmation detail.
      </p>
    </div>
    <a routerLink="/add-business"
      ><i class="fa fa-angle-double-left"></i> Add Business Now</a
    >
    <a routerLink="/myaccount"
      ><i class="fa fa-angle-double-left"></i> Back to Dashboard</a
    >
  </div>
</div>
