<section>
  <div class="tz">

    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">

        <h4>Promote Your Business</h4>
        <div class="db-list-com tz-db-table">
          <div class="ds-boar-title">
            <h2>Choose Promotion Objective</h2>
            <p>Choose the purpose of this promotion now. What do you want your customers to do?.</p>
          </div>

          <div class="alert alert-danger" *ngIf="nullplan">
            <h3>No Package Subscription. <a routerLink="/plans" class="btn btn-small btn-success">Subscribe Now.</a>
            </h3>
          </div>

          <div class="alert alert-danger" *ngIf="planexp">
            <h3>Subscribed Package Expiry. <a routerLink="/plans" class="btn btn-small btn-success">Subscribe Now.</a>
            </h3>
          </div>

          <div class="alert alert-danger" *ngIf="noPromo">
            <h3>You have reached your business limit. Upgrade to add more business listings and promotions…
              Take advantage of the benefits now. <a routerLink="/plans" class="btn btn-small btn-success">Subscribe
                Now.</a></h3>
          </div>


          <div class="hom-cre-acc-right mt-3" *ngIf="allPromo">
            <div class="row text-center">
              <div class="col-md-3 col-sm-6">

                <!---Note: promotion(1317) subcategory(1312,1313,1314,1315) id added manually -->

                <div [ngClass]=" flag1 ? 'active package-pro' : 'package-pro' ">
                  <div class="mb-2"><img src="assets/images/icon/1.png" alt="Explore Promotion" /></div>
                  Explore<br> Promotion
                  <p>Drive traffic to website</p>
                  <a href="javascript:void(0)" [attr.data-promo]="1312" (click)="type1($event)"></a>
                </div>

              </div>

              <div class="col-md-3 col-sm-6">
                <div [ngClass]=" flag2 ? 'active package-pro' : 'package-pro'">
                  <div class="mb-2"><img src="assets/images/icon/2.png" alt="Engage Promotion" /></div>
                  Engage<br> Promotion
                  <p>Connect with leads</p>
                  <a href="javascript:void(0)" [attr.data-promo]="1313" (click)="type2($event)"></a>
                </div>
              </div>

              <div class="col-md-3 col-sm-6">
                <div [ngClass]=" flag3 ? 'active package-pro' : 'package-pro' ">
                  <div class="mb-2"><img src="assets/images/icon/3.png" alt="Shop Promotion" /></div>
                  Shop<br> Promotion
                  <p>Sell products or services</p>
                  <a href="javascript:void(0)" [attr.data-promo]="1314" (click)="type3($event)"></a>
                </div>
              </div>

              <div class="col-md-3 col-sm-6">
                <div [ngClass]=" flag4 ? 'active package-pro' : 'package-pro' ">
                  <div class="mb-2"><img src="assets/images/icon/7.png" alt="Review Promotion" /></div>
                  Review<br> Promotion
                  <p>Improve business reputation</p>
                  <a href="javascript:void(0)" [attr.data-promo]="1315" (click)="type4($event)"></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---link close-->

        <div class="db-list-com tz-db-table promot-form" id="form-promo">
          <div class="hom-cre-acc-right">
            <form [formGroup]="addpromo" *ngIf="allPromo">

              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5 class="mt-0">Promotion Details: </h5>
                  <p><span class="infonote"> * Required Field </span></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="promo_name" type="text" title="Promotion Title" class="validate"
                    formControlName="promo_name">
                  <label for="promo_name">Promotion Title <span>*</span></label>
                  <span *ngIf="!addpromo.get('promo_name').valid && addpromo.get('promo_name').touched"
                    class="help-block">Enter Promotion Title</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <select name="promo_type" id="promo_type" title="Promotion Type" formControlName="promo_type">
                    <option value="" selected> Promotion Type <span>*</span></option>
                    <option *ngFor="let typelist of typelist" [value]="typelist.id" [innerHtml]="typelist.name">
                    </option>
                  </select>

                  <span *ngIf="!addpromo.get('promo_type').valid && addpromo.get('promo_type').touched"
                    class="help-block">Select Promotion Type </span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="promo_url" type="text" title="Promotion Link" class="validate" formControlName="promo_url">
                  <label for="promo_url">Promotion Link <span>*</span></label>
                  <span *ngIf="!addpromo.get('promo_url').valid && addpromo.get('promo_url').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>


              <div class="row">
                <div class="input-field col s12">
                  <div class="select-wrapper">
                    <select name="promolabel" title="Promo Label" formControlName="promolabel" id="promolabel">
                      <option value="">Select Promo Label</option>
                      <option *ngFor="let listlabel of promolabels" [value]="listlabel.id" [innerHtml]="listlabel.name">
                      </option>
                    </select>
                    <span *ngIf="!addpromo.get('promolabel').valid && addpromo.get('promolabel').touched"
                      class="help-block">Select Label </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <select name="promo_cate" id="promo_cate" title="Promotion Category"
                    (change)="onSelect($event.target.value)" formControlName="promo_cate">
                    <option value="" selected>Promotion Category *</option>
                    <option *ngFor="let listcate of listCates" [value]="listcate.id" [innerHtml]="listcate.name">
                    </option>
                  </select>
                  <span *ngIf="!addpromo.get('promo_cate').valid && addpromo.get('promo_cate').touched"
                    class="help-block">Select Main Category </span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <div class="select-wrapper">
                    <select name="promo_scate" id="promo_scate" title="Promotion Sub-Category"
                      formControlName="promo_scate">
                      <option value="" selected>Promotion Sub-Category *</option>
                      <option *ngFor="let listsubcate of subCates" [value]="listsubcate.id"
                        [innerHtml]="listsubcate.name"></option>
                    </select>
                    <i class="fa fa-spin fa-spinner" *ngIf="cateloader"></i>
                    <span *ngIf="!addpromo.get('promo_scate').valid && addpromo.get('promo_scate').touched"
                      class="help-block">Select related Category </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <select name="promo_loc" id="promo_loc" title="Promotion Location" formControlName="promo_loc"
                    (change)="onLoc($event.target.value)">
                    <option value="" selected="selected">Promotion Location * </option>
                    <option *ngFor="let listReg of listRegs" [value]="listReg.id" [innerHtml]="listReg.name"></option>
                  </select>
                  <span *ngIf="
                                  !addpromo.get('promo_loc').valid && addpromo.get('promo_loc').touched"
                    class="help-block">Select State</span>
                  <div class="loc_other  mt-1 mb-1 alert alert-danger" *ngIf="stateloc">
                    <p class="text-center">Only PAID user can post business on OTHER location - Outside USA.</p>
                    <p class="text-center">Please <a class="waves-effect waves-light btn green" href="/plan">UPGRADE</a>
                    </p>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="input-field col s12">
                  <input id="promo_add" type="text" title="Enter Promotion Address" (keyup)="onKey($event)"
                    value="{{this.locatclick}}" class="validate" formControlName="promo_add">
                  <input id="promo_add_selected" type="hidden" value="{{this.selectedLoc}}"
                    formControlName="promo_add_selected">
                  <label for="promo_add">Promotion Address <span>*</span></label>
                  <span *ngIf="!addpromo.get('promo_add').valid && addpromo.get('promo_add').touched"
                    class="help-block">Enter Address</span>

                  <ul class="addFetch" *ngIf="locatadd">
                    <li *ngFor="let locatlist of locatadd">
                      <span (click)="getlocAdd($event); setlocAdd($event);"
                        [attr.data-latlan]="locatlist.point.coordinates">{{locatlist.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <!-- <textarea title="Promo Descriptions" id="promo_desc"  class="materialize-textarea" formControlName="promo_desc"></textarea>
                            <label for="promo_desc" class="">Promo Descriptions</label> -->
                  <angular-editor id="buss_promo_descdesc" title="Promo Description" class="materialize-textarea"
                    formControlName="promo_desc" [config]="config"></angular-editor>
                  <span *ngIf="!addpromo.get('promo_desc').valid && addpromo.get('promo_desc').touched"
                    class="help-block">Enter Descriptions </span>
                </div>
              </div>

              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>Contact Details: </h5>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="promo_email" type="email" title="Email Address" class="validate"
                    formControlName="promo_email">
                  <label for="promo_email">Email Address <span>*</span></label>
                  <span *ngIf="!addpromo.get('promo_email').valid && addpromo.get('promo_email').touched"
                    class="help-block">Enter promo email</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="promo_phone" type="text" title="Phone Number" class="validate" formControlName="promo_phone">
                  <label for="promo_phone">Phone Number <span>*</span></label>

                  <span *ngIf="!addpromo.get('promo_phone').valid && addpromo.get('promo_phone').touched"
                    class="help-block">Enter valid phone number. </span>
                </div>
              </div>

              <div class="row">
                <!-- <div class="input-field col s3">
                              <select id="promo_mob_cd"  class="validate" title="Mobile Prefix Code"   formControlName="promo_mob_cd">
                                <option value="" selected>Prefix Code</option>
                                <option *ngFor="let listcode of mobCodes" [value]="listcode.country">{{listcode.country}} - ({{listcode.code}}) </option>
                              </select>
                              <span *ngIf="addpromo.get('promo_mobile').value!='' &&   addpromo.get('promo_mob_cd').value=='' " class="help-block">Select Prefix</span>
                          </div> -->

                <div class="input-field col s12">
                  <input id="promo_mobile" type="text" class="validate" title="Mobile Number"
                    formControlName="promo_mobile">
                  <label for="promo_mobile">Mobile Number</label>
                  <span *ngIf="addpromo.controls['promo_mobile'].hasError('pattern')" class="help-block">Enter 10 digits
                    no.</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="promo_web" type="url" title="Website Url" class="validate" formControlName="promo_web">
                  <label for="promo_web">Website Url <span>*</span></label>
                  <!--         <span *ngIf="!addpromo.get('promo_web').valid && addpromo.get('promo_web').touched" class="help-block">Enter valid url </span>
                               -->
                  <span
                    *ngIf="!addpromo.get('promo_web').valid && addpromo.get('promo_web').value!='' && addpromo.get('promo_web').touched"
                    class="help-block">Enter valid url </span>
                  <span
                    *ngIf="!addpromo.get('promo_web').valid && addpromo.get('promo_web').value=='' && addpromo.get('promo_web').touched"
                    class="help-block">Enter Website Url</span>
                  <span class="infonote">Ex: http://websitename.com</span>
                </div>
              </div>

              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>Social Media Informations:</h5>
                </div>
                <div class="col">
                  <p><em>Have at least ONE of the following</em></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_fb" title="Facebook Url" class="validate" formControlName="promo_fb">
                  <label>https://www.facebook.com/business-name</label>
                  <span *ngIf="!addpromo.get('promo_fb').valid && addpromo.get('promo_fb').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_yt" title="Youtube Url" class="validate" formControlName="promo_yt">
                  <label>https://www.youtube.com/business-name</label>
                  <span *ngIf="!addpromo.get('promo_yt').valid && addpromo.get('promo_yt').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_tw" title="Twitter Url" class="validate" formControlName="promo_tw">
                  <label>https://www.twitter.com/business-name</label>
                  <span *ngIf="!addpromo.get('promo_tw').valid && addpromo.get('promo_tw').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_inst" title="Instagram Url" class="validate"
                    formControlName="promo_inst">
                  <label>https://www.instagram.com/business-name</label>
                  <span *ngIf="!addpromo.get('promo_inst').valid && addpromo.get('promo_inst').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_linked" title="LinkedIn Url" class="validate"
                    formControlName="promo_linked">
                  <label>https://www.linkedin.com/business-name</label>
                  <span *ngIf="!addpromo.get('promo_linked').valid && addpromo.get('promo_linked').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_pint" title="Pinterest Url" class="validate"
                    formControlName="promo_pint">
                  <label>https://www.pinterest.com/business-name</label>
                  <span *ngIf="!addpromo.get('promo_pint').valid && addpromo.get('promo_pint').touched"
                    class="help-block">Enter valid url </span>
                </div>
              </div>

              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>Logo <sup>*</sup></h5><span class="v2-db-form-note">(image size 150x100):</span>
                </div>
              </div>
              <div class="row tz-file-upload">
                <div [ngClass]="fimg ? 'col s2' : '' " *ngIf="fimg">
                  <img src="{{fimg}}" alt="Logo" />
                </div>
                <div [ngClass]="fimg ? 'col s10' : 'col s12'">
                  <div class="file-field input-field">
                    <div class="tz-up-btn"> <span>Upload Image</span>
                      <input type="file" name="logo" title="Logo" (change)="logoUpload($event)"
                        formControlName="promo_logo" accept="image/png, image/jpeg">
                    </div>
                    <div class="file-path-wrapper db-v2-pg-inp">
                      <input disabled class="file-path validate" type="text">
                    </div>
                    <span *ngIf="!addpromo.get('promo_logo').valid && addpromo.get('promo_logo').touched"
                      class="help-block">Upload Logo</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>Banner Image </h5><span class="v2-db-form-note">(image size 1350x500):</span>
                </div>
              </div>
              <div class="row tz-file-upload">
                <div [ngClass]="cthumb ? 'col s2' : '' " *ngIf="cthumb">
                  <img src="{{cthumb}}" alt="Cover image" />
                </div>
                <div [ngClass]="cthumb ? 'col s10' : 'col s12'">
                  <div class="file-field input-field">
                    <div class="tz-up-btn"> <span>Upload Image</span>
                      <input type="file" name="coverimage" title="Cover Image" (change)="coverUpload($event)"
                        formControlName="promo_cimg" accept="image/png, image/jpeg">
                    </div>
                    <div class="file-path-wrapper db-v2-pg-inp">
                      <input disabled class="file-path validate" type="text">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>Photo Gallery </h5><span class="v2-db-form-note">(upload multiple photos note:size
                    750x500):</span>
                </div>
              </div>
              <div class="row tz-file-upload">
                <div class="file-field input-field">
                  <div class="tz-up-btn"> <span>Upload Images</span>
                    <input type="file" title="Gallery multiple Image" formControlName="promo_gall"
                      (change)="galleryUpload($event)" multiple name="gallimage" accept="image/png, image/jpeg">
                  </div>
                  <div class="file-path-wrapper db-v2-pg-inp">
                    <input disabled class="file-path validate" type="text">
                  </div>
                </div>
                <div *ngIf="galluploaded">
                  <span class="fa fa-spinner fa-spin"></span> Uploading...
                </div>
              </div>


              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>Video Url </h5><span class="v2-db-form-note">(Youtube / Vimeo) </span>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="promo_vurl" title="Video Url" class="validate" formControlName="promo_vurl">
                  <label>Video Url </label>
                  <span *ngIf="!addpromo.get('promo_vurl').valid && addpromo.get('promo_vurl').touched"
                    class="help-block">Enter valid url</span>
                </div>
              </div>


              <div class="row">
                <div class="db-v2-list-form-inn-tit">
                  <h5>360 Degree Map (copy and paste your Embed a map code):</h5>
                  <div class="note360"><a href="assets/images/360note.jpg" target="_blank"> Example: click here</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" title="360 Degree iframe Code" class="validate" formControlName="map">
                  <label>Embed a map</label>
                </div>
              </div>


              <div class="divider mt-2"></div>

              <div class="row">
                <div class="col s12 hom-cr-acc-check mt-1">
                  <input type="checkbox" title="Terms and Conditions" id="term" required formControlName="term">
                  <label for="term">I Have Read and Accept <a routerLink="/terms-and-conditions" class="termlink"
                      target="_blank">Terms and Conditions.</a></label>
                  <span *ngIf="!addpromo.get('term').valid && addpromo.get('term').touched" class="help-block">Field
                    required</span>

                </div>
              </div>

              <div class="row">
                <input type="hidden" name="plan_id" formControlName="plan_id" />
                <input type="hidden" name="billing_id" formControlName="billing_id" />

                <div class="input-field col s12 v2-mar-top-40">
                  <button type="submit" title="Submit Promotion" class="waves-effect waves-light btn-large full-btn"
                    (click)="onSubmit()">Submit Promotion <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                </div>
              </div>

              <div class="alert alert-success" *ngIf="successmsg">
                <h3>New promotion has been added successfully.</h3>
              </div>

              <div class="alert alert-danger" *ngIf="errormsg">
                <h3>{{errormsg}}</h3>
              </div>

              <div class="loc_other  mt-1 mb-1 alert alert-danger" *ngIf="statelocsub">
                <p class="text-center">Only PAID user can post business on OTHER location - Outside USA.</p>
                <p class="text-center">Please <a class="waves-effect waves-light btn green" href="/plan">UPGRADE</a></p>
              </div>

            </form>
          </div>
        </div>
        <div class="mt-2 mb-1">
          <app-unit5></app-unit5>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>

  </div>
</section>
<!--END DASHBOARD-->


<!--
  <div>
  <button (click)="ShowButton()">Show Result</button>
  <button (click)="HideButton()">Hide Result</button>
  <div *ngIf="showSelected" >Result Found</div>
</div>

<div [ngClass]=" flag1 ? 'alert alert-success' : 'alert alert-danger'"   (click)="type1()">
  test1
</div>
<br>
<div [ngClass]=" flag2 ? 'alert alert-success' : 'alert alert-danger'"  (click)="type2()">
  test2
</div>
<br>
<div [ngClass]=" flag3 ? 'alert alert-success' : 'alert alert-danger'"  (click)="type3()">
    test3
</div>
<div [ngClass]=" flag4 ? 'alert alert-success' : 'alert alert-danger'"  (click)="type4()">
    test4
</div>

<div class="test1" *ngIf="flag1"> content 1 </div><br>
<div class="test2" *ngIf="flag2"> content 2 </div><br>
<div class="test3" *ngIf="flag3"> content 3 </div>
<div class="test3" *ngIf="flag4"> content 4 </div>
-->