<!--LEFT SECTION-->
<div class="tz-l dash_menu">
  <div class="tz-l-1">
    <ul class="user_ac_detail">
      <li>
        <img
          src="{{ imgPath }}{{ this.userdet?.userimage?.small }}"
          alt="User Photo"
          *ngIf="proimg"
        />
        <img
          src="assets/images/default-profile.jpg"
          alt="User Photo"
          *ngIf="!proimg"
        />
      </li>
      <li>
        <span>{{ profcomplet || 0 }}%</span> Profile Completed.
      </li>
    </ul>
  </div>
  <div class="tz-l-2">
    <ul>
      <li>
        <a href="/agent"
          ><img src="assets/images/icon/dbl1.png" alt="" /> My Dashboard</a
        >
      </li>
      <li>
        <a href="/agent/profile"
          ><img src="assets/images/icon/dbl6.png" alt="" /> Profile</a
        >
      </li>
      <li>
        <a href="/agent/customers"
          ><img src="assets/images/icon/team.png" alt="" /> Customers</a
        >
      </li>
      <li>
        <a href="/agent/commissions"
          ><img src="assets/images/icon/dbl9.png" alt="" />Commissions</a
        >
      </li>
      <li>
        <a routerLink="/agent/leads"
          ><img src="assets/images/icon/dbl7.png" alt="" />Leads</a
        >
      </li>
      <li>
        <a routerLink="/agent/create-lead"
          ><img src="assets/images/icon/g1.png" alt="" />Create Lead</a
        >
      </li>
      <li>
        <a routerLink="/logout"
          ><img src="assets/images/icon/dbl12.png" alt="user profile" />Logout</a
        >
      </li>
    </ul>
  </div>
</div>
