<!--landing page-->
<div class="pt-5 pb-5 pack_banner">
  <div class="container">
    <h3 class="text-center text-uppercase mb-4">
      Sign up to create a lead generating landing page for 3 months. Get access
      unlimited landing page creator and SEO tools here
    </h3>
    <div class="row pricing_main_wrap">
      <div class="col-md-12">
        <div class="pricing_wrap text-center">
          <div class="row m-0">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="package">
                <div class="pack_title">
                  <h3>Landing Page</h3>
                </div>
                <div class="pack_sub_title">MONTHLY PACKAGE</div>
                <div class="pack_plan">
                  <!-- <div class="pack_wrap">
                    <input (change)="handleChange($event)" [attr.data-pack]="162" data-value="month" type="radio"
                      id="bmonth" name="basic" value="month" checked="" />
                    <label for="bmonth">Monthly</label>
                    <input (change)="handleChange($event)" [attr.data-pack]="5640" data-value="onetime" type="radio"
                      id="botime" name="basic" value="onetime" />
                    <label for="botime">One Time</label>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="pack_amount">
                <sup>$</sup>9.95<span> / Monthly</span>
              </div>
              <!-- <div class="pack_amount" *ngIf="pack1"><sup>$</sup>239.97</div> -->
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <a (click)="checkout('162', '1')" class="waves-effect waves-light btn-large">ORDER NOW</a>
              <!--   <a *ngIf="pack1" (click)="checkout('5640', '1')" class="waves-effect waves-light btn-large">ORDER NOW</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row single_pk_wrap text-center">
      <div class="col-md-12 mt-3">
        <p>
          Increase your conversion rate here. Generate unlimited leads and
          engage with interested shoppers. Use the Lead capture landing page
          builder to connect with committed prospects. Use your custom business
          pages to connect and convert visitors to customers. Get unlimited
          quality leads with this advertising campaign. Get Unlimited Leads with
          this subscription.
        </p>
      </div>
      <div class="col-md-6">
        <div class="serv_desc mt-4 mb-4">
          <h4>Access All Tools</h4>
          <p>Use an effective and simple platform</p>
          <ul>
            <li>Link building tool</li>
            <li>Landing page creation tool</li>
            <li>Lead generation tools</li>
            <li>Customer retention tools</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="serv_desc mt-4 mb-4">
          <h4>Benefits</h4>
          <p>Do Not Pay Per Lead Anymore!</p>
          <ul>
            <li>Generate Unlimited Leads</li>
            <li>Use a simple CRM Platform for alerts and reporting</li>
            <li>Get an email list builder</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="plan_services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="servsec clearfix">
          <div class="row">
            <div class="col-md-6 text-center">
              <div class="row">
                <div class="col-md-12 inner_plist">
                  <h1>Join the Local Business Network</h1>
                  <a href="/register" class="waves-effect waves-light btn-large mt-2 mb-1 b-0">Create a Business Owner
                    Profile</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 mt-1 mb-1 inner_plist">
                  <div class="plsr">
                    <a href="/local-marketing" class="waves-effect waves-light btn-large full-btn">Local Marketing
                      Tools</a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 mt-1 mb-1 inner_plist">
                  <div class="plsr">
                    <a href="/audience-interest" class="waves-effect waves-light btn-large full-btn">Audience interest
                      Tools</a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 mt-1 mb-1 inner_plist">
                  <div class="plsr">
                    <a href="/value-marketing" class="waves-effect waves-light btn-large full-btn">Value Marketing
                      Tools</a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 mt-1 mb-1 inner_plist">
                  <div class="plsr">
                    <a href="/target-audience" class="waves-effect waves-light btn-large full-btn">Targeting Audience
                      Tools</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="price_detail_cont text-center mt-5">
      <h2 class="mb-3">Boost your Website’s Search Rank Now!</h2>
      <p>Drive traffic to website</p>
      <p>Generate leads</p>
      <p>Convert leads to customers</p>
      <p>Build and manage customer relationships</p>
    </div>
  </div>
</div>

<div class="mt-1 mb-1">
  <app-unit1></app-unit1>
</div>

<div class="pricing_faq mt-3 mb-5">
  <div class="container">
    <div class="row m0">
      <div class="col-md-12 pl0">
        <h3 class="text-center">Frequently Asked Questions</h3>

        <div class="panel-group mt-2" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle  collapse show" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb1">
              <h4 class="panel-title">
                Why add a business description to the directory?
              </h4>
            </div>
            <div id="tb1" class="panel-collapsecollapse in ">
              <div class="panel-body">
                <p>
                  Shoppers are searching using keywords. when you add a relevant
                  description using keywords, you increase the chances to appear
                  in the shopper’s search results.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb2">
              <h4 class="panel-title">
                Why add a business contact information to the local page?
              </h4>
            </div>
            <div id="tb2" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Making it possible for online leads to easily contact you is
                  essential to making the sale. Get alerts, choose your leads
                  and message prospects to make the sale.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb3">
              <h4 class="panel-title">
                Why add business photos to the listing?
              </h4>
            </div>
            <div id="tb3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Upload business photos to you page so customers can visually
                  relate to your brand and offerings. Add product and project
                  photos to tell your story.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb4">
              <h4 class="panel-title">
                Why add a business address online?
              </h4>
            </div>
            <div id="tb4" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Add business location to your online page to target local
                  shoppers. Introduce your professional establishment to locals
                  and drive customers to your shop, restaurant or office.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb5">
              <h4 class="panel-title">
                Why add social links to a profile?
              </h4>
            </div>
            <div id="tb5" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Engage and grow your follower base, get more subscribers and
                  connect with customers through social media. Get more traffic
                  to your social business pages.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb6">
              <h4 class="panel-title">
                Why add a phone number to your landing page?
              </h4>
            </div>
            <div id="tb6" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Get calls and text messages from customers interested in your
                  business, products or service. Get instant phone alerts when
                  someone is shopping for what your are selling.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb7">
              <h4 class="panel-title">
                Why add a video to the website listing?
              </h4>
            </div>
            <div id="tb7" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Adding an explainer or a promotional video increases customer
                  engagement and improves brand recognition. Get more
                  subscribers when you add video links.
                </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
              data-target="#tb8">
              <h4 class="panel-title">
                Why add a website link to the directory?
              </h4>
            </div>
            <div id="tb8" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Improve your online page reputation with a strategic link
                  building campaigns and rank higher in local search results.
                  adding a link to your business page drives online traffic to
                  your website. Free & Paid Directory Submission for Business &
                  Local Listing Site USA
                  <a href="https://walldirectory.com"></a> Type a message
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--accordion-->

        <ng-adsense></ng-adsense>
      </div>

    </div>
  </div>
</div>