<section class="tz-register">
  <div class="log-in-pop">
    <div class="log-in-pop-left">
      <p>
        Don't have an account? Create your account. It's take less then a
        minutes
      </p>
      <h4>Login with social media</h4>
      <ul>
        <li>
          <a href="#"><i class="fa fa-facebook"></i> Facebook</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
      </ul>
    </div>

    <div class="log-in-pop-right" *ngIf="!vaildtoken">
      <h3 class="errormsgs">Invalid URL Check your email / Try again!</h3>
    </div>

    <div class="log-in-pop-right" *ngIf="vaildtoken">
      <h4>Reset Password</h4>
      <p>Create your new login password.</p>

      <form class="s12 " autocomplete="off" [formGroup]="resetForm">
        <div *ngIf="errormsg" class="errormsgs">
          {{ errormsg }}
        </div>
        <div *ngIf="sendmsg" class="sendmsgs">
          Password has been reset successfully. Now redirecting to login...
        </div>

        <div>
          <div class="input-field s12">
            <input
              type="password"
              minLength="6"
              class="validate"
              formControlName="pass"
            />
            <label>New Password</label>
          </div>

          <span
            *ngIf="resetForm.controls['pass'].hasError('minlength')"
            class="help-block"
          >
            Enter Min. 6 characters
          </span>
          <span
            *ngIf="
              resetForm.controls['pass'].hasError('required') &&
              !resetForm.get('pass').valid &&
              resetForm.get('pass').touched
            "
            class="help-block"
          >
            Enter password
          </span>
        </div>

        <div>
          <div class="input-field s12">
            <input
              type="password"
              minLength="6"
              class="validate"
              formControlName="cpass"
            />
            <label>Confirm password</label>
          </div>

          <span
            *ngIf="resetForm.controls['cpass'].hasError('minlength')"
            class="help-block"
          >
            Enter Min. 6 characters
          </span>
          <span
            *ngIf="
              resetForm.controls['cpass'].hasError('required') &&
              !resetForm.get('cpass').valid &&
              resetForm.get('cpass').touched
            "
            class="help-block"
          >
            Enter Confirm password
          </span>

          <span
            *ngIf="
              resetForm.get('pass').value != '' &&
              resetForm.controls['cpass'].valid &&
              resetForm.get('cpass').value != '' &&
              resetForm.get('pass').value !== resetForm.get('cpass').value
            "
            class="help-block"
          >
            Mismatch password</span
          >
        </div>

        <div>
          <div class="input-field s4">
            <button
              type="submit"
              class="waves-effect waves-light reset-in-btn waves-input-wrapper"
              (click)="onSubmit()"
            >
              <i [ngClass]="loader ? 'fa fa-spinner fa-spin' : ''"></i> Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
