<h4>Login</h4>
<p>Manage your business page and online promotions. Engage with leads here.</p>
<form class="s12" autocomplete="off" [formGroup]="loginForm">
  <div *ngIf="errormsg" class="errormsgs">
    {{ errormsg }}
  </div>

  <div>
    <div class="input-field s12">
      <input
        type="text"
        name="log_username"
        class="validate"
        formControlName="user"
      />
      <label>User name / Email</label>
    </div>
    <span
      *ngIf="!loginForm.get('user').valid && loginForm.get('user').touched"
      class="help-block"
      >Please enter username / email
    </span>
  </div>
  <div>
    <div class="input-field s12">
      <input
        type="password"
        name="log_password"
        class="validate"
        formControlName="pass"
      />
      <label>Password</label>
    </div>
    <span
      *ngIf="!loginForm.get('pass').valid && loginForm.get('pass').touched"
      class="help-block"
    >
      Please enter password</span
    >
  </div>
  <div>
    <div class="input-field s4">
      <button
        type="submit"
        class="waves-effect waves-light log-in-btn"
        (click)="onSubmit()"
      >
        Login <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
      </button>
    </div>
  </div>

  <div>
    <div class="input-field s12">
      <a routerLink="/forgot-password">Forgot password</a> |
      <a routerLink="/register">Create a new account</a>
    </div>
  </div>
</form>
