<!--RIGHT SECTION-->
<div class="tz-3 mb-2">
  <div class="text-center ad_plan_box">
    <ul>
      <li>
        <img
          src="assets/images/icon/004-subscribe.svg"
          width="80"
          alt="Upgrade Plan"
        />
        <h5 class="mt-1">Add more Businesses and Promotions</h5>
        <a href="/plans" class="mt-1 btn btn-small btn-success">Upgrade Plan</a>
      </li>
    </ul>
  </div>

  <div class="msg_nodifications">
    <h4>
      Notifications ({{ nodifyList_count ? nodifyList_count : "0" }}
      <span style="font-size: 12px; color: #fff;">Unread</span>)
    </h4>
    <div class="text-center mt-2 mb-2">
      <a href="/messages" class="waves-effect waves-light btn vallmessage"
        >READ ALL</a
      >
      <a
        href="javascript:void(0)"
        (click)="readall()"
        class="waves-effect waves-light btn vallmessage clearall"
        *ngIf="nodifyList_count"
        >MARK ALL AS READ</a
      >
    </div>
    <ul *ngIf="nodifyList_count">
      <li *ngFor="let msg of nodifyList; let i = index">
        <a href="/single-message/{{ msg.id }}">
          <h5>{{ msg?.title }}</h5>
          <div class="msgdate">
            <em>{{ msg?.created_at | date: "LLL dd, yyyy" }}</em>
          </div>
          <p>{{ msg?.description.substr(0, 50) }}...</p>
        </a>
      </li>
    </ul>
  </div>
</div>
