<section class="agent-wrapper">
  <div class="tz">
    <!--LEFT SECTION-->
    <app-agentsidebar class="desk_dashnav"></app-agentsidebar>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>Earning commissions</h4>
      </div>
      <div class="agent-content">
        <div _ngcontent-c4="" class="ds-boar-title">
          <h2 _ngcontent-c4="">Commissions</h2>
          <p _ngcontent-c4="">Here is a list of your earned commission</p>
        </div>

        <div class="table-responsive">
          <div class="alert alert-success mb-2" *ngIf="reqsucc">
            {{ reqsucc }}
          </div>
          <div class="alert alert-danger mb-2" *ngIf="reqfail">
            Request not send, Try later!
          </div>

          <table class="table table-striped table-bordered">
            <tr>
              <th>Sno</th>
              <th>Invoice no</th>
              <th>Amount</th>
              <th>Sales by</th>
              <th>Date</th>
              <th>Request</th>
            </tr>
            <tr *ngFor="let ls of commdetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ ls.id }}</td>
              <td>
                {{
                  ls.plan.commission.amount
                    ? "$" + ls.plan.commission.amount
                    : ""
                }}
              </td>
              <td>{{ ls.user.first_name }} {{ ls.user.last_name }}</td>
              <td>{{ ls.order_date | date: "MMM, dd yyyy" }}</td>
              <td>
                <a
                  href="javascript:void(0)"
                  class="btn btn-success"
                  [attr.data-orderid]="ls.id"
                  [attr.data-amount]="500"
                  (click)="requestadmin($event)"
                  *ngIf="!ls.payrequests"
                >
                  <i class="fa fa-money"></i> Request to Pay
                  <i class="fa fa-spin fa-spinner" *ngIf="load"></i
                ></a>
                <a
                  href="javascript:void(0)"
                  class="btn btn-warning"
                  *ngIf="ls.payrequests"
                  >{{ ls.payrequests.status }}
                </a>
              </td>
            </tr>
            <tr *ngIf="commdetails.length == 0">
              <td colspan="6">No Commission Found</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
	
	<app-agentsidebar class="mobile_dashnav"></app-agentsidebar>
  </div>
</section>
