.log-in-pop-right {
  width: 100%;
}
#agentregisterform input.validate,
#agentregisterform input.valid {
  border: 1px solid #dfdfdf;
  box-shadow: none;
}
.tz-register.career-page h1 {
  font-size: 32px;
}
.tz-register.career-page {
  background: none;
}
.tz-register.career-page::before {
  display: none;
}
.career-page .log-in-pop {
  width: 100%;
  color: #fff;
}
.career-page .log-in-pop-right {
  background: #243b54;
}
.career-page .log-in-pop h4 {
  font-size: 21px;
}
.career-page .log-in-pop h4,
#agentregisterform a,
.career-page .log-in-pop-right p {
  color: #fff;
}

.career-page .log-in-pop-right form input {
  background-color: #fff;
}
#agentregisterform .col-md-6:first-child {
  padding-left: 8px;
}
#agentregisterform .col-md-6:last-child {
  padding-right: 8px;
}
.note-career {
  background-color: #f3672f;
  font-size: 18px;
  padding: 0 10%;
}
.note-career p {
  padding: 30px 0;
  margin: 0;
  color: #fff;
}
.fa-angle-right {
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
  color: #f3672f;
}
