<section class="tz-register career-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 com-mar-top-30">
        <h1 class="text-center">Job Open for Part and Full Time Income</h1>
        <div class="com-mar-top-20 com-mar-bot-20 text-center">
          <img src="assets/images/passive-income-with-sales-agent-job.jpg" alt="Passive Income with Sales Agent Job" />
        </div>
        <ul>
          <li>
            Sign up for a passive income strategy and sand create a revenue
            stream.
          </li>
          <li>Get paid 30% of sales made to your Leads.</li>
          <li>Just connect with leads and turn them to customers.</li>
        </ul>
        <h2 class="mb-1">Open Sales Position Overview</h2>
        <p>
          We are looking for Sales Agents who are interested in offering our
          services to business owners located in their neighborhood and
          cultivate relationships and take our sales to the next level.
        </p>
        <p>
          If you are looking for a sales job, stat a job with us. Recruit and
          refer businesses to our business network
        </p>
        <ul>
          <li>
            Commission based, Get paid 30% of Sales from recruited customers.
          </li>
          <li>
            Use your preferred recruitment strategy to connect with your target
            business.
          </li>
          <li>Use provided marketing materials to build your own lead list.</li>
        </ul>
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="log-in-pop">
          <div class="log-in-pop-right">
            <!--
                  <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt=""></a>
                  -->
            <h4>CAREER - Become a Sales Agent</h4>
            <p>
              Don't have an account as an Agent? <b>Create your account</b> and
              be a part of Wall Directory. It's take less than a minutes
            </p>
            <form class="s12" autocomplete="off" id="agentregisterform" [formGroup]="registerForm">
              <div *ngIf="errormsg" class="errormsgs">
                {{ errormsg }}
              </div>
              <div *ngIf="sendmsg" class="sendmsgs">
                You have signed up successfully, Admin approve your account
                soon..
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div>
                    <div class="s12">
                      <input type="text" data-ng-model="name1" class="validate" placeholder="First name"
                        formControlName="fname" />
                    </div>
                    <span *ngIf="
                        !registerForm.get('fname').valid &&
                        registerForm.get('fname').touched
                      " class="help-block">
                      Please enter firstname</span>
                  </div>
                </div>
                <div class="col-md-6 pl-5">
                  <div>
                    <div class="s12">
                      <input type="text" placeholder="Last name" class="validate" formControlName="lname" />
                    </div>
                    <span *ngIf="
                        !registerForm.get('lname').valid &&
                        registerForm.get('lname').touched
                      " class="help-block">
                      Please enter lastname</span>
                  </div>
                </div>
              </div>

              <div>
                <div class="input-field s12">
                  <input type="email" placeholder="Email id" class="validate" formControlName="email" />
                </div>
                <span *ngIf="
                    !registerForm.get('email').valid &&
                    registerForm.get('email').touched
                  " class="help-block">
                  Enter valid email</span>
              </div>
              <div>
                <div class="input-field s12">
                  <input type="password" minLength="6" class="validate" formControlName="pass" placeholder="Password" />
                </div>

                <span *ngIf="registerForm.controls['pass'].hasError('minlength')" class="help-block">
                  Enter Min. 6 characters
                </span>
                <span *ngIf="
                    registerForm.controls['pass'].hasError('required') &&
                    !registerForm.get('pass').valid &&
                    registerForm.get('pass').touched
                  " class="help-block">
                  Enter password
                </span>
              </div>

              <div>
                <div class="input-field s12">
                  <input type="password" minLength="6" class="validate" formControlName="cpass"
                    placeholder="Confirm password" />
                </div>

                <span *ngIf="registerForm.controls['cpass'].hasError('minlength')" class="help-block">
                  Enter Min. 6 characters
                </span>
                <span *ngIf="
                    registerForm.controls['cpass'].hasError('required') &&
                    !registerForm.get('cpass').valid &&
                    registerForm.get('cpass').touched
                  " class="help-block">
                  Enter Confirm password
                </span>

                <span *ngIf="
                    registerForm.get('pass').value != '' &&
                    registerForm.controls['cpass'].valid &&
                    registerForm.get('cpass').value != '' &&
                    registerForm.get('pass').value !==
                      registerForm.get('cpass').value
                  " class="help-block">
                  Mismatch password</span>
              </div>

              <div class="col s12 terms_condition">
                <input type="checkbox" id="terms_check" formControlName="term" required />
                <label for="terms_check">I Agree with
                  <a routerLink="/terms-and-conditions" target="_blank">Terms & Conditions</a>
                  and
                  <a routerLink="/privacy-policy" target="_blank">Privacy Policy</a></label>
              </div>
              <span *ngIf="
                  !registerForm.get('term').valid &&
                  registerForm.get('term').touched
                " class="help-block">Field required</span>

              <div class="clearfix">
                <div class="input-field s4">
                  <button type="submit" class="waves-effect waves-light log-in-btn waves-input-wrapper"
                    (click)="onSubmit()">
                    Register
                    <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
                  </button>
                </div>
              </div>

              <div class="clearfix">
                <div class="input-field s12">
                  <a routerLink="/login">Are you a already member ? Login</a>
                </div>
              </div>
            </form>
          </div>

          <!-- <div class="container bgwhite">
                <h4 class="mb-2">Online Advertising Business Registration</h4>
                <p>
                  Join the online advertising network to start an effective online
                  advertising campaign. Create a business owner profile and a publically
                  searchable business page. Start adding business pages and advertisements
                  to your secure dashboard to get more local attention, calls and page
                  visitors.
                </p>
              </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="text-center note-career com-mar-top-30">
    <div class="container">
      <p>
        Start a Job with No Investment, Create a Passive Income and Get Paid
        with Every Referral!
      </p>
      <app-unit4></app-unit4>
    </div>
  </div>

  <div class="container mt-2">
    <p>
      Sign Up, Add Leads and Get Customers while sitting at home!<br />
      Send emails to the business owners you have in your contact list, social
      media and LinkedIn Accounts
    </p>
    <h3 class="mb-1">Sales Agent Duties</h3>
    <ul>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i> Cultivate and
        managing customer relationships.
      </li>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i> Create and pursue
        customer leads.
      </li>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i> Create and pursue
        customer leads.
      </li>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i> Identify and
        execute on opportunities to up-sell.
      </li>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i> Make cold calls to
        prospective customers.
      </li>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i> Manage emails and
        online connections to prospective customers.
      </li>
      <li>
        Follow sales leads and scheduling appointments with prospective
        customers.
      </li>
      <li>
        Follow up with customers and providing solutions, should a service
        concern arise.
      </li>
      <li>
        Solicit feedback from customers on services and implement appropriate
        follow-up action.
      </li>
      <li>
        Educate customers on the benefits of registering and adding pages in
        WallDirectory’s platform.
      </li>
    </ul>
    <h3 class="mb-1">We make it easy for you!</h3>
    <p>
      You get a FREE Sales Agent Dashboard where you can add LEADS and Reach
      Customers
      <strong>We Provide the incentive for business owners to sign up through
        you.</strong>
      The Business Owner will, use your code and, receive 20% Off for signing
      up.
    </p>

    <h3 class="mb-1">Sales Compensation</h3>
    <p>
      Get paid 30% of your total sales. Commission is released after the first
      7th sale, and after the trial period of every customer’s payment
      thereafter. Commission is easily tracked through the sales agent
      dashboard, and directly released to a Paypal or Venmo account.
    </p>
    <p>
      You are the boss as your income will depend on how smart your efforts are!
    </p>
    <p>
      Choose part time or full time position, Flexible hours and work from home.
    </p>
    <p>
      No requirements needed, No experience needed, Start a sales career without
      investing...Start Now!
    </p>
    <h3 class="mb-1">* Target Leads near you (Local)</h3>
    <p>
      (Approach Businesses near you, introduce WallDirectory’s services &
      benefits)
    </p>
    <p>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Add Leads and Send
      Email with your unique reference code (at your Sales Agent Dashboard)
    </p>
    <h3 class="mb-1">* Target Leads in your contact List</h3>
    <p>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Send emails to
      business owners and build your Leads List (at your Sales Agent Dashboard)
    </p>
    <br />
    <p>
      Your Passive Income Strategy starts by just adding Leads at your
      dashboard, and the rest is automated. Leads are business owners you know.
      Just keep building your leads list and keep the rest to us, but we
      recommend that you maintain a relationship with each subscriber to build
      customer loyalty
    </p>
  </div>
  <div class="container mt-1 mb-1">
    <app-unit4></app-unit4>
  </div>
  <div class="text-center note-career com-mar-top-30">
    <div class="container">
      <p>
        Use your Sales Agent Dashboard to add leads, track customers and collect
        commissions. <br />Request your commission payment here!
      </p>
    </div>
  </div>
  <div class="text-center container com-mar-top-30 com-mar-bot-30">
    <p>
      Sales Agents' Role and Business Owner Relationship Management is to
      Educate and inform business owners about the benefits of WallDirectory.
      Continuous communication with all parties is required to serve the
      business owner.
    </p>
  </div>
</section>