<div class="landing_banner audiencebg text-center">
  <div class="container">
    <div class="row row_align_center">
      <div class="col-md-8 col-sm-8">
        <div class="banner_wrapper">
          <h1>Digital Marketing Agency</h1>
          <h2>For Local Business Listing Services</h2>
          <div class="text-center mt-3">
            <a href="https://walldirectory.com/add-business" class="waves-effect waves-light btn">Get Listed</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-left">
        <app-funnelfrm2></app-funnelfrm2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h3 class="headtitle">We do Services</h3>
      <p>
        Wall Directory is a digital marketing agency. We provide local business
        listing services and help businesses of all kinds connect with
        customers.
      </p>
      <p>
        We are a network of social media, SEO, and business marketing experts
        with a decade of experience helping businesses expand their promotional
        efforts. From auto to travel, we understand that each business
        industryhas its own needs and that all businesses benefit from local
        marketing. Small and big businesses alike need internet visibility and
        organic activity to generate traffic to their business websites,
        encourage happy customers to leave positive reviews, and promote special
        deals.
        <a class="link" href="https://walldirectory.com/claim-your-business">Claim your business on Wall Directory
          now.</a>
      </p>
      <p>
        Most importantly, Wall Directory is a business, just like your business.
        We use the same tools you need from social media to business profiles,
        and we have an existing network of businesses and customers throughout
        the country. Connecting to our local business listing helps your
        business and strengthens the Wall Directory business network even
        further... everyone wins!
      </p>
    </div>
  </div>

  <div class="row mt-5 align-center-center">
    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/auto repair dealers.jpg')">
        <a href="/audience-interest/auto" title="Auto"> Auto</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/beauty gyms.jpg')">
        <a href="/audience-interest/health-beauty" title="Beauty & Wellness">
          Beauty & Wellness</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/education training.jpg')">
        <a href="/audience-interest/education" title="Education"> Education</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/entertainment events.jpg')">
        <a href="/audience-interest/entertainment" title="Entertainment">
          Entertainment</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/family care.jpg')">
        <a href="/audience-interest/family" title="Family"> Family</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/fashion stores.jpg')">
        <a href="/audience-interest/fashion" title="Fashion"> Fashion</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/financial accountants.jpg')">
        <a href="/audience-interest/financial" title="Financial"> Financial</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/food restaurants.jpg')">
        <a href="/audience-interest/food-drink" title="Food & Drink">
          Food & Drink</a>
      </div>
    </div>

    <div class=" text-center com-mar-top-20 mb-5">
      <app-unit4></app-unit4>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/home contractors.jpg')">
        <a href="/audience-interest/health-beauty" title="Home & Graden">
          Home & Graden</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/insurance agents.jpg')">
        <a href="/audience-interest/insurance" title="Insurance">Insurance</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/legal.jpg')">
        <a href="/audience-interest/legal" title="Legal">Legal</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/medical.jpg')">
        <a href="/audience-interest/medical" title="Medical">Medical</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/real-estate.jpg')">
        <a href="/audience-interest/real-estate" title="Real Estate">Real Estate</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/technology.jpg')">
        <a href="/audience-interest/technology" title="Technology">Technology</a>
      </div>
    </div>

    <div class="col-md-3  col-sm-6 col-xs-6 cate_list_link">
      <div class="cate_thumbs" style="background-image:url('assets/images/services/travel.jpg')">
        <a href="/audience-interest/travel" title="Travel">Travel</a>
      </div>
    </div>
  </div>

  <div class=" text-center com-mar-top-20 mb-5">
    <app-unit4></app-unit4>
  </div>
</div>