<div id="preloader">
  <div class="text-center" id="status"></div>
</div>

<!--LISTING banner-->
<section class="inn-page-bg category_banner region_page" [ngStyle]="{ 'background-image': 'url(' + rimg + ')' }">
  <div class="container">
    <div class="wiz-form">
      <form [formGroup]="cateForm" class="catepfrm">
        <div class="step" data-step="1" *ngIf="tap1">
          <div class="text-center frm-header">
            <p>
              <strong>At what location you are searching for a Business?</strong>
            </p>
          </div>
          <ul class="mt-3 list-inner">
            <li *ngFor="let listreg of listRegs">
              <input type="radio" name="buss_loc" value="{{ listreg.name }}" id="frm-src-{{ listreg.id }}"
                formControlName="buss_loc" />
              <label for="frm-src-{{ listreg.id }}" [innerHtml]="listreg.name"></label>
            </li>
          </ul>
          <div class="btn-group stack-nav">
            <span class="help-block" *ngIf="errloc">Select your Location</span>
            <a class="btn primary large btn-next btn-block lcfnext ripple-white" tabindex="0"
              (click)="step2()">Continue</a>
          </div>
        </div>

        <div class="step" data-step="2" *ngIf="tap2">
          <div class="text-center frm-header">
            <div class="col s12 mb-1 text-left">
              <a href="javascript:void(0)" (click)="step1()"><i class="fa fa-angle-left"></i> Change Service
                Location</a>
            </div>

            <h2>Announce your Wants!</h2>
            <p>Get free responses from multiple businesses near you.</p>
          </div>
          <p><strong>What type of services you are looking for?</strong></p>
          <ul class="mt-3 list-inner p-3">
            <li *ngFor="let listcate of listCates">
              <input type="radio" name="buss_cate" value="{{ listcate.id }}" id="frm-src-{{ listcate.id }}"
                formControlName="buss_cate" (click)="subcate(listcate.id)" />
              <label for="frm-src-{{ listcate.id }}" [innerHtml]="listcate.name"></label>
            </li>
          </ul>

          <div class="btn-group stack-nav">
            <span class="help-block" *ngIf="errcate">Please choose your category</span>
            <a class="btn primary large btn-next btn-block lcfnext ripple-white" tabindex="0" (click)="step3()">Get
              Start</a>
          </div>
        </div>
        <!--Step2-->

        <!--overlay-->
        <div class="overlay-form" *ngIf="tap3 || tap4 || tap5">
          <a href="javascript:void(0)" class="close" (click)="closewiz()"><i class="fa fa-times"></i></a>
          <div class="wiz-form">
            <div class="step" data-step="2" *ngIf="tap3">
              <div class="text-center frm-header">
                <div class="col s12 text-left">
                  <a href="javascript:void(0)" (click)="step2()"><i class="fa fa-angle-left"></i> Back</a>
                </div>
                <!-- <h2>Announce your Wants!</h2>
                    <p>Get free responses from multiple businesses near you.</p> -->
                <p class="text-center">
                  <strong>What type of service you are looking for?</strong>
                </p>
              </div>

              <div class="wiz-cont-from">
                <ul class="mt-3 list-inner">
                  <li *ngFor="let listscate of listSubcates">
                    <input type="radio" name="buss_scate" value="{{ listscate.id }}" id="frm-src-{{ listscate.id }}"
                      formControlName="buss_scate" />
                    <label for="frm-src-{{ listscate.id }}" [innerHtml]="listscate.name"></label>
                  </li>
                </ul>
              </div>
              <div class="btn-group stack-nav">
                <span class="help-block" *ngIf="errscate">Select your service category</span>
                <a class="btn primary large btn-next btn-block lcfnext ripple-white" tabindex="0"
                  (click)="step4()">Continue</a>
              </div>
            </div>
            <!--Step3-->

            <div class="step" data-step="4" *ngIf="tap4">
              <div class="text-center frm-header">
                <div class="col s12 text-left">
                  <a href="javascript:void(0)" (click)="step3()"><i class="fa fa-angle-left"></i> Back</a>
                </div>
                <h2>Contact Details</h2>
                <p>Get free responses from multiple businesses near you.</p>
              </div>
              <p>
                <strong>Leave your contact details for <br />the business owners to
                  contact you back</strong>
              </p>
              <div class="wiz-cont-from">
                <!-- <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input id="gfc_name" type="text" class="form-control" formControlName="fname" placeholder="First Name" required>                             
                          <span *ngIf="!cateForm.get('fname').valid && cateForm.get('fname').touched" class="help-block text-left">Enter First Name</span>
                        </div>                 
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input id="gfc_lname" type="text"  class="form-control"  formControlName="lname" placeholder="Last Name" required>                          
                          <span *ngIf="!cateForm.get('lname').valid && cateForm.get('lname').touched" class="help-block text-left">Enter Last Name</span>
                        </div>                 
                      </div>
                    </div> -->

                <div class="row">
                  <!-- <div class="col-md-6">
                        <div class="form-group">
                          <input id="gfc_mail" type="email"  class="form-control" placeholder="Email" formControlName="email">                        
                        <span *ngIf="!cateForm.get('email').valid  && cateForm.get('email').touched" class="help-block text-left">Enter Valid  Email</span>
                        </div>                 
                      </div> -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="gfc_mob" type="text" class="form-control" placeholder="MobileNo." minlength="10"
                        maxlength="10" formControlName="mobile" />
                      <span *ngIf="
                          !cateForm.get('mobile').valid &&
                          cateForm.get('mobile').touched
                        " class="help-block text-left">Enter valid 10digit number.
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea id="gfc_msg" class="form-control" placeholder="Message"
                        formControlName="msg"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-group stack-nav">
                <span class="help-block" *ngIf="errdetail">* fields are mandatory / invalid characters in input</span>
                <a href="javascript:void(0)" class="btn primary large btn-next btn-block lcfnext ripple-white"
                  tabindex="0" (click)="send()">Continue
                  <i class="fa fa-spinner fa-spin" *ngIf="cateloader"></i></a>
              </div>
            </div>
            <!--Step4-->

            <div class="step" data-step="5" *ngIf="tap5">
              <div class="text-center frm-header">
                <div class="col s12 text-left">
                  <a href="javascript:void(0)" (click)="step4()"><i class="fa fa-angle-left"></i> Back</a>
                </div>
                <h2>Get free responses form multiple businesses near you.</h2>
                <p class="mt-1">
                  Are you a already member?
                  <a href="/login" class="text_underline_log">Login</a>
                </p>
              </div>
              <hr class="frm-header-hr" />
              <div class="wiz-cont-from">
                <div class="log-in-pop-left ">
                  <app-sociallogin></app-sociallogin>
                  <div class="divider_or"><span>or</span></div>
                  <a href="/register" class="btn wizbtn-login"><i class="fa fa-user-o" aria-hidden="true"></i> Sign up
                    by
                    Email</a>
                </div>
              </div>
            </div>
            <!--step 5-->
          </div>
        </div>
        <!--overlay close-->

        <!---Thanks-->
        <div class="step" data-step="6" *ngIf="tap6">
          <div class="text-center frm-header">
            <div *ngIf="cateSuccess">
              <div class="alert alert-success">
                <h4 class="mb-2">Thank you!</h4>
                <p>Your request will be answered by nearby businesses.</p>
                <p>Sign-in or check your emails and Mobile for Alerts.</p>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="cateError">
              Try Later.
            </div>
            <a href="javascript:void(0)" class="waves-effect waves-light btn" (click)="closeall()">Close</a>
          </div>
        </div>
        <!---close all-->

        <div class="step" data-step="7" *ngIf="tap7">
          <div class="text-center frm-header closefunnel">
            <div class="mt-3 mb-3 text-center">
              <a href="/myaccount" class="waves-effect waves-light btn btn-viewalert">View Alerts</a>
              <a href="javascript:void(0)" class="waves-effect waves-light btn btn-browser"
                (click)="forceclose()">Browse Businesses</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!---Wiz form-->

    <div class="overlay-form-dark" *ngIf="close_wiz">
      <div class="wiz-form">
        <div class="step">
          <div class="text-center frm-header">
            <img src="assets/images/icon/step-by-step.png" class="mb-3" alt="wizard" />
            <h2>You have almost reached.</h2>
            <p>Few steps to complete.</p>
          </div>
          <div class="wiz-cont-from text-center">
            <a href="javascript:void(0)" class="waves-effect waves-light btn close-overlay"
              (click)="close_form()">EXIT</a>
            <a href="javascript:void(0)" class="waves-effect waves-light btn" (click)="cont_step()">CONTINUE</a>
          </div>
          <!--close wiz-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dir-alp-1 dir-pa-sp-top" id="searchresult_li">
  <div class="desc-cate">
    <div class="container">
      <div class="regdesc" innerHtml="{{ regdesc }}" *ngIf="regdesc"></div>
      <br />
    </div>
    <div class="container ad1 mt-2 mb-2">
      <app-unit4></app-unit4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="dir-alp-con dir-alp-con-1">
        <!--Sidebar Filter-->
        <div class="col-md-3 dir-alp-con-left filter_sidebar">
          <!-- 
             <div class="dir-alp-con-left-1">
              <div class="sheading">
                  <h3>Nearby Locations <span>( {{listingRegion?.length}} )</span> </h3>
                  <a href="javascript:void(0)" class="reset" (click)="resetregion();" *ngIf="regchk">clear</a>
              </div>              
            </div>
            <div class="dir-hom-pre dir-alp-left-ner-notb location_tags">
              <ul>
                <li *ngFor="let near_regi of listingRegion; let i = index">
                  <input type="radio" class="filter_region"  (click)="onSearch()"  value="{{near_regi?.slug}}" id="region-{{near_regi?.id}}" name="radio"/>
                  <label for="region-{{near_regi?.id}}" innerHtml="{{near_regi?.name}} ({{near_regi?.counts}})"></label>
                </li>
              </ul>             
            </div>
            -->

          <!--==========Sub Category Filter============-->
          <div class="dir-alp-l3 dir-alp-l-com">
            <div class="sheading">
              <h4>Sub Category Filter</h4>
              <a href="javascript:void(0)" class="reset" (click)="resetcate()" *ngIf="catechk">clear</a>
            </div>
            <div class="dir-alp-l-com1 dir-alp-p3 sub_cate_list">
              <ul>
                <li *ngFor="let subcate of listSubcate; let i = index">
                  <input class="with-gap filter_cate" name="subcate" type="radio" id="cate-{{ subcate?.category_id }}"
                    value="{{ subcate?.category?.slug }}" (click)="onSearch()" />
                  <label for="cate-{{ subcate?.category_id }}" innerHtml="{{ subcate?.category?.name }} ({{
                      subcate?.count
                    }})"></label>
                </li>
              </ul>
            </div>
          </div>
          <!--==========End Sub Category Filter============-->

          <!--==========Sub Category Filter============-->
          <div class="dir-alp-l3 dir-alp-l-com distace_filter">
            <div class="sheading">
              <h4>Distance</h4>
              <a href="javascript:void(0)" class="reset" (click)="resetloc()" *ngIf="dischk">clear</a>
            </div>
            <div class="dir-alp-l-com1 dir-alp-p3">
              <!--
                  <div class="filter_address">
                      <div class="sheading"> <h4>From Location</h4></div>
                      <input type="text" class="searchadd" placeholder="From Location"  value="{{this.locatclick}}" name="from_loc" id="from_loc" (keyup)="onKey($event)" />
                      <ul class="addFetch"  *ngIf="locatadd"> 
                        <li *ngFor="let locatlist of locatadd" >
                          <span (click)="getlocAdd($event);" [attr.data-latlan]="locatlist?.point?.coordinates"  >{{locatlist.name}}</span>
                        </li>
                      </ul>
                  </div>
                  -->
              <label class="frmloctxt">From {{ locaname }}</label>
              <div class="sheading">
                <h4>To Km.</h4>
              </div>
              <ul>
                <li *ngFor="let ds of distances; let i = index">
                  <input type="radio" name="distan" id="dis-{{ i }}" class="with-gap filter_km" value="{{ ds.val }}"
                    (click)="onSearch()" />
                  <label for="dis-{{ i }}" innerHtml="{{ ds.km }}"></label>
                </li>
              </ul>
            </div>
          </div>
          <!--==========End Sub Category Filter============-->

          <!--==========Sub Category Filter============-->
          <div class="dir-alp-l3 dir-alp-l-com rating_filter">
            <div class="sheading">
              <h4>Ratings</h4>
              <a href="javascript:void(0)" class="reset" (click)="resetrating()" *ngIf="ratechk">clear</a>
            </div>
            <div class="dir-alp-l-com1 dir-alp-p3">
              <ul>
                <li *ngFor="let rates of rating; let i = index">
                  <input type="radio" class="filled-in ratess" name="rates" id="rs_{{ i }}" value="{{ rates.rate }}"
                    (click)="onSearch()" />
                  <label for="rs_{{ i }}">
                    <span class="list-rat-ch">
                      <span>{{ rates?.rate }}</span>
                      <i class="fa rating-star 4" [ngClass]="{
                          full: rates?.rate >= 1,
                          piece: rates?.rate == 0.5
                        }"></i>
                      <i class="fa rating-star 3" [ngClass]="{
                          full: rates?.rate >= 2,
                          piece: rates?.rate == 1.5
                        }"></i>
                      <i class="fa rating-star 2" [ngClass]="{
                          full: rates?.rate >= 3,
                          piece: rates?.rate == 2.5
                        }"></i>
                      <i class="fa rating-star 1" [ngClass]="{
                          full: rates?.rate >= 4,
                          piece: rates?.rate == 3.5
                        }"></i>
                      <i class="fa rating-star 0" [ngClass]="{
                          full: rates?.rate >= 5,
                          piece: rates?.rate == 4.5
                        }"></i>
                    </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <!--==========End Sub Category Filter============-->

          <div class="dir-alp-l3 dir-alp-l-com most_viewed">
            <div class="sheading">
              <h4>Most Viewed</h4>
              <a href="javascript:void(0)" class="reset" (click)="resetview()" *ngIf="viewchk">clear</a>
            </div>
            <div class="most_viewed_wrap">
              <ul>
                <li *ngFor="let mviews of mostviews; let i = index">
                  <input type="radio" name="mviews" value="{{ mviews?.value }}" id="m-{{ mviews?.value }}" class="mview"
                    (click)="onSearch()" />
                  <label for="m-{{ mviews?.value }}">
                    <h5>{{ mviews?.text }}</h5>
                    <p>{{ mviews?.subtext }}</p>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="dir-alp-l3 dir-alp-l-com cate_side_twitter">
            <div class="sheading">
              <h4>Twitter Feeds</h4>
            </div>
            <div class="feedlist" innerHtml="{{ twfeed }}">
              <!--     <ngx-twitter-timeline 
                    [data]="{sourceType: 'url', url: 'https://twitter.com/walldirectory'}"
                    [opts]="{tweetLimit: 3}"
                ></ngx-twitter-timeline> -->
            </div>
          </div>

          <div class="mt-2 mb-3 text-center">
            <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="1338486221" [display]="'inline-block'"
              [adFormat]="'horizontal'" [width]="250" [height]="250"></ng-adsense>
          </div>
        </div>

        <!--Listings-->
        <div class="col-md-9 dir-alp-con-right">
          <div class="dir-alp-con-right-1">
            <div class="row">
              <div class="col-md-12">
                <div class="no_results">
                  <label>Number of results found <em>{{ lscounts }}</em>.</label>
                </div>
              </div>

              <div class="col-md-12 mt-5 alert alert-warning" *ngIf="allItems?.length == 0">
                <h4 class="mt-5">No Results Found in search</h4>
              </div>

              <div class="listings-cate" *ngFor="
                  let list of collection
                    | paginate
                      : {
                          itemsPerPage: config.itemsPerPage,
                          currentPage: p,
                          totalItems: tot
                        };
                  let i = index
                " [attr.data-list-id]="list?.id" [attr.data-created]="list?.created_at | date: 'MM-dd-yyyy'">
                <!--LISTINGS-->
                <div class="home-list-pop list-spac list-spac-1">
                  <!--LISTINGS IMAGE-->
                  <div class="col-md-3">
                    <img src="{{ imgPath }}{{
                        list?.listinglogo?.medium ||
                          '/uploads/noimage150x150.jpg'
                      }}" alt="{{ list?.listinglogo?.alt_text || list?.title }}"
                      title="{{ list?.listinglogo?.title || list?.title }}" />
                  </div>
                  <!--LISTINGS: CONTENT-->
                  <div class="col-md-9 home-list-pop-desc inn-list-pop-desc">
                    <a routerLink="/listing/{{ list?.slug }}">
                      <h3 innerHtml="{{ list?.title }}"></h3>
                      <i class="material-icons dp48 verfied" title="Verified Business"
                        *ngIf="list?.is_verified">done</i>
                    </a>

                    <div class="listing_dcates">
                      <a routerLink="/listing-category/{{
                          list?.currentcategory?.category?.parentCat?.slug
                        }}">
                        <h4 [innerHtml]="
                            list?.currentcategory?.category?.parentCat?.name
                          "></h4>
                      </a>
                      <i class="fa fa-angle-right"></i>
                      <a routerLink="/listing-category/{{
                          list?.currentcategory.category?.parentCat?.slug
                        }}/{{ list?.currentcategory?.category?.slug }}">
                        <h4 [innerHtml]="list?.currentcategory?.category?.name"></h4>
                      </a>
                    </div>

                    <p *ngIf="list?.location">
                      <b>Address:</b> {{ list?.location }}.
                    </p>
                    <p *ngIf="!list?.location">
                      <b>Location:</b>
                      {{ (list?.listingregions)[0]?.region?.name }}.
                    </p>
                    <p class="cate_list_desc" [innerHTML]="truncateHTML(list?.content) + ' '"></p>
                    <!--  <div class="list-number">
                                  <ul>
                                    <li><img src="assets/images/icon/phone.png" alt="">{{list?.phone}}
                                     {{list?.phone!='' && list?.mobile!='' ? ', ' : ''}}{{list?.mobileprefix}}{{list?.mobile!='' && list?.mobileprefix!='' ? '-' : ''}}{{list.mobile}}
                                    </li>
                                    <li><img src="assets/images/icon/mail.png" alt=""> {{list?.contact_email}}</li>
                                  </ul>
                                </div>  -->

                    <span class="home-list-pop-rat">
                      {{ list.rating == 0 ? "0.0" : list.rating }}</span>

                    <div class="list-enqu-btn">
                      <ul>
                        <li>
                          <a href="javascript:void(0)" [attr.data-id]="list?.id" (click)="pathcid(list?.id)"
                            data-dismiss="modal" data-toggle="modal" data-target="#enquiy_popup"><i
                              class="fa fa-envelope" aria-hidden="true"></i>
                            Email</a>
                        </li>
                        <li>
                          <a href="{{
                              list?.phone ? 'tel:' + list?.phone : '#'
                            }}"><i class="fa fa-phone" aria-hidden="true"></i> Call
                            Now</a>
                        </li>
                        <li>
                          <a href="{{ list?.website ? list?.website : '#' }}" target="_blank"
                            (click)="webclicked(list?.id)"><i class="fa fa-globe" aria-hidden="true"></i>
                            Web</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)" class="sharepopup"><i class="fa fa-share-alt"
                              aria-hidden="true"></i>
                            Share</a>

                          <div class="share_pop share_{{ list?.id }}">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{
                                siteUrl
                              }}/listing/{{ list?.slug }}&t={{ list?.title }}"
                              onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                              target="_blank" title="Share on Facebook"><i class="fa fa-facebook fb1"></i></a>
                            <a title="Share On Twitter" href="http://twitter.com/share?text={{
                                list?.title
                              }}&url={{ siteUrl }}/listing/{{
                                list?.slug
                              }}&hashtags=walldirectory">
                              <i class="fa fa-twitter tw1"></i>
                            </a>
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i>
                            {{ list?.view_count }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="gads" *ngIf="(i + 1) % 3 === 0">
                  <app-unit4></app-unit4>
                </div>
              </div>
              <!--LISTINGS END-->
            </div>
            <!--row-->

            <div class="row" *ngIf="lscounts > 0">
              <!---pagination start-->
              <pagination-controls class="category-pagination" (pageChange)="pageChange($event)"></pagination-controls>
            </div>
            <!---pagination close-->
          </div>
        </div>
        <!---Clost listing-->
      </div>
      <!---wrapper-->
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="enquiy_popup" tabindex="-1" role="dialog" aria-labelledby="enquiy_form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="enquiy_form">Enquiry</h4>
      </div>
      <div class="modal-body">
        <div class="row hom-cre-acc-right">
          <form id="enq_frm" name="enq_frm" [formGroup]="listingEnq">
            <div class="row">
              <div class="input-field col s6">
                <input id="enq_fname" type="text" class="" formControlName="enq_fname" />
                <label for="enq_fname">First Name</label>
                <span *ngIf="
                    !listingEnq.get('enq_fname').valid &&
                    listingEnq.get('enq_fname').touched
                  " class="help-block">Enter First Name</span>
              </div>

              <div class="input-field col s6">
                <input name="enq_lname" id="enq_lname" type="text" class="" formControlName="enq_lname" />
                <label for="enq_lname">Last Name</label>
                <span *ngIf="
                    !listingEnq.get('enq_lname').valid &&
                    listingEnq.get('enq_lname').touched
                  " class="help-block">Enter Last Name</span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input name="enq_email" id="enq_email" type="text" class="validate" formControlName="enq_email" />
                <label for="enq_email">Email</label>
                <span *ngIf="
                    !listingEnq.get('enq_email').valid &&
                    listingEnq.get('enq_email').touched
                  " class="help-block">Enter Valid Email</span>
              </div>
              <div class="input-field col s6">
                <input name="enq_phone" id="enq_phone" type="text" class="validate" formControlName="enq_phone" />
                <label for="enq_phone">Contact No.</label>
                <span *ngIf="
                    listingEnq.get('enq_phone').value == '' &&
                    listingEnq.get('enq_phone').touched
                  " class="help-block">Enter Contact No.</span>
                <span *ngIf="
                    listingEnq.get('enq_phone').value != '' &&
                    listingEnq.controls['enq_phone'].hasError('pattern')
                  " class="help-block">Enter 10 digits no.</span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="enq_cont" id="enq_cont" class="validate" formControlName="enq_cont"></textarea>
                <label for="enq_cont">Enquiry</label>
                <span *ngIf="
                    listingEnq.get('enq_cont').value == '' &&
                    listingEnq.get('enq_cont').touched
                  " class="help-block">Enter Enquiry Message.</span>
                <!-- <span *ngIf="!listingEnq.get('enq_cont').valid && listingEnq.controls['enq_cont'].hasError('minlength') && listingEnq.get('enq_cont').touched" class="help-block">Enter min 50chars.</span> -->
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 text-center">
                <input type="hidden" name="listid" formControlName="listingid" />
                <button type="text" class="btn-small waves-effect waves-light btn" (click)="onSubmitEnq()">
                  Send <i class="fa fa-spinner fa-spin" *ngIf="enqloader"></i>
                </button>
              </div>

              <div class="input-field col s12 text-center" *ngIf="enqsucc">
                <div class="alert alert-success">
                  Thank you. Your Enquiry has been sent to the Business owner.
                  The Business owner will reach you soon.
                </div>
              </div>

              <div class="input-field col s12 text-center" *ngIf="enqerr">
                <div class="alert alert-danger">
                  Enquiry not send. Try again later!.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>