<div class="scroll_txt text-center">
  <a routerLink="/local-marketing" class="clocat">
    <i class="fa fa-angle-double-left"></i> Change Location</a>
  | {{ pagecontent?.region?.name }} Directory : Enabling Business Owners With
  Effective Marketing Tools
</div>

<div class="container">
  <div class="row ">
    <div class="col-md-8">
      <div class="city_head banner-frm text-center">
        <h1 class="hsmll">
          So, You Want To Use Walldirectory To Generate Leads For Your Company?
        </h1>
        <h3>The Good News Is...</h3>
        <p>Pick Which Type Of Tools You Want To Use For Your Business..</p>
      </div>
    </div>

    <div class="col-md-4 pad6040">
      <app-unit4></app-unit4>
    </div>
  </div>
</div>

<section class="sec city-full-wrap ">
  <div class="container">
    <div class="row justify-content-center  align-items-center">
      <div class="col-lg-10">
        <h2 class="m-0 p-0">
          There Are 4 Main Reasons Entrepreneurs<br />
          Typically Use These Tools
        </h2>
      </div>
      <div class="col-lg-2 text-center">
        <img src="assets/images/wallicon.png" alt="" width="100px" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container frm_con">
    <div class="row justify-content-center  text-center align-items-center">
      <div class="col-lg-3 col-md-3">
        <div>
          <h5>to Drive <span>traffic</span></h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div>
          <h5>To Generate <span>leads</span></h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div>
          <h5>to Sell <span>products</span></h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div>
          <h5>to Improve <span> reputation</span></h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" light-blue pad6040 mar6040 mb-0">
  <div class="container">
    <div class="sec-head text-center">
      <h2>Promo Services We Offer</h2>
      <div>
        <em>
          <p>Serving businesses in {{ pagecontent?.region?.name }}</p>
        </em>
      </div>
      <p>
        Walldirectory is the business owner’s favorite digital marketing tool!
        Create a Strategy to Reach, Connect, & Convert Traffic to Customers
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row text-center prom-serv-list ">
      <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 ">
        <div class="row serv_inner">
          <div class="col-lg-7  col-md-8 col-sm-12  col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Ad Builder</h3>
              <p class="text-left">
                implified digital advertising platform that produces amazing ROI
                results. Post ads to Advertise and attract local visitors from
                {{ pagecontent?.name }}, {{ pagecontent?.region?.name }}. Start
                building an effective link-building SEO campaign to target local
                interests, drive traffic to your website, and increase website
                ranking.
              </p>
              <p class="text-left">
                Use the free Ad builder to display ads in front of interested
                locals from {{ pagecontent?.name }}. Wall Directory places the
                link-building power in your hands. Customize your online ads.
              </p>
              <a class="serv_link" href="/local-marketing/free-ad-builder">Create Ad Builder</a>
            </div>
          </div>
          <div class="col-lg-5  col-md-6 col-sm-12  col-xs-12 text-left">
            <img alt="Free Ad Builder" class="mb-3" src="assets/images/landing/freeadb-builder.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center prom-serv-list ">
      <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 ">
        <div class="row serv_inner">
          <div class="col-lg-5  col-md-6 col-sm-12  col-xs-12 text-left">
            <img alt="Free Lead Builder" class="mb-3" src="assets/images/landing/freelink-builder.png" />
          </div>
          <div class="col-lg-7  col-md-8 col-sm-12  col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Lead Builder</h3>
              <p class="text-left">
                Connected digital marketing platform perfect for local business
                owners who are looking for leads from {{ pagecontent?.name }},
                {{ pagecontent?.region?.name }}. Create an ad with a
                Call-To-Action link to attract local visitors from a specific
                location.
              </p>
              <p class="text-left">
                Build a custom SEO campaign to target local customers, drive
                leads to your website, and increase website rank. Use the free
                Lead builder to display ads in front of interested local
                customers from {{ pagecontent?.name }}. Use the free digital
                marketing tool to generate leads.
              </p>
              <a class="serv_link" href="/local-marketing/free-lead-builder">Create Link Builder</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center prom-serv-list ">
      <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 ">
        <div class="row serv_inner">
          <div class="col-lg-7  col-md-8 col-sm-12  col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Sales Builder</h3>
              <p class="text-left">
                Connected digital marketing platform perfect for local business
                owners who are looking for leads from {{ pagecontent?.name }},
                {{ pagecontent?.region?.name }}. Create an ad with a
                Call-To-Action link to attract local visitors from a specific
                location.
              </p>
              <p class="text-left">
                Build a custom SEO campaign to target local customers, drive
                leads to your website, and increase website rank. Use the free
                Lead builder to display ads in front of interested local
                customers from {{ pagecontent?.name }}. Use the free digital
                marketing tool to generate leads.
              </p>
              <a class="serv_link" href="/local-marketing/free-sales-builder">Create Lead Builder</a>
            </div>
          </div>
          <div class="col-lg-5  col-md-6 col-sm-12  col-xs-12 text-left">
            <img alt="Free Sales Builder" class="mb-3" src="assets/images/landing/freelead-builder.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center prom-serv-list ">
      <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 ">
        <div class="row serv_inner">
          <div class="col-lg-5  col-md-6 col-sm-12  col-xs-12 text-left">
            <img alt="Free Review Builder" class="mb-3" src="assets/images/landing/freereview-builder.png" />
          </div>
          <div class="col-lg-7  col-md-8 col-sm-12  col-xs-12">
            <div class="serv_content">
              <h3 class="position-relative">Free Review Builder</h3>
              <p class="text-left">
                Organic review builder tool designed for business owners who are
                looking for genuine reviews from customers in
                {{ pagecontent?.name }}, {{ pagecontent?.region?.name }}.
              </p>
              <p class="text-left">
                Online reputation management is simple when using Wall
                Directory's digital review tool; Create a reputable landing page
                that makes it easy for local customers from
                {{ pagecontent?.name }} to write reviews and post comments on
                your social pages. Subscribe to the organic review builder tool
                for free to increase reviews and build online reputation.
              </p>
              <a class="serv_link" href="/local-marketing/free-review-builder">Create Review Builder</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-unit4></app-unit4>
</section>