<section>
  <div class="tz">
    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--
    <div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
 -->

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="col text-center user_pstarter" *ngIf="counts?.listings_count == 0 && cusertype == 'owner'">
        <h1>START WITH A STARTER ACCOUNT NOW AND <br />UPGRADE LATER</h1>
        <a href="{{ siteUrl }}plans" class="mt-2 waves-effect waves-light btn btn-primary">UPGRADE NOW</a>
        <a href="{{ siteUrl }}add-business" class="mt-2 waves-effect waves-light btn btn-success">ADD YOUR BUSINESS
          NOW</a>
      </div>

      <div class="tz-2-com tz-2-main">
        <h4>My Dashboard</h4>

        <!--customer dashboard--->
        <div class="tz-2-main-com customer_dash_grid" *ngIf="cusertype == 'customer'">
          <div class="tz-2-main-1">
            <div class="tz-2-main-2">
              <a href="/customer-enquiry">
                <img src="assets/images/icon/d3.png" alt="Enquiry" /><span>Request Enquiry</span>
                <p>Your Requests</p>
                <h2>
                  {{ counts?.enquires_count ? counts?.enquires_count : "0" }}
                </h2>
              </a>
            </div>
          </div>
          <div class="tz-2-main-1">
            <div class="tz-2-main-2">
              <img src="assets/images/icon/1.png" alt="Response" /><span>Owner Response</span>
              <p>Responses from businesses</p>
              <h2>{{ counts?.replies_count ? counts?.replies_count : 0 }}</h2>
            </div>
          </div>
        </div>

        <!--Owner dashboard--->
        <div class="tz-2-main-com" *ngIf="cusertype == 'owner'">
          <div class="tz-2-main-1">
            <div class="tz-2-main-2">
              <a href="/all-business">
                <img src="assets/images/icon/d1.png" alt="" /><span>All Business</span>
                <p>Business and promotion listing counts</p>
                <h2>{{ counts?.listings_count }}</h2>
              </a>
            </div>
          </div>
          <div class="tz-2-main-1">
            <div class="tz-2-main-2">
              <a href="/listing-reviews">
                <img src="assets/images/icon/d2.png" alt="" /><span>Reviews</span>
                <p>All the business pages review counts</p>
                <h2>{{ counts?.reviews_count }}</h2>
              </a>
            </div>
          </div>
          <div class="tz-2-main-1">
            <div class="tz-2-main-2">
              <a href="/messages">
                <img src="assets/images/icon/d3.png" alt="" /><span>Messages</span>
                <p>All the unread nodification messages</p>
                <h2>{{ counts?.messages_count }}</h2>
              </a>
            </div>
          </div>
        </div>

        <div class="tz-2-main-com cnt-grids mdetails" *ngIf="cusertype == 'owner'">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 joined">
              <div class="md-content">
                <div class="md-data">
                  <h4>My Network</h4>
                  <p>{{ counts?.joiners_count }}</p>
                  <p><br /></p>
                </div>
                <div class="md-icon">
                  <i class="fa fa-users"></i>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 direct">
              <div class="md-content">
                <div class="md-data">
                  <h4>Your Locations Viewed</h4>
                  <p>Other: {{ counts?.trackings?.location_count }}</p>
                  <p>
                    Walldirectory User:
                    {{ counts?.trackings?.visitor_location_count }}
                  </p>
                </div>
                <div class="md-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 wvisit">
              <div class="md-content">
                <div class="md-data">
                  <h4>Your Website Viewed by</h4>
                  <p>Other: {{ counts?.trackings?.website_count }}</p>
                  <p>
                    Walldirectory User:
                    {{ counts?.trackings?.visitor_website_count }}
                  </p>
                </div>
                <div class="md-icon">
                  <i class="fa fa-globe"></i>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 mailed">
              <div class="md-content">
                <div class="md-data">
                  <h4>Enquiries for your Business</h4>
                  <p>Other: {{ counts?.trackings?.enquiry_count }}</p>
                  <p>
                    Walldirectory User:
                    {{ counts?.trackings?.visitor_enquiry_count }}
                  </p>
                </div>
                <div class="md-icon">
                  <i class="fa fa-envelope"></i>
                </div>
              </div>
            </div>
          </div>
          <!--row-->
        </div>
      </div>
      <div class="mt-2 mb-1">
        <app-unit5></app-unit5>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>