<div id="preloader">
  <div class="text-center" id="status"></div>
</div>

<section class="nofoundlisting" *ngIf="nofoundlisting">
  <div class="container text-center">
    <h3>Unfortunately the page you are looking for has been moved or deleted</h3>
    <div class=" mt-2 mb-2">
      <app-unit1></app-unit1>
    </div>
  </div>
</section>

<div class="listing wrapper" *ngIf="nofoundlisting == ''">
  <section class="post_{{ pcontents?.id }}" [attr.data-list-id]="pcontents?.id" [attr.data-status]="pcontents?.status"
    [attr.data-created]="pcontents?.created_at | date: 'MM-dd-yyyy'">
    <div class="v3-list-ql">
      <div class="container">
        <div class="row hom-cre-acc-right">
          <div class="v3-list-ql-inn">
            <ul>
              <li class="active">
                <a href="javascript:void(0)" (click)="scroll('ld-abour')"><i class="fa fa-user"></i> About</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="scroll('ld-gal')">
                  <i class="fa fa-photo"></i> Gallery</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="scroll('ld-vie')">
                  <i class="fa fa-street-view"></i> 360 View</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="scroll('ld-rew')">
                  <i class="fa fa-edit"></i> Write Review</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="scroll('ld-rer')">
                  <i class="fa fa-star-half-o"></i> User Review</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="scroll('followus')">
                  <i class="fa fa-link"></i> Social Medias</a>
              </li>
              <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#followjoin">
                  <i class="fa fa-users"></i> Follow</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--LISTING DETAILS-->
  <section [ngClass]="
      pcontents?.is_featured ? 'pg-list-1 featured_detail' : 'pg-list-1'
    " [ngStyle]="{ 'background-image': 'url(' + cimg + ')' }">
    <div class="container">
      <span class="ribbon1" *ngIf="
          pcontents?.promo_badge &&
          pcontents?.promo_badge?.name != 'No Need Label'
        ">{{ pcontents?.promo_badge?.name }}</span>

      <div class="row">
        <div class="pg-list-1-left">
          <div class="single_talign">
            <div class="col single-page-logo">
              <div class="singlelogo" [ngStyle]="{ 'background-image': 'url(' + listlogo + ')' }"
                title="{{ pcontents?.listinglogo?.title || pcontents?.title }}"></div>
            </div>
            <div class="col single-page-title">
              <div class="single-list-title">
                <h1 innerHtml="{{ pcontents?.title }}"></h1>
                <i class="material-icons dp48 verfied" *ngIf="pcontents?.is_verified" title="Verified Business">done</i>
              </div>
              <div class="list-rat-ch">
                <span>{{ crating | number: "1.1" }}</span>
                <i class="fa rating-star" [ngClass]="{ full: crating >= 1, piece: crating == 0.5 }"></i>
                <i class="fa rating-star" [ngClass]="{ full: crating >= 2, piece: crating == 1.5 }"></i>
                <i class="fa rating-star" [ngClass]="{ full: crating >= 3, piece: crating == 2.5 }"></i>
                <i class="fa rating-star" [ngClass]="{ full: crating >= 4, piece: crating == 3.5 }"></i>
                <i class="fa rating-star" [ngClass]="{ full: crating >= 5, piece: crating == 4.5 }"></i>
              </div>
            </div>
          </div>

          <div class="listing_dcates" *ngIf="pcontents?.currentcategory">
            <a routerLink="/listing-category/{{
                pcontents?.currentcategory?.category?.parentCat?.slug
              }}">
              <h4 [innerHtml]="
                  pcontents?.currentcategory?.category?.parentCat?.name
                "></h4>
            </a>
            <i class="fa fa-angle-right"></i>
            <a routerLink="/listing-category/{{
                pcontents?.currentcategory?.category?.parentCat?.slug
              }}/{{ pcontents?.currentcategory?.category?.slug }}">
              <h4 [innerHtml]="pcontents?.currentcategory?.category?.name"></h4>
            </a>
          </div>

          <p *ngIf="pcontents?.location">
            <b>Address:</b> {{ pcontents?.location }}.
          </p>
          <p *ngIf="!pcontents?.location">
            <b>Address:</b> {{ (pcontents?.listingregions)[0]?.region?.name }}.
          </p>

          <!--
        <div class="list-number pag-p1-phone">
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i> {{pcontents?.phone}}</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{pcontents?.contact_email}}</li>
            <li *ngIf="pcontents?.user?.first_name!='' || pcontents?.user?.last_name!=''"><i class="fa fa-user" aria-hidden="true"></i>{{pcontents?.user?.first_name}} {{pcontents?.user?.last_name}}</li>
          </ul>
        </div>
        -->
        </div>

        <div class="pg-list-1-right list_promo_deta text-center">
          <div *ngIf="pcontents?.type?.id != 696">
            <!--  <h3 *ngIf="pcontents?.type?.parent == 1312">Explore Promotion</h3>
          <h3 *ngIf="pcontents?.type?.parent == 1313">Engage Promotion</h3>
          <h3 *ngIf="pcontents?.type?.parent == 1314">Shop Promotion</h3>
          <h3 *ngIf="pcontents?.type?.parent == 1315">Review Promotion</h3> -->

            <a href="{{
                pcontents?.promotion_url
                  ? urlformat(pcontents?.promotion_url)
                  : urlformat(pcontents?.website)
              }}" target="_blank" class="waves-effect waves-light btn" *ngIf="pcontents?.type?.name">{{
              pcontents?.type?.name }}</a>
          </div>
        </div>

        <div class="pg-list-1-right single_cal_lks">
          <div class="minhgt60" *ngIf="pcontents?.type?.id != 696"></div>
          <div class="list-enqu-btn pg-list-1-right-p1" *ngIf="pcontents?.type?.id == 696">
            <ul>
              <li>
                <a href="{{ urlformat(pcontents?.website) }}" (click)="webclicked(pcontents?.id)" target="_blank"><i
                    class="fa fa-globe" aria-hidden="true"></i> Website</a>
              </li>
              <li>
                <a href="tel:{{ pcontents?.phone }}"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a>
              </li>
              <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#enquiy_popup"><i class="fa fa-envelope"
                    aria-hidden="true"></i> Enquiry</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="scroll('getdirect'); addclicked(pcontents?.id)"><i
                    class="fa fa-map-marker" aria-hidden="true"></i> Get
                  Directions</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="sharepopup"><i class="fa fa-share-alt" aria-hidden="true"></i>
                  Social
                  Share</a>
                <div class="share_pop share_{{ pcontents?.id }}">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{
                      siteUrl
                    }}listing/{{ pcontents?.slug }}&t={{ pcontents?.title }}"
                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                    target="_blank" title="Share on Facebook"><i class="fa fa-facebook fb1"></i></a>
                  <a title="Share On Twitter" href="http://twitter.com/share?text={{
                      pcontents?.title
                    }}&url={{ siteUrl }}listing/{{
                      pcontents?.slug
                    }}&hashtags=walldirectory" target="_blank">
                    <i class="fa fa-twitter tw1"></i>
                  </a>
                </div>
              </li>
              <li>
                <a href="/video/{{ vid?.enc }}" *ngIf="pcontents?.video_url"><i class="fa fa-play"
                    aria-hidden="true"></i>
                  Watch
                  Video</a>
                <a href="/video/" *ngIf="!pcontents?.video_url"><i class="fa fa-play" aria-hidden="true"></i>
                  Watch
                  Video</a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i>
                  {{ pcontents?.view_count }} Views</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="list-pg-bg mb-5">
    <div class="mt-2 mb-1" *ngIf="notfree == freelist">
      <app-unit1></app-unit1>
    </div>

    <div class="container">

      <div class="row">
        <div class="com-padd">
          <div class="list-pg-lt list-page-com-p">
            <!--LISTING DETAILS: LEFT PART 1-->
            <div class="pglist-p1 pglist-bg pglist-p-com" id="ld-abour">
              <div class="pglist-p-com-ti">
                <h2 innerHtml="<span>About</span> {{ pcontents?.title }}"></h2>
              </div>
              <div class="list-pg-inn-sp">
                <div class="row">
                  <div class="col-md-9 col-sm-12">
                    <p [innerHtml]="pcontents?.content"></p>

                    <div class="share-btn">
                      <ul>
                        <li>
                          <a href="https://www.facebook.com/sharer/sharer.php?u={{
                              siteUrl
                            }}listing/{{ pcontents?.slug }}&t={{
                              pcontents?.title
                            }}"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Facebook"><i class="fa fa-facebook fb1"></i> Share On
                            Facebook</a>
                        </li>
                        <li>
                          <a href="http://twitter.com/share?text={{
                              pcontents?.title
                            }}&url={{ siteUrl }}listing/{{
                              pcontents?.slug
                            }}&hashtags=walldirectory" target="_blank"><i class="fa fa-twitter tw1"></i> Share On
                            Twitter</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-12 socialrating">
                    <ul>
                      <li>
                        <div class="rate_p fb_rate">{{ fb_rating || 0.0 }}</div>
                        <div class="rate_img">
                          <img src="assets/images/fb-rate.jpg" alt="facebook rating" />
                          <i class="fa rating-star" [ngClass]="{
                              full: fb_rating >= 1,
                              piece: fb_rating == 0.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: fb_rating >= 2,
                              piece: fb_rating == 1.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: fb_rating >= 3,
                              piece: fb_rating == 2.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: fb_rating >= 4,
                              piece: fb_rating == 3.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: fb_rating >= 5,
                              piece: fb_rating == 4.5
                            }"></i>
                        </div>
                      </li>
                      <li>
                        <div class="rate_p twitter_rate">
                          {{ tw_follower ? shortenNumber(tw_follower, 1) : 0 }}
                        </div>
                        <div class="rate_img">
                          <img src="assets/images/tw_follower.jpg" alt="Twitter Followers" />
                          {{ tw_follower || 0 }}
                        </div>
                      </li>
                      <li>
                        <div class="rate_p wall_rate">
                          {{ crating | number: "1.1" }}
                        </div>
                        <div class="rate_img">
                          <img src="assets/images/wall-rate.jpg" alt="Walldirectory rating" />
                          <i class="fa rating-star" [ngClass]="{
                              full: crating >= 1,
                              piece: crating == 0.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: crating >= 2,
                              piece: crating == 1.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: crating >= 3,
                              piece: crating == 2.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: crating >= 4,
                              piece: crating == 3.5
                            }"></i>
                          <i class="fa rating-star" [ngClass]="{
                              full: crating >= 5,
                              piece: crating == 4.5
                            }"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--END LISTING DETAILS: LEFT PART 1-->

            <!--LISTING DETAILS: LEFT PART 3-->
            <div class="pglist-p3 pglist-bg pglist-p-com" id="ld-gal" *ngIf="pcontents?.galleries.length > 0">
              <div class="pglist-p-com-ti">
                <h3><span>Photo</span> Gallery</h3>
              </div>
              <div class="list-pg-inn-sp">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" [attr.data-slide-to]="i" [ngClass]="i == 0 ? ' active' : ''"
                      *ngFor="let item of pcontents?.galleries; let i = index"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner text-center">
                    <div [ngClass]="i == 0 ? 'item active' : 'item'"
                      *ngFor="let item of pcontents?.galleries; let i = index">
                      <img src="{{ imgPath }}{{ item.attachment.original }}"
                        alt="{{ item.attachment.alt_text || pcontents?.title }}"
                        title="{{ item.attachment.title || pcontents?.title }}" />
                    </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left list-slider-nav" aria-hidden="true"></i>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right list-slider-nav list-slider-nav-rp" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <!--END LISTING DETAILS: LEFT PART 3-->

            <!--END 360 DEGREE MAP: LEFT PART 8-->
            <div class="pglist-p3 pglist-bg pglist-p-com" id="ld-vie" *ngIf="mapurl">
              <div class="pglist-p-com-ti">
                <h3><span>360 </span> Degree View</h3>
              </div>
              <div class="list-pg-inn-sp list-360">
                <iframe frameBorder="0" [src]="urlSafe"></iframe>
              </div>
            </div>
            <!--END 360 DEGREE MAP: LEFT PART 8-->

            <div *ngIf="reviewshow">
              <div class=" text-center com-mar-top-20 mb-2" *ngIf="notfree == freelist">
                <app-unit4></app-unit4>
              </div>
            </div>

            <div class="pglist-p3 pglist-bg pglist-p-com" id="ld-rew" *ngIf="reviewshow">
              <div class="pglist-p-com-ti">
                <h3><span>Related Business</span> Videos</h3>
              </div>
              <div class="list-pg-inn-sp">
                <div class="list-pg-write-rev">
                  <div class="row">

                    <ng-container *ngFor="let list of vcollection; let i = index;">
                      <div class="col-md-4 resent-grid recommended-grid">
                        <div class="resent-grid-img recommended-grid-img">
                          <a href="/video/{{list?.enc}}">
                            <img src="{{ list?.snippet?.thumbnails?.high?.url}}"
                              alt="{{list?.snippet?.localized?.title}}">
                          </a>
                          <div class="time small-time">
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{list?.contentDetails?.duration}}</p>
                          </div>
                        </div>
                        <div class="resent-grid-info recommended-grid-info video-info-grid">
                          <h5 title="{{list?.snippet?.localized?.title}}"><a href="/video/{{list?.enc}}"
                              class="title">{{list?.snippet?.localized?.title}}</a></h5>
                          <ul>
                            <li>
                              <p class="author author-info">
                                <span class="author" *ngIf="list.user.first_name"
                                  innerHtml="{{list.user.first_name}}"></span>
                                <span class="author" *ngIf="list.user.first_name==''"
                                  innerHtml="{{list.user.username}}"></span>
                              </p>
                            </li>
                            <li class="right-list">
                              <p class="views views-info">{{list?.statistics?.viewCount}} views</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </ng-container>
                    <div class="col-md-12 text-center mt-2">
                      <a href="/video" class="text-btn">View More</a>
                    </div>
                  </div>
                  <div class="gads mb-3">
                    <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="5010102535" [display]="'inline-block'"
                      [adFormat]="'horizontal'" [width]="728" [height]="90"></ng-adsense>
                  </div>
                </div>
              </div>
            </div>

            <!--LISTING DETAILS: LEFT PART 6-->
            <div class="pglist-p3 pglist-bg pglist-p-com" id="ld-rew" *ngIf="reviewshow">
              <div class="pglist-p-com-ti">
                <h3><span>Write Your</span> Reviews</h3>
              </div>
              <div class="list-pg-inn-sp">
                <div class="list-pg-write-rev">
                  <form class="col" [formGroup]="reviewForm">
                    <p>
                      Writing great reviews may help others discover the places
                      that are just apt for them. Here are a few tips to write a
                      good review:
                    </p>
                    <div class="row">
                      <div class="col s2">
                        <h4>Ratings</h4>
                      </div>
                      <div class="col s10">
                        <fieldset class="rating">
                          <input type="radio" id="star5" name="rating" value="5" formControlName="rating" />
                          <label class="full" for="star5" title="Excellent - 5 stars"></label>

                          <input type="radio" id="star4half" name="rating" value="4.5" formControlName="rating" />
                          <label class="half" for="star4half" title="Excellent - 4.5 stars"></label>

                          <input type="radio" id="star4" name="rating" value="4" formControlName="rating" />
                          <label class="full" for="star4" title="Good - 4 stars"></label>

                          <input type="radio" id="star3half" name="rating" value="3.5" formControlName="rating" />
                          <label class="half" for="star3half" title="Satisfactory - 3.5 stars"></label>

                          <input type="radio" id="star3" name="rating" value="3" formControlName="rating" />
                          <label class="full" for="star3" title="Average - 3 stars"></label>

                          <input type="radio" id="star2half" name="rating" value="2.5" formControlName="rating" />
                          <label class="half" for="star2half" title="Average - 2.5 stars"></label>

                          <input type="radio" id="star2" name="rating" value="2" formControlName="rating" />
                          <label class="full" for="star2" title="Below Average - 2 stars"></label>

                          <input type="radio" id="star1half" name="rating" value="1.5" formControlName="rating" />
                          <label class="half" for="star1half" title="Below Average - 1.5 stars"></label>

                          <input type="radio" id="star1" name="rating" value="1" formControlName="rating" />
                          <label class="full" for="star1" title="Below Average - 1 star"></label>

                          <input type="radio" id="starhalf" name="rating" value="0.5" formControlName="rating" />
                          <label class="half" for="starhalf" title="Below Average - 0.5 stars"></label>
                        </fieldset>
                      </div>
                      <div class="input-field col s12">
                        <span *ngIf="
                            !reviewForm.get('rating').valid &&
                            reviewForm.get('rating').touched
                          " class="help-block">
                          Give Some Rating</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s6">
                        <input id="re_name" type="text" class="validate" formControlName="re_name" />
                        <label for="re_name">Full Name</label>
                        <div class="input-field col s12">
                          <span *ngIf="
                              !reviewForm.get('re_name').valid &&
                              reviewForm.get('re_name').touched
                            " class="help-block">
                            Enter Full Name</span>
                        </div>
                      </div>
                      <div class="input-field col s6">
                        <input id="re_mail" type="email" class="validate" formControlName="re_mail" />
                        <label for="re_mail">Email id</label>
                        <span *ngIf="
                            !reviewForm.get('re_mail').valid &&
                            reviewForm.get('re_mail').touched
                          " class="help-block">Enter Valid Email</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="re_msg" class="materialize-textarea" formControlName="re_msg"></textarea>
                        <label for="re_msg">Write review</label>
                        <span *ngIf="
                            reviewForm.get('re_msg').value == '' &&
                            reviewForm.get('re_msg').touched
                          " class="help-block">Write Some Reviews.</span>
                        <!-- <span *ngIf="!reviewForm.get('re_msg').valid && reviewForm.controls['re_msg'].hasError('minlength') && reviewForm.get('re_msg').touched" class="help-block">Enter min 50chars.</span> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="hidden" name="listingid" formControlName="listingid" />
                        <a routerLink="/login" class="waves-effect waves-light btn-large full-btn"
                          *ngIf="!logeduser">Submit Review</a>
                        <button class="waves-effect waves-light btn-large full-btn" (click)="onSubmitReview()"
                          *ngIf="logeduser">
                          Submit Review
                        </button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="alert alert-success" *ngIf="reviewsucc">
                  <h5>
                    Thank you for leaving reviews for this business. We will
                    review and publish shortly.
                  </h5>
                </div>
                <div class="alert alert-danger" *ngIf="reviewerr">
                  <h5>Review not posted.</h5>
                </div>
              </div>
            </div>
            <!--END LISTING DETAILS: LEFT PART 6-->

            <!--LISTING DETAILS: LEFT PART 5-->
            <div class="pglist-p3 pglist-bg pglist-p-com" id="ld-rer" *ngIf="reviewshow">
              <div class="pglist-p-com-ti">
                <h3><span>User</span> Reviews</h3>
              </div>
              <div class="list-pg-inn-sp">
                <div class="lp-ur-all">
                  <!--
                <div class="lp-ur-all-left">
                  <div class="lp-ur-all-left-1">
                    <div class="lp-ur-all-left-11">Excellent</div>
                    <div class="lp-ur-all-left-12">
                      <div class="lp-ur-all-left-13"></div>
                    </div>
                  </div>
                  <div class="lp-ur-all-left-1">
                    <div class="lp-ur-all-left-11">Good</div>
                    <div class="lp-ur-all-left-12">
                      <div class="lp-ur-all-left-13 lp-ur-all-left-Good"></div>
                    </div>
                  </div>
                  <div class="lp-ur-all-left-1">
                    <div class="lp-ur-all-left-11">Satisfactory</div>
                    <div class="lp-ur-all-left-12">
                      <div class="lp-ur-all-left-13 lp-ur-all-left-satis"></div>
                    </div>
                  </div>
                  <div class="lp-ur-all-left-1">
                    <div class="lp-ur-all-left-11">Below Average</div>
                    <div class="lp-ur-all-left-12">
                      <div class="lp-ur-all-left-13 lp-ur-all-left-below"></div>
                    </div>
                  </div>
                  <div class="lp-ur-all-left-1">
                    <div class="lp-ur-all-left-11">Below Average</div>
                    <div class="lp-ur-all-left-12">
                      <div class="lp-ur-all-left-13 lp-ur-all-left-poor"></div>
                    </div>
                  </div>
                </div>
                -->

                  <div class="lp-ur-all-right">
                    <h5>Overall Ratings</h5>
                    <p>
                      <span>{{ crating | number: "1.1" }}
                        <i class="fa fa-star" aria-hidden="true"></i></span>
                      based on <b>( {{ reviewArray?.length }} )</b> reviews
                    </p>
                  </div>
                </div>

                <div class="lp-ur-all-rat" *ngIf="reviewArray?.length > 0">
                  <h5>Reviews</h5>
                  <ul>
                    <li *ngFor="let rvlist of reviewArray; let i = index">
                      <div class="lr-user-wr-img">
                        <img src="assets/images/users/2.png" alt="user profile"
                          *ngIf="!rvlist?.user?.userimage?.medium" />
                        <img src="{{ imgPath }}{{
                            rvlist?.user?.userimage?.medium
                          }}" alt="" *ngIf="rvlist?.user?.userimage?.medium" />
                      </div>
                      <div class="lr-user-wr-con">
                        <h6>
                          {{ rvlist?.name }}
                          <span>{{ rvlist?.rating | number }}
                            <i class="fa fa-star" aria-hidden="true"></i></span>
                        </h6>
                        <span class="lr-revi-date">{{
                          rvlist.created_at | date: "MMM dd, yyyy"
                          }}</span>
                        <p>{{ rvlist?.content }}</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--END LISTING DETAILS: LEFT PART 5-->

            <div class="text-center com-mar-top-20 mb-3" *ngIf="notfree == freelist">
              <app-unit4></app-unit4>
            </div>

            <div class="pglist-p3 pglist-bg pglist-p-com" id="social_feeds_cont">
              <div class="pglist-p-com-ti">
                <h3><span>Social</span> Feeds / Comments / Gallery</h3>
              </div>
              <div class="list-pg-inn-sp">
                <!-- <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="javascript:void(0)" (click)="tab1()">Facebook Feeds</a></li>
                    <li role="presentation"><a href="javascript:void(0)" (click)="tab2()">Twitter Feeds</a></li>
                    <li role="presentation"><a href="javascript:void(0)" (click)="tab3()">People also Viewed</a></li>
                  </ul>-->

                <div class="fb_tab">
                  <div class="row">
                    <div class="col-md-6" *ngIf="pcontents?.facebook_url">
                      <div class="pglist-p-com-ti">
                        <h3><span>Facebook</span> Feeds</h3>
                      </div>
                      <div #container>
                        <fb-page href="{{ pcontents?.facebook_url }}" [lazyLoad]="200" [container]="container"
                          [smallHeader]="true" [hideCta]="true" [showFacepile]="false" [hideCover]="true"></fb-page>
                      </div>
                    </div>
                    <!---col-->

                    <div class="col-md-6" *ngIf="pcontents?.twitter_url">
                      <div class="pglist-p-com-ti">
                        <h3><span>Twitter</span> Feeds</h3>
                      </div>
                      <!-- <div style="max-height: 500px; overflow-y: scroll;">
                              <ngx-twitter-timeline 
                              [data]="{sourceType: 'url', url:''+pcontents?.twitter_url }"                              [opts]="{tweetLimit: 2}" ></ngx-twitter-timeline>
                          </div> -->

                      <div class="feedlist singletw" innerHtml="{{ twfeedlisting }}"></div>
                    </div>
                    <!---col-->
                  </div>
                </div>

                <div class="fb_tab gray mt-3">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <div class="pglist-p-com-ti">
                        <h3><span>Facebook</span> Comments</h3>
                      </div>
                      <div id="fb-root"></div>
                      <div class="fb-comments" [attr.data-href]="curpage" data-width="340" data-numposts="5"></div>
                    </div>

                    <!--  <div class="col-md-6" *ngIf="pcontents?.facebook_url">
                          <div class="pglist-p-com-ti"><h3><span>Facebook</span> Gallery</h3></div> 
                          <div class="fbimglisting">
                              <ul class="fb_gallery_list">
                                  <li *ngFor="let fimg of fb_images | slice: 0 : 12; let i=index">                             
                                    <div class="fbgall" [ngStyle]="{'background-image':'url('+fimg.webp_images[0].source+')'}">
                                      <a href="{{urlformat(pcontents?.facebook_url)}}" target="_blank"></a>
                                    </div>
                                  </li>
                                </ul>
                          </div>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!reviewshow">
              <div class=" text-center com-mar-top-20 mb-3" *ngIf="notfree == freelist">
                <app-unit4></app-unit4>
              </div>
            </div>
          </div>
          <!---Content Part-->

          <!---Sidebar--->

          <div class="list-pg-rt" id="followus">
            <div class="pglist-p3 pglist-bg pglist-p-com" style="display: none;">
              <div class="pglist-p-com-ti pglist-p-com-ti-right">
                <h3><span>Other</span> Informations</h3>
              </div>
              <div class="list-pg-inn-sp">
                <div class="list-pg-oth-info">
                  <ul>
                    <li>Sunday <span class="green-bg">open</span></li>
                    <li>Monday <span>10:00am - 10:00pm</span></li>
                    <li>Tuesday <span>10:00am - 10:00pm</span></li>
                    <li>Wednesday <span>10:00am - 10:00pm</span></li>
                    <li>Thursday <span>10:00am - 10:00pm</span></li>
                    <li>Friday <span>10:00am - 10:00pm</span></li>
                    <li>Saturday <span>10:00am - 10:00pm</span></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="sidebarads pglist-p3 pglist-bg pglist-p-com text-center" *ngIf="notfree == freelist">
              <app-unit3></app-unit3>
            </div>

            <div class="pglist-p3 pglist-bg pglist-p-com single_social" *ngIf="socialmedia">
              <div class="pglist-p-com-ti pglist-p-com-ti-right">
                <h3><span>Follow</span> Us</h3>
              </div>
              <ul>
                <li class="f_fb" *ngIf="pcontents?.facebook_url">
                  <a href="{{ urlformat(pcontents?.facebook_url) }}" title="Facebook" target="_blank"><i
                      class="fa fa-facebook"></i></a>
                </li>
                <li class="f_tw" *ngIf="pcontents?.twitter_url">
                  <a href="{{ urlformat(pcontents?.twitter_url) }}" title="Twitter" target="_blank"><i
                      class="fa fa-twitter"></i></a>
                </li>
                <li class="f_yt" *ngIf="pcontents?.youtube_url">
                  <a href="{{ urlformat(pcontents?.youtube_url) }}" title="Youtube" target="_blank"><i
                      class="fa fa-youtube"></i></a>
                </li>
                <li class="f_in" *ngIf="pcontents?.instagram_url">
                  <a href="{{ urlformat(pcontents?.instagram_url) }}" title="Instagram" target="_blank"><i
                      class="fa fa-instagram"></i></a>
                </li>
                <li class="f_li" *ngIf="pcontents?.linkedin_url">
                  <a href="{{ urlformat(pcontents?.linkedin_url) }}" title="LinkedIn" target="_blank"><i
                      class="fa fa-linkedin"></i></a>
                </li>
                <li class="f_pin" *ngIf="pcontents?.pintrest_url">
                  <a href="{{ urlformat(pcontents?.pintrest_url) }}" title="Pinterest" target="_blank"><i
                      class="fa fa-pinterest"></i></a>
                </li>
                <li class="f_snap" *ngIf="pcontents?.snapchat">
                  <a href="{{ urlformat(pcontents?.snapchat) }}" title="Snapchat" target="_blank"><i
                      class="fa fa-snapchat"></i></a>
                </li>
              </ul>
            </div>

            <div class="sidebarads pglist-p3 pglist-bg pglist-p-com text-center" *ngIf="notfree == freelist">
              <app-unit3></app-unit3>
            </div>

            <!--LISTING DETAILS: LEFT PART 7-->
            <div class="pglist-p3 pglist-bg pglist-p-com" *ngIf="profshow">
              <div class="pg-list-user-pro">
                <a href="/author/{{ pcontents?.user?.username }}"><span>{{
                    pcontents?.user?.userimage?.title ||
                    pcontents?.user?.first_name +
                    ' ' +
                    pcontents?.user?.last_name
                    }}</span>
                  <div class="uavatar" [ngStyle]="{ 'background-image': 'url(' + avatar + ')' }" title="{{
                      pcontents?.user?.userimage?.title ||
                        pcontents?.user?.first_name +
                          ' ' +
                          pcontents?.user?.last_name
                    }}"></div>
                </a>
              </div>
              <div class="list-pg-inn-sp">
                <div class="list-pg-upro">
                  <a href="/author/{{ pcontents?.user?.username }}">
                    <h5>
                      {{ pcontents?.user?.first_name }}
                      {{ pcontents?.user?.last_name }}
                    </h5>
                  </a>
                  <p>
                    Member since
                    {{ pcontents?.user?.created_at | date: "MMM , yyyy" }}
                  </p>
                  <a class="waves-effect waves-light btn-large full-btn list-pg-btn" href="javascript:void(0)"
                    data-toggle="modal" data-target="#enquiy_popup">Contact User</a>
                </div>
              </div>
            </div>
            <!--END LISTING DETAILS: LEFT PART 7-->

            <div class="sidebarads pglist-p3 pglist-bg pglist-p-com text-center" *ngIf="notfree == freelist">
              <app-unit3></app-unit3>
            </div>

            <!--LISTING DETAILS: LEFT PART 8-->
            <div class="pglist-p3 pglist-bg pglist-p-com" id="getdirect">
              <div class="pglist-p-com-ti pglist-p-com-ti-right">
                <h3><span>Our</span> Location</h3>
              </div>
              <div class="list-pg-inn-sp">
                <div class="list-pg-map">
                  <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    frameBorder="0" [src]="urlMap"></iframe>
                </div>
              </div>
            </div>
            <!--END LISTING DETAILS: LEFT PART 8-->

            <div class="pglist-p3 pglist-bg pglist-p-com">
              <div class="pglist-p-com-ti pglist-p-com-ti-right">
                <h3><span>Twitter</span> Feeds</h3>
              </div>
              <div class="feedlist singletw" innerHtml="{{ twfeed }}"></div>
            </div>

            <!--LISTING DETAILS: LEFT PART 9-->
            <div class="sidebarads pglist-p3 pglist-bg pglist-p-com text-center" *ngIf="notfree == freelist">
              <app-unit3></app-unit3>
            </div>
            <!--END LISTING DETAILS: LEFT PART 9-->

            <!--LISTING DETAILS: LEFT PART 10-->
            <div class="list-mig-like related_listing" *ngIf="notfree == freelist">
              <div class="list-ri-spec-tit">
                <h3><span>Related</span> Business</h3>
              </div>

              <a href="{{ siteUrl }}listing/{{ related?.slug }}" *ngFor="let related of relatedArray; let i = index">
                <div class="list-mig-like-com" title="{{ related?.listinglogo?.title || related?.title }}">
                  <div class="list-mig-lc-img" [style.background-image]="
                      related?.featuredImage?.medium
                        ? 'url(' +
                          imgPath +
                          '' +
                          urlchange(related?.featuredImage?.medium) +
                          ')'
                        : 'url(' +
                          imgPath +
                          '' +
                          urlchange(related?.listinglogo?.medium) +
                          ')'
                    ">
                    <span class="home-list-pop-rat list-mi-pr verify">
                      <i class="material-icons dp48 verfied" *ngIf="related?.is_verified"
                        title="Verified Business">done</i>
                    </span>
                  </div>
                  <div class="list-mig-lc-con">
                    <div class="list-rat-ch list-room-rati">
                      <span>{{
                        related?.rating == 0
                        ? "0.0"
                        : (related?.rating | number: "1.1")
                        }}</span>
                      <i class="fa rating-star" [ngClass]="{
                          full: related?.rating >= 1,
                          piece: related?.rating == 0.5
                        }"></i>
                      <i class="fa rating-star" [ngClass]="{
                          full: related?.rating >= 2,
                          piece: related?.rating == 1.5
                        }"></i>
                      <i class="fa rating-star" [ngClass]="{
                          full: related?.rating >= 3,
                          piece: related?.rating == 2.5
                        }"></i>
                      <i class="fa rating-star" [ngClass]="{
                          full: related?.rating >= 4,
                          piece: related?.rating == 3.5
                        }"></i>
                      <i class="fa rating-star" [ngClass]="{
                          full: related?.rating >= 5,
                          piece: related?.rating == 4.5
                        }"></i>
                    </div>
                    <h5 innerHtml="{{ related?.title }}"></h5>
                    <p>{{ (related?.listingregions)[0]?.region?.name }}.</p>
                  </div>
                </div>
              </a>
            </div>
            <!--END LISTING DETAILS: LEFT PART 10-->

            <div class="sidebarads pglist-p3 pglist-bg pglist-p-com text-center" *ngIf="notfree == freelist">
              <app-unit3></app-unit3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!---listing wrapper Result found-->

<!-- 
<li>
  <a
    href="https://softalliancetech.com"
    target="_blank"
    (click)="webclicked(1000)"
    ><i class="fa fa-globe" aria-hidden="true"></i
  ></a>
</li>


<div class="feedlist singletw" innerHtml="{{ twfeed }}"></div>
 -->

<!--Follow / Joiner-->
<div class="modal" id="followjoin" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">
          Follow the Business : {{ pcontents?.title }}
        </h5>
      </div>
      <div class="modal-body">
        <div class="row hom-cre-acc-right">
          <form id="join_frm" name="join_frm" [formGroup]="join_frm">
            <div class="row">
              <div class="input-field col s12">
                <input id="join_fname" type="text" class="validate" title="Full Name" formControlName="join_fname" />
                <label for="join_fname">Full Name</label>
                <span *ngIf="
                    !join_frm.get('join_fname').valid &&
                    join_frm.get('join_fname').touched
                  " class="help-block">Enter Your Name</span>
              </div>

              <div class="input-field col s12">
                <input id="join_email" type="text" class="validate" title="Email" formControlName="join_email" />
                <label for="join_email">Email</label>
                <span *ngIf="
                    !join_frm.get('join_email').valid &&
                    join_frm.get('join_email').touched
                  " class="help-block">Enter Your Email</span>
              </div>

              <div class="input-field col s12 text-center">
                <input type="hidden" value="{{ pcontents?.id }}" name="listingid" formControlName="listingid" />
                <button type="text" class="btn-small waves-effect waves-light btn" (click)="onFollow()">
                  Follow
                  <i class="fa fa-spinner fa-spin" *ngIf="joinloader"></i>
                </button>
              </div>

              <div class="input-field col s12 text-center" *ngIf="joinsucc">
                <div class="alert alert-success">
                  Thank you for following my business. Please let me know if you
                  need any assistance.
                </div>
              </div>

              <div class="input-field col s12 text-center" *ngIf="joinerr">
                <div class="alert alert-danger">
                  Following not work now. Try again later!.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="enquiy_popup" tabindex="-1" role="dialog" aria-labelledby="enquiy_form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="enquiy_form">Enquiry</h4>
      </div>
      <div class="modal-body">
        <div class="row hom-cre-acc-right">
          <form id="enq_frm" name="enq_frm" [formGroup]="listingEnq">
            <div class="row">
              <div class="input-field col s6">
                <input id="enq_fname" type="text" class="validate" formControlName="enq_fname" />
                <label for="enq_fname">First Name</label>
                <span *ngIf="
                    !listingEnq.get('enq_fname').valid &&
                    listingEnq.get('enq_fname').touched
                  " class="help-block">Enter First Name</span>
              </div>

              <div class="input-field col s6">
                <input name="enq_lname" id="enq_lname" type="text" class="validate" formControlName="enq_lname" />
                <label for="enq_lname">Last Name</label>
                <span *ngIf="
                    !listingEnq.get('enq_lname').valid &&
                    listingEnq.get('enq_lname').touched
                  " class="help-block">Enter Last Name</span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input name="enq_email" id="enq_email" type="text" class="validate" formControlName="enq_email" />
                <label for="enq_email">Email</label>
                <span *ngIf="
                    !listingEnq.get('enq_email').valid &&
                    listingEnq.get('enq_email').touched
                  " class="help-block">Enter Valid Email</span>
              </div>
              <div class="input-field col s6">
                <input name="enq_phone" id="enq_phone" type="text" class="validate" formControlName="enq_phone" />
                <label for="enq_phone">Contact No.</label>
                <span *ngIf="
                    listingEnq.get('enq_phone').value == '' &&
                    listingEnq.get('enq_phone').touched
                  " class="help-block">Enter Contact No.</span>
                <span *ngIf="
                    listingEnq.get('enq_phone').value != '' &&
                    listingEnq.controls['enq_phone'].hasError('pattern')
                  " class="help-block">Enter 10 digits no.</span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="enq_cont" id="enq_cont" class="validate" formControlName="enq_cont"></textarea>
                <label for="enq_cont">Enquiry</label>
                <span *ngIf="
                    listingEnq.get('enq_cont').value == '' &&
                    listingEnq.get('enq_cont').touched
                  " class="help-block">Enter Enquiry Message.</span>
                <span *ngIf="
                    !listingEnq.get('enq_cont').valid &&
                    listingEnq.controls['enq_cont'].hasError('minlength') &&
                    listingEnq.get('enq_cont').touched
                  " class="help-block">Enter min 50chars.</span>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 text-center">
                <input type="hidden" value="{{ pcontents?.id }}" name="listingid" formControlName="listingid" />
                <button type="text" class="btn-small waves-effect waves-light btn" (click)="onSubmitEnq()">
                  Send <i class="fa fa-spinner fa-spin" *ngIf="enqloader"></i>
                </button>
              </div>

              <div class="input-field col s12 text-center" *ngIf="enqsucc">
                <div class="alert alert-success">
                  Thank you. Your Enquiry has been sent to the Business owner.
                  The Business owner will reach you soon.
                </div>
              </div>

              <div class="input-field col s12 text-center" *ngIf="enqerr">
                <div class="alert alert-danger">
                  Enquiry not send. Try again later!.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>