<section class="inn-page-bg">
  <div class="container">
    <div class="row">
      <div class="inn-pag-ban">
        <h1>All Business Owners</h1>
      </div>
    </div>
  </div>
</section>

<section class="p-about com-padd com-padd-redu-bot1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-3">
        <h2 class="mb-2">Find your partner!</h2>
        <p>
          It is important to know the make and model of your machine! Not to
          forget the business mind that goes behind it. A network of several
          such business minds screams great ideas and even greater gains!
        </p>
      </div>

      <div class="col-md-12">
        <form class="s12" [formGroup]="ownerSearch" autocomplete="off">
          <div class="row authorsearch mb-3">
            <div class="col-md-12 mb-1 mb-2">
              <p class=" text-center ">
                Attention Shoppers, Find business owners near you. Attention
                Business Owners, Connect with other business owners!
              </p>
            </div>
            <div class="col s3">
              <label for="keywords">Keyword</label>
              <input id="keywords" type="text" class="form-control" formControlName="keywords" />
            </div>
            <div class="col s3">
              <label for="cateauthor">Category Name</label>
              <select id="cateauthor" class="form-control" formControlName="catename">
                <option value="">Select Category</option>
                <option *ngFor="let listcate of listCates" [value]="listcate.slug" [innerHtml]="listcate.name"></option>
              </select>
            </div>
            <div class="col s3">
              <label for="location">Location</label>
              <input id="location" type="text" value="{{ this.locatclick }}" class="form-control"
                formControlName="authorloc" (keyup)="onKey($event)" />
              <ul class="addFetch" *ngIf="locatadd">
                <li *ngFor="let locatlist of locatadd">
                  <span (click)="getlocAdd($event); setlocAdd($event)"
                    [attr.data-latlan]="locatlist.point.coordinates">{{ locatlist.name }}</span>
                </li>
              </ul>
            </div>
            <div class="col s3">
              <button type="submit" class="waves-effect waves-light btn" (click)="searchOwner()">
                Submit
                <i class="fa fa-spin fa-spinner" *ngIf="searchloader"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-12 ">
        <div class="row pg-cus-rev ownerlist_page">
          <div class="col-md-12 text-center" *ngIf="tot == 0">
            <h3>No Results Found</h3>
          </div>
          <ng-container *ngFor="
          let ownerls of collection
            | paginate
              : {
                  itemsPerPage: config.itemsPerPage,
                  currentPage: p,
                  totalItems: tot
                };
          let i = index
        ">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="cus-rev">
                <div class="pg-revi-re">
                  <img src="{{
                ownerls?.userimage?.small
                  ? imgPath + ownerls?.userimage?.small
                  : siteUrl + 'assets/images/avatar.jpg'
              }}" alt="{{ ownerls?.first_name || ownerls?.username }}" />
                  <p class="owner_name">
                    <a href="/author/{{ ownerls?.username }}">
                      {{ ownerls?.first_name || ownerls?.username }}
                      {{ ownerls?.last_name }}
                    </a>
                  </p>
                  <p class="owner_loc"></p>
                </div>

                <p>
                  <b>Owner Since:</b><br />
                  {{ ownerls?.created_at | date: "MMMM, dd yyyy" }}
                </p>

                <!--  <div class="owner-social-btns text-center">
            <ul>
              <li>
                <a href="#" class="facebooki" title="Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="twitteri" title="Twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="linkedi" title="Linkedin"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="#" class="pinteresti" title="Pinterest"
                  ><i class="fa fa-pinterest-p"></i
                ></a>
              </li>
              <li>
                <a href="#" class="snapchati" title="Snapchat"
                  ><i class="fa fa-snapchat-ghost"></i
                ></a>
              </li>
            </ul>
          </div> -->

                <div class="sendeq mt-1">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#ownerenq" (click)="ownid(ownerls?.id)"
                    class="sendeq_link"><i class="fa fa-envelope"></i> Send Enquiry</a>
                </div>

                <div class="owlabel"><span>Owner at</span></div>
                <div class="cus-re-com" *ngFor="let ownlisting of ownerls?.listings; let i = index">
                  <div class="post_logo" *ngIf="i == 0">
                    <img src="{{
                  ownlisting?.listinglogo?.small
                    ? imgPath + '' + ownlisting?.listinglogo?.small
                    : '/assets/images/listing.jpg'
                }}" alt="{{
                  ownlisting?.listinglogo?.alt_text || ownlisting?.title
                }}" title="{{
                  ownlisting?.listinglogo?.title || ownlisting?.title
                }}" />
                  </div>
                  <div class="titlerev" *ngIf="i == 0">
                    <a href="/listing/{{ ownlisting?.slug }}" *ngIf="i == 0">
                      <h4 innerHtml="{{ ownlisting?.title }}"></h4>
                    </a>
                    <a href="{{ siteUrl }}listing-category/{{
                  (ownlisting?.listingcategory)[0]?.category.parentCat.slug
                }}/{{ (ownlisting?.listingcategory)[0]?.category?.slug }}">
                      <span innerHtml="{{
                    (ownlisting?.listingcategory)[0]?.category?.name
                  }}"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-1 mb-1" *ngIf="(i+1)%4==0">
              <app-unit4></app-unit4>
            </div>
          </ng-container>

        </div>

        <div class="row" *ngIf="tot > 0">
          <!---pagination start-->
          <pagination-controls class="category-pagination" (pageChange)="pageChange($event)"></pagination-controls>
        </div>
        <!---pagination close-->
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ownerenq" tabindex="-1" role="dialog" aria-labelledby="ownerenq" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="">Contact Request</h4>
      </div>
      <div class="modal-body">
        <div class="row hom-cre-acc-right">
          <form class="s12" [formGroup]="ownerEnq" autocomplete="off">
            <div class="row">
              <div class="input-field col s12">
                <input type="email" class="validate" required formControlName="owneremail" />
                <label>Your Email(required)</label>
              </div>
              <span *ngIf="
                  !ownerEnq.get('owneremail').valid &&
                  ownerEnq.get('owneremail').touched
                " class="help-block">
                Please enter vaild email</span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea type="email" class="validate" required formControlName="ownermsg"></textarea>
                <label>Enquiry</label>
              </div>
              <span *ngIf="
                  !ownerEnq.get('ownermsg').valid &&
                  ownerEnq.get('ownermsg').touched
                " class="help-block">
                Please enter message</span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="hidden" value="{{ getid }}" name="ownerid" formControlName="ownerid" />
                <button type="text" class="btn-small waves-effect waves-light btn" (click)="onSubmitEnq()">
                  Send <i class="fa fa-spinner fa-spin" *ngIf="enqloader"></i>
                </button>
              </div>
            </div>

            <div *ngIf="errormsg" class="errormsgs">
              <div class="alert alert-danger">Message not send. Try Later.</div>
            </div>
            <div *ngIf="succmsg" class="sendmsgs">
              <div class="alert alert-success">
                Your enquiry send. We contact soon..
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>