<!--Step1-->
<form [formGroup]="promoForm" (ngSubmit)="(onSubmit)">
  <div
    class="wiz wiz_1"
    data-wiz="1"
    [ngClass]="index == 1 ? 'active' : 'd-none'"
  >
    <div class="form-step" data-step="1">
      <div class="step-heading">
        <p>
          Take This Short Quiz To Find Out With Marketing Tool Will Work The
          Best For Your Business Needs...
        </p>
      </div>

      <div class="step-fields">
        <h6 class="font-weight-bold">I Want To:</h6>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-primary progress-bar-animated"
            role="progressbar"
            style="width: 15%;"
            aria-valuenow="15"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <div class="inp_list">
          <div *ngFor="let obj of promoObjectives" class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="promo_objective"
              value="{{ obj.id }}"
              id="val{{ obj.id }}"
              (change)="nextStep(index)"
            />
            <label class="form-check-label" for="val{{ obj.id }}">
              {{ obj.text }}
            </label>
          </div>
        </div>

        <label
          class="help-block"
          *ngIf="nextClicked && f.promo_objective?.errors?.required"
        >
          <br />
          Please select any one above to proceed
        </label>

        <a
          href="javascript:void(0)"
          class="next-step"
          (click)="nextStep(index)"
          [hidden]="loading"
          >Go To Next Step</a
        >
        <a href="javascript:void(0);" class="next-step" [hidden]="!loading"
          ><i class="fa fa-spinner fa-spin"></i
        ></a>
      </div>
    </div>
  </div>

  <!--Step2-->
  <div
    class="wiz wiz_2"
    data-wiz="2"
    [ngClass]="index == 2 ? 'active' : 'd-none'"
  >
    <div class="form-step" data-step="1">
      <div class="step-heading">
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1312">
          <b>Drive Traffic to Website</b><br />
          Build your Ad. Attract Leads with a Custom Call-to-Action Button,
          Choose it!
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1313">
          <b>Generate Leads</b><br />
          Build your Ad. Attract Leads with a Custom Call-to-Action Button,
          Choose it!
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1314">
          <b>Sell Online</b><br />
          Build your Ad. Attract Shoppers with a Custom Call-to-Action Button,
          Choose it!
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1315">
          <b>Improve Business Reputation</b><br />
          Build your Ad. Attract Leads with a Custom Call-to-Action Button,
          Choose it!
        </p>
      </div>
      <div class="step-fields">
        <a href="javascript:void(0)" class="frm-back" (click)="backStep(index)"
          ><i class="fa fa-angle-left"></i> back</a
        >
        <h6 class="font-weight-bold" *ngIf="f.promo_objective?.value == 1312">
          Website Visitors Will:
        </h6>
        <h6 class="font-weight-bold" *ngIf="f.promo_objective?.value == 1313">
          Leads Will:
        </h6>
        <h6 class="font-weight-bold" *ngIf="f.promo_objective?.value == 1314">
          Shoppers Will:
        </h6>
        <h6 class="font-weight-bold" *ngIf="f.promo_objective?.value == 1315">
          Reviewers Will:
        </h6>

        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-primary progress-bar-animated"
            role="progressbar"
            style="width: 25%;"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="inp_list">
          <div *ngFor="let type of promoTypes" class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="promo_type"
              id="ch{{ type.id }}"
              value="{{ type.id }}"
              (change)="nextStep(index)"
            />
            <label class="form-check-label" for="ch{{ type.id }}">
              {{ type.name }}
            </label>
          </div>
        </div>
        <label
          class="help-block"
          *ngIf="nextClicked && f.promo_type?.errors?.required"
        >
          <br />
          Please select any one above to proceed
        </label>
        <a
          href="javascript:void(0)"
          class="next-step"
          (click)="nextStep(index)"
          [hidden]="loading"
          >Go To Next Step</a
        >
        <a href="javascript:void(0);" class="next-step" [hidden]="!loading"
          ><i class="fa fa-spinner fa-spin"></i
        ></a>
      </div>
    </div>
  </div>
  <!--Step2-->

  <!--Step3-->
  <div
    class="wiz wiz_3"
    data-wiz="3"
    [ngClass]="index == 3 ? 'active' : 'd-none'"
  >
    <div class="form-step" data-step="1">
      <div class="step-heading">
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1312">
          <b>Drive Traffic to Website</b><br />
          Build your Ad. Tell Online Visitors About your Offer...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1313">
          <b>Generate Leads</b><br />
          Build your Ad. Tell Leads About your Offer...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1314">
          <b>Sell Online</b><br />
          Build your Ad. Tell Shoppers About your Offer...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1315">
          <b>Improve Business Reputation</b><br />
          Build your Ad. Tell Online Visitors About your Offer...
        </p>
      </div>
      <div class="step-fields">
        <a href="javascript:void(0)" class="frm-back" (click)="backStep(index)"
          ><i class="fa fa-angle-left"></i> back</a
        >
        <h6 class="font-weight-bold">Ad Detais:</h6>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-primary progress-bar-animated"
            role="progressbar"
            style="width: 60%;"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="inp_list">
          <div class="form-group">
            <input
              type="text"
              formControlName="title"
              id="ptitle"
              class="form-control"
              placeholder="Promo Title"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.title?.errors?.required"
            >
              Please Enter Promo Title
            </label>
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="promotion_url"
              id="plink"
              class="form-control"
              placeholder="Promotion Link"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.promotion_url?.errors?.required"
            >
              Please Enter Promotion Link
            </label>
            <label class="help-block" *ngIf="f.promotion_url?.errors?.pattern">
              Please Enter Promotion Link (EX: https://promo.com)
            </label>
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="company_website"
              id="plink"
              class="form-control"
              placeholder="Website Url"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.company_website?.errors?.required"
            >
              Please Enter Website Link (EX: https://site.com)
            </label>
            <label
              class="help-block"
              *ngIf="f.company_website?.errors?.pattern"
            >
              Enter Valid Url
            </label>
          </div>

          <div class="form-group">
            <select
              formControlName="category"
              id="category_parent"
              required=""
              class="form-control"
              (change)="getSubcate($event.target.value)"
            >
              <option value="">Select Category</option>
              <option
                *ngFor="let category of promoCategories"
                value="{{ category.id }}"
                [innerHtml]="category.name"
              ></option>
            </select>
            <label
              class="help-block"
              *ngIf="nextClicked && f.category?.errors?.required"
            >
              Please Select a Category
            </label>
          </div>

          <div class="form-group">
            <select
              formControlName="subcategory"
              id="sub_category"
              required=""
              class="form-control"
            >
              <option value="">Sub Category</option>
              <option
                *ngFor="let category of subCates"
                value="{{ category.id }}"
                [innerHtml]="category.name"
              ></option>
            </select>
            <label
              class="help-block"
              *ngIf="nextClicked && f.subcategory?.errors?.required"
            >
              Please Select a Sub Category
            </label>
          </div>

          <div class="form-group">
            <textarea
              class="form-control"
              formControlName="description"
              id="desc"
              placeholder="Description"
            ></textarea>
            <label
              class="help-block"
              *ngIf="nextClicked && f.description?.errors?.required"
            >
              Please Enter some description
            </label>
          </div>
        </div>
        <a
          href="javascript:void(0)"
          class="next-step"
          (click)="nextStep(index)"
          [hidden]="loading"
          >Go To Next Step</a
        >
        <a href="javascript:void(0);" class="next-step" [hidden]="!loading"
          ><i class="fa fa-spinner fa-spin"></i
        ></a>
      </div>
    </div>
  </div>
  <!--Step3 close-->

  <!--Step4-->
  <div
    class="wiz wiz_4"
    data-wiz="4"
    [ngClass]="index == 4 ? 'active' : 'd-none'"
  >
    <div class="form-step" data-step="1">
      <div class="step-heading">
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1312">
          <b>Drive Traffic to Website</b><br />
          Build your Ad. Target Traffic from a Specific Location...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1313">
          <b>Generate Leads</b><br />
          Build your Ad. Generate Leads from a Specific Location...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1314">
          <b>Sell Online</b><br />
          Build your Ad. Sell to Shoppers from a Specific Location...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1315">
          <b>Improve Business Reputation</b><br />
          Build your Ad. Target Traffic from a Specific Location...
        </p>
      </div>
      <div class="step-fields">
        <a href="javascript:void(0)" class="frm-back" (click)="backStep(index)"
          ><i class="fa fa-angle-left"></i> back</a
        >
        <h6 class="font-weight-bold">Promo Location:</h6>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-primary progress-bar-animated"
            role="progressbar"
            style="width: 75%;"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="inp_list">
          <div class="form-group">
            <input
              type="text"
              name="country"
              disabled
              id="country"
              class="form-control"
              value="United States of America"
              placeholder="USA"
            />
          </div>

          <div class="form-group">
            <select
              formControlName="region"
              id="region"
              class="form-control"
              (change)="loadRegion($event)"
            >
              <option value="">State</option>
              <option
                *ngFor="let state of states"
                value="{{ state.id }}"
                [innerHtml]="state.name"
              ></option>
            </select>
            <label
              class="help-block"
              *ngIf="nextClicked && f.region?.errors?.required"
            >
              Please Select a State
            </label>
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="city"
              id="city"
              class="form-control"
              placeholder="City"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.city?.errors?.required"
            >
              Please Enter a City
            </label>
          </div>

          <div class="form-group">
            <textarea
              formControlName="address"
              id="addr"
              class="form-control"
              placeholder="Address"
            ></textarea>
            <label
              class="help-block"
              *ngIf="nextClicked && f.address?.errors?.required"
            >
              Please Enter a address
            </label>
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="zip"
              id="zip"
              class="form-control"
              placeholder="zip"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.zip?.errors?.required"
            >
              Please Enter a zip code
            </label>
            <label class="help-block" *ngIf="f.zip?.errors?.pattern">
              Enter Valid zip code
            </label>
          </div>
        </div>
        <a
          href="javascript:void(0)"
          class="next-step"
          (click)="nextStep(index)"
          [hidden]="loading"
          >Go To Next Step</a
        >
        <a href="javascript:void(0);" class="next-step" [hidden]="!loading"
          ><i class="fa fa-spinner fa-spin"></i
        ></a>
      </div>
    </div>
  </div>
  <!--Step4 close-->

  <!--Step5-->
  <div
    class="wiz wiz_5"
    data-wiz="5"
    [ngClass]="index == 5 ? 'active' : 'd-none'"
  >
    <div class="form-step" data-step="1">
      <div class="step-heading">
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1312">
          <b>Drive Traffic to Website</b><br />
          Build your Ad. Make It Easy for Interested Visitors to Connect With
          You...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1313">
          <b>Generate Leads</b><br />
          Build your Ad. Make It Easy for Interested Visitors to Connect With
          You...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1314">
          <b>Sell Online</b><br />
          Build your Ad. Make It Easy for Interested Shoppers to Connect With
          You...
        </p>
        <p class="mb-0" *ngIf="f.promo_objective?.value == 1315">
          <b>Improve Business Reputation</b><br />
          Build your Ad. Make It Easy for Interested Visitors to Connect With
          You...
        </p>
      </div>
      <div class="step-fields">
        <a href="javascript:void(0)" class="frm-back" (click)="backStep(index)"
          ><i class="fa fa-angle-left"></i> back</a
        >
        <h6 class="font-weight-bold">Generate Leads From:</h6>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-primary progress-bar-animated"
            role="progressbar"
            style="width: 83%;"
            aria-valuenow="83"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="inp_list">
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              formControlName="first_name"
              id="fname"
              placeholder="First Name"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.first_name?.errors?.required"
            >
              Please Enter a First Name
            </label>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              formControlName="last_name"
              id="lname"
              placeholder="Last Name"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.last_name?.errors?.required"
            >
              Please Enter a Last Name
            </label>
          </div>
          <div class="form-group" *ngIf="!logedemail">
            <input
              class="form-control"
              type="email"
              formControlName="email"
              id="email"
              placeholder="Email"
            />
            <label
              class="help-block"
              *ngIf="
                (nextClicked && f.email?.errors?.required) ||
                f.email?.errors?.pattern
              "
            >
              Please Enter valid email
            </label>
          </div>

          <div class="form-group" *ngIf="logedemail">
            <input
              class="form-control"
              type="email"
              formControlName="email"
              id="email"
              placeholder="Email"
              disabled
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              formControlName="phone"
              id="phone"
              placeholder="Phone"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.phone?.errors?.required"
            >
              Please Enter a Phone number
            </label>
            <label class="help-block" *ngIf="f.phone?.errors?.pattern">
              Enter phone number in digits
            </label>
          </div>
          <div class="form-group">
            <input name="file" type="file" (change)="onFileChange($event)" />
            <input
              type="hidden"
              name="fileHidden"
              formControlName="imageInput"
            />
            <label
              class="help-block"
              *ngIf="nextClicked && f.image?.errors?.required"
            >
              Please choose an image
            </label>
            <span>Logo size max 2MB</span>
            <i class="fa fa-spinner fa-spin" *ngIf="imgupload"></i>
          </div>
        </div>

        <a
          href="javascript:void(0)"
          class="next-step"
          (click)="nextStep(index)"
          [hidden]="loading"
          >Go To Next Step</a
        >
        <a href="javascript:void(0);" class="next-step" [hidden]="!loading"
          ><i class="fa fa-spinner fa-spin"></i
        ></a>

        <div class="text-center mt-1" *ngIf="erromsg">
          <label class="alert-danger alert">{{ erromsg }}</label>
          <p class="errnote">
            <a href="https://walldirectory.com/login">Login</a> your account to
            continue
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Step5 close-->

  <!--Step6-->
  <div
    class="wiz wiz_6"
    data-wiz="6"
    [ngClass]="index == 6 ? 'active' : 'd-none'"
  >
    <div class="form-step" data-step="1">
      <div class="step-heading">
        <p class="mb-0"><b>Finish Entry:</b><br /></p>
      </div>
      <div class="step-fields">
        <h6 class="font-weight-bold">Finish Entry:</h6>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-primary"
            role="progressbar"
            style="width: 100%;"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="inp_list alert alert-success">
          <p>
            Your request is under review!<br />
            * Check your email<br />
            * <a href="https://walldirectory.com/plans">Upgrade to publish</a
            ><br />
            * <a href="https://walldirectory.com/login">Login</a> your account
            to continue<br />
          </p>
          <p class="text-small">
            <strong>Note:</strong> In case you didnt hear in 12hrs, please check
            your Spam/Junk folder.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Step6 close-->
</form>
