.db-list-stats {
  min-width: 80px;
  margin: 2px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #673ab7;
  color: #fff;
}
.actionlinks a:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
