<div
  class="col-md-3 dir-alp-con-left filter_sidebar"
  *ngIf="listData?.length > 0"
>
  <div class="dir-alp-con-left-1">
    <h3>
      Nearby Locations <span>( {{ listingRegion?.length }} )</span>
    </h3>
  </div>

  <div class="dir-hom-pre dir-alp-left-ner-notb location_tags">
    <ul>
      <li>
        <input
          type="radio"
          class="filter_region"
          (click)="onSearch()"
          value=""
          id="region-0"
          name="radio"
        />
        <label for="region-0" innerHtml="All">All</label>
      </li>
      <li *ngFor="let near_regi of listingRegion; let i = index">
        <input
          type="radio"
          class="filter_region"
          (click)="onSearch()"
          value="{{ near_regi?.slug }}"
          id="region-{{ near_regi?.id }}"
          name="radio"
        />
        <label
          for="region-{{ near_regi?.id }}"
          innerHtml="{{ near_regi?.name }} ({{ near_regi?.counts }})"
        ></label>
      </li>
    </ul>
  </div>

  <!--==========Sub Category Filter============-->
  <div class="dir-alp-l3 dir-alp-l-com">
    <div class="sheading"><h4>Sub Category Filter</h4></div>
    <div class="dir-alp-l-com1 dir-alp-p3 sub_cate_list">
      <ul>
        <li *ngFor="let subcate of listSubcate; let i = index">
          <input
            class="with-gap filter_cate"
            name="subcate"
            type="radio"
            id="cate-{{ subcate?.category_id }}"
            value="{{ subcate?.category?.slug }}"
            (click)="onSearch()"
          />
          <label
            for="cate-{{ subcate?.category_id }}"
            innerHtml="{{ subcate?.category?.name }} ({{ subcate?.count }})"
          ></label>
        </li>
      </ul>
    </div>
  </div>
  <!--==========End Sub Category Filter============-->

  <!--==========Sub Category Filter============-->
  <div class="dir-alp-l3 dir-alp-l-com distace_filter">
    <div class="sheading"><h4>Distance</h4></div>
    <div class="dir-alp-l-com1 dir-alp-p3">
      <ul>
        <li *ngFor="let ds of distances; let i = index">
          <input
            type="radio"
            name="distan"
            id="dis-{{ i }}"
            class="with-gap filter_km"
            value="{{ ds.val }}"
            (click)="onSearch()"
          />
          <label for="dis-{{ i }}" innerHtml="{{ ds.km }}"></label>
        </li>
      </ul>
    </div>
  </div>
  <!--==========End Sub Category Filter============-->

  <!--==========Sub Category Filter============-->
  <div class="dir-alp-l3 dir-alp-l-com rating_filter">
    <div class="sheading"><h4>Ratings</h4></div>
    <div class="dir-alp-l-com1 dir-alp-p3">
      <ul>
        <li *ngFor="let rates of rating; let i = index">
          <input
            type="radio"
            class="filled-in ratess"
            name="rates"
            id="rs_{{ i }}"
            value="{{ rates.rate }}"
            (click)="onSearch()"
          />
          <label for="rs_{{ i }}">
            <span class="list-rat-ch">
              <span>{{ rates?.rate }}</span>
              <i
                class="fa rating-star "
                [ngClass]="{ full: rates?.rate >= 0, piece: rates?.rate == 0 }"
              ></i>
              <i
                class="fa rating-star "
                [ngClass]="{
                  full: rates?.rate >= 1,
                  piece: rates?.rate == 0.5
                }"
              ></i>
              <i
                class="fa rating-star "
                [ngClass]="{
                  full: rates?.rate >= 2,
                  piece: rates?.rate == 1.5
                }"
              ></i>
              <i
                class="fa rating-star "
                [ngClass]="{
                  full: rates?.rate >= 3,
                  piece: rates?.rate == 2.5
                }"
              ></i>
              <i
                class="fa rating-star "
                [ngClass]="{
                  full: rates?.rate >= 4,
                  piece: rates?.rate == 3.5
                }"
              ></i>
              <i
                class="fa rating-star "
                [ngClass]="{
                  full: rates?.rate >= 5,
                  piece: rates?.rate == 4.5
                }"
              ></i>
            </span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <!--==========End Sub Category Filter============-->

  <div class="dir-alp-l3 dir-alp-l-com most_viewed">
    <div class="sheading"><h4>Most Viewed</h4></div>
    <div class="most_viewed_wrap">
      <ul>
        <li *ngFor="let mviews of mostviews; let i = index">
          <input
            type="radio"
            name="mviews"
            value="{{ mviews?.value }}"
            id="m-{{ mviews?.value }}"
            class="mview"
            (click)="onSearch()"
          />
          <label for="m-{{ mviews?.value }}"
            ><h5>{{ mviews?.text }}</h5>
            <p>{{ mviews?.subtext }}</p></label
          >
        </li>
      </ul>
    </div>
  </div>
</div>
