<section class="agent-wrapper">
  <div class="tz">
    <!--LEFT SECTION-->
     <app-agentsidebar class="desk_dashnav"></app-agentsidebar>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>Manage My Profile</h4>
        <div class="db-list-com  table-responsive tz-db-table">
          <div class="ds-boar-title">
            <h2>Profile</h2>
            <p>
              Keep your details updated here. check your alerts often to take
              advantage of local deals.
            </p>
          </div>
          <table class="table">
            <tr>
              <td>Customer Register URL:</td>
              <td>https://walldirectory.com/referred-user</td>
            </tr>
            <tr>
              <td>Customer Refferal Id:</td>
              <td>{{ agentid }}</td>
            </tr>
          </table>

          <table class="table table-striped bordered">
            <tbody>
              <tr>
                <td width="20%">User Name</td>
                <td>:</td>
                <td>{{ logedname }}</td>
              </tr>
              <tr>
                <td width="20%">First Name</td>
                <td>:</td>
                <td>{{ profDetails?.first_name }}</td>
              </tr>
              <tr>
                <td width="20%">Last Name</td>
                <td>:</td>
                <td>{{ profDetails?.last_name }}</td>
              </tr>
              <tr>
                <td width="20%">Email</td>
                <td>:</td>
                <td>{{ profDetails?.email }}</td>
              </tr>
              <tr>
                <td width="20%">Phone</td>
                <td>:</td>
                <td>{{ profDetails?.phone }}</td>
              </tr>
              <tr>
                <td width="20%">Mobile</td>
                <td>:</td>
                <td>
                  <!--
                      {{ profDetails?.mobile_prefix }}-->
                  {{ profDetails?.mobile }}
                </td>
              </tr>
              <tr>
                <td width="20%">Date of birth</td>
                <td>:</td>
                <td>{{ profDetails?.dob }}</td>
              </tr>
              <tr>
                <td width="20%">Address</td>
                <td>:</td>
                <td>{{ profDetails?.address }}</td>
              </tr>
              <tr>
                <td width="20%">State</td>
                <td>:</td>
                <td>{{ profDetails?.userstate?.name }}</td>
              </tr>
              <tr>
                <td width="20%">Country</td>
                <td>:</td>
                <td>{{ profDetails?.usercountry?.name }}</td>
              </tr>
              <tr>
                <td width="20%">Paypal Account Id</td>
                <td>:</td>
                <td>
                  <span class="db-done">{{ profDetails?.paypal_id }}</span>
                </td>
              </tr>
              <!--  <tr>
                <td width="20%">Bank Details</td>
                <td>:</td>
                <td>
                  <span class="db-done">{{ profDetails?.bank_details }}</span>
                </td>
              </tr> -->
              <tr>
                <td width="20%">Status</td>
                <td>:</td>
                <td><span class="db-done">Active</span></td>
              </tr>
            </tbody>
          </table>
          <div class="db-mak-pay-bot">
            <a
              href="/agent/profile-edit"
              class="waves-effect waves-light btn-large"
              >Edit my profile</a
            >
          </div>
        </div>
      </div>
    </div>
	<app-agentsidebar class="mobile_dashnav"></app-agentsidebar>
  </div>
</section>
