<section class="tz-register">
  <div class="log-in-pop">
    <div class="log-in-pop-left">
      <app-sociallogin></app-sociallogin>
    </div>
    <div class="log-in-pop-right">
      <!--
        <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="">
        </a>
       -->
      <h4>Recover Password</h4>
      <p>Please enter your email address to request a password reset.</p>
      <form class="s12" [formGroup]="forgotForm" autocomplete="off">
        <div *ngIf="errormsg" class="errormsgs">
          {{ errormsg }}
        </div>
        <div *ngIf="sendmsg" class="sendmsgs">
          Check your registered email address.
        </div>
        <div>
          <div class="input-field s12">
            <input type="text" class="validate" formControlName="email" />
            <label>Registered Email Address</label>
          </div>
          <span
            *ngIf="
              !forgotForm.get('email').valid && forgotForm.get('email').touched
            "
            class="help-block"
          >
            Please enter vaild email</span
          >
        </div>
        <div>
          <div class="input-field s4">
            <button
              class="waves-effect waves-light forget-in-btn  waves-input-wrapper"
              (click)="onSubmit()"
            >
              Reset Password
              <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
