<section>
  <div class="tz">
    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>List of request</h4>
        <div class="db-list-com table-responsive tz-db-table">
          <div class="ds-boar-title">
            <h2>Request</h2>
            <p>Here list out you have asked request details.</p>
          </div>

          <table class="mt-2 table  bordered">
            <tr>
              <th>S.no</th>
              <th>Request Detail</th>
              <th>Enquiry</th>
              <th>Date</th>
              <th>View Response</th>
            </tr>
            <tr *ngIf="enqlist == 0">
              <td colspan="5">
                <h3>No enquiry found</h3>
              </td>
            </tr>
            <tr *ngFor="let elist of enqlist; let i = index">
              <td width="10%">{{ i + 1 }}</td>
              <td width="30%">
                <b>Name: </b>
                {{
                elist.user.first_name
                ? elist.user.first_name
                : elist.user.username
                }}
                {{ elist.user.last_name ? elist.user.last_name : "" }}
                <br />
                <b>Email: </b> {{ elist.user.email }}
              </td>
              <td width="30%">{{ elist.message }}</td>
              <td width="15%">{{ elist.created_at | date: "MMM, dd yyyy" }}</td>
              <td width="15%">
                <a href="/enquiry-response/{{ elist.id }}" class="btn btn-success">View
                  <label class="badge  badge-success">{{
                    elist.ReplyCount
                    }}</label>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="mt-2 mb-1">
          <app-unit5></app-unit5>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>