<!--FOOTER SECTION-->
<footer id="colophon" class="footer site-footer clearfix">
	<div id="quaternary" class="sidebar-container " role="complementary">
		<div class="sidebar-inner">
			<div class="widget-area clearfix">
				<div id="azh_widget-2" class="widget widget_azh_widget">
					<div data-section="section">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-sm-12  foot-logo">
									<img src="assets/images/walldirectory-logo-footer.png" width="242" height="50"
										alt="walldirectory">
									<p class="hasimg">We are a local business directory. Follow the links to explore
										local shops, contact the sellers and get the best quote now.
										Use Wall Directory as a search engine tool to find business information, social
										media feeds and links to reviews at Google my business pages.
										We are the top referral website. Add a local business listing here to attract
										potential customers, reach local shoppers and connect with buyers.</p>
								</div>

								<div class="col-sm-6 col-md-4">
									<h4>Recent Blog</h4>
									<div class="hom-cre-acc-left recent_blog">
										<ul>
											<li *ngFor="let rpost of blogposts">
												<img src="{{rpost.postimg}}" width="{{rpost.w}}" height="{{rpost.h}}"
													alt="{{rpost.title}}">
												<div>
													<a href="{{rpost.postlink}}" title="{{rpost.title}}"
														target="_blank">{{rpost.title}}</a>
													<p><i class="fa fa-clock-o" aria-hidden="true"></i>
														{{rpost.postdate}} </p>
												</div>
											</li>
										</ul>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 footer_subscribe ">
									<h4>Newsletter Subscription</h4>

									<div class="newsletter_subscribe">
										<form id="newsletter_subscribe" name="newsletter_subscribe"
											[formGroup]="subscribeForm">
											<div class="col s6">
												<div class="form-group">
													<input type="text" name="fname" class="form-control"
														placeholder="First Name" formControlName="fname" />
													<span
														*ngIf="!subscribeForm.get('fname').valid && subscribeForm.get('fname').touched"
														class="help-block"> Required First Name </span>
												</div>
											</div>
											<div class="col s6">
												<div class="form-group">
													<input type="text" name="lname" class="form-control"
														placeholder="Last Name" formControlName="lname" />
													<span
														*ngIf="!subscribeForm.get('lname').valid && subscribeForm.get('lname').touched"
														class="help-block"> Required Last Name</span>
												</div>
											</div>
											<div class="col s12">
												<div class="form-group">
													<input type="email" name="email" class="form-control"
														placeholder="Email" formControlName="email" />
													<span
														*ngIf="!subscribeForm.get('email').valid && subscribeForm.get('email').touched"
														class="help-block"> Please enter email</span>
												</div>
											</div>
											<div class="col s12">
												<div class="form-group">
													<button type="submit" name="subscribe"
														class="waves-effect waves-light btn" (click)="onSubscribe()">
														Subscribe <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
													</button>
												</div>
											</div>

											<div class="alert alert-success col s12" *ngIf="subscribed">Thank you for
												subscribing.</div>
											<div class="alert alert-danger col s12" *ngIf="failedsub">{{failedsub}}
											</div>
										</form>
									</div>

									<div class="clearfix"></div>

									<div class="foot-social">
										<h4>Follow with us</h4>
										<ul>
											<li><a href="https://www.facebook.com/walldirectory" target="_blank"><i
														class="fa fa-facebook" aria-hidden="true"></i></a> </li>
											<li><a href="https://twitter.com/walldirectory" target="_blank"><i
														class="fa fa-twitter" aria-hidden="true"></i></a> </li>
											<li><a href="https://www.linkedin.com/in/walldirectory" target="_blank"><i
														class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div data-section="section" class="foot-sec2">
						<div class="container">
							<div class="row">
								<div class="col-md-12 quick_links">
									<h4>Quick Links</h4>
									<ul class="one-columns">
										<li> <a href="/about-us">About Us</a></li>
										<li> <a href="/how-it-works">How it Works</a></li>
										<li> <a href="/video">Videos</a></li>
										<li> <a href="https://blog.walldirectory.com">Blog</a></li>
										<li> <a href="/contact-us">Contact Us </a></li>
										<li> <a href="/terms-and-conditions">Terms & Conditions</a></li>
										<li> <a href="/privacy-policy/walldirectory-privacy-policy">Privacy Policy</a>
										</li>
										<li> <a href="/content-policy">Content Policy</a></li>
										<li> <a href="#">Support</a></li>
										<li> <a href="/career">Career</a></li>
										<li> <a href="https://walldirectory.com/local-marketing">Local Marketing</a>
										</li>
										<li> <a href="https://walldirectory.com/sitemap.xml">Sitemap</a></li>
									</ul>
								</div>

								<div class="col-md-12 service_categories">
									<h4>Service Categories</h4>
									<ul class="one-columns">
										<li> <a href="/listing-category/auto" title="auto">Auto</a> </li>
										<li> <a href="/listing-category/education" title="Education">Education</a> </li>
										<li> <a href="/listing-category/entertainment"
												title="Entertainment">Entertainment</a> </li>
										<li> <a href="/listing-category/family" title="Family">Family</a> </li>
										<li> <a href="/listing-category/fashion" title="Fashion">Fashion</a> </li>
										<li> <a href="/listing-category/financial" title="Financial">Financial</a> </li>
										<li> <a href="/listing-category/food-drink" title="Food & Drink">Food &
												Drink</a> </li>
										<li> <a href="/listing-category/health-beauty" title="Health & Beauty">Health &
												Beauty</a> </li>
										<li> <a href="/listing-category/home-garden" title="Home & Garden">Home &
												Garden</a> </li>
										<li> <a href="/listing-category/insurance" title="Insurance">Insurance</a> </li>
										<li> <a href="/listing-category/legal" title="Legal">Legal</a> </li>
										<li> <a href="/listing-category/medical" title="Medical">Medical</a> </li>
										<li> <a href="/listing-category/real-estate" title="Real Estate">Real Estate</a>
										</li>
										<li> <a href="/listing-category/technology" title="Technology">Technology</a>
										</li>
										<li> <a href="/listing-category/travel" title="Travel">Travel</a> </li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .widget-area -->
		</div>
		<!-- .sidebar-inner -->
	</div>
	<!-- #quaternary -->
</footer>
<!--COPY RIGHTS-->
<section class="copy">
	<div class="container">
		<p>Copyrights © 2021 Walldirectory.com. &nbsp;&nbsp;All rights reserved. </p>
	</div>
</section>

<!--
<div class="fixed-action-btn " style="bottom:100px; right: 24px;">
    <a class="btn-floating btn-large red">
        <img src="assets/images/icon/startup.png" alt="startup">
    </a>
    <ul>
        <li>
            <a href="/add-business" class="btn-floating bg-indigo"  title="Add Business">
              <i class="fa fa-bullhorn"></i> Add Business
            </a>
        </li>
        <li>
            <a href="/add-promotion" class="btn-floating bg-indigo" title="Add Prmotion">
			<i class="fa fa-briefcase"></i> Add Promotion </a>
        </li>
        <li>
            <a href="/plans" class="btn-floating bg-indigo"  title="Pricing">
                <i class="fa fa-usd"></i> Pricing
            </a>
        </li>
    </ul>
</div>
-->