<section>
  <div class="tz">
    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2 message_nodify billinglisting_page">
      <div class="tz-2-com tz-2-main">
        <h4>Invoice</h4>
        <div class="db-list-com table-responsive tz-db-table">
          <div class="ds-boar-title">
            <h2>All Subscribed Package</h2>
            <p>Paid listing package order lists</p>
          </div>
          <table class="table table-striped bordered">
            <thead>
              <tr>
                <!--  <th>S.no.</th> -->
                <th class="text-center">Invoice No.</th>
                <th class="text-center">Subscribed <br>Plan</th>
                <th>Price</th>
                <th class="text-center">Auto Renewals</th>
                <th class="text-center">Status</th>
                <th class="text-center">Subscription<br> Cancellation</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bill of billinglist; let i = index">
                <!-- <td class="text-left">{{ i + 1 }}</td> -->
                <td class="text-center"> {{ bill?.id }}</td>
                <td class="text-left">
                  {{ bill?.plan?.title }}

                </td>
                <td class="text-center">
                  {{
                  bill?.subscription?.price
                  ? bill?.subscription?.price
                  : bill?.plan?.price
                  }}
                </td>
                <td class="text-center">
                  <span style="margin-bottom: 5px; display: inline-block;" class="label label-default"
                    *ngIf="bill?.plan_id != 766">
                    No.of. renewal- <b>{{bill?.invoices.length}}</b>
                  </span>
                  <span class="label label-warning" *ngIf="bill?.plan_id == 766">
                    No Auto Renewal
                  </span>
                  <div class="label label-success"
                    style="display: block; margin-top:3px;  max-width:145px; padding:5px;" *ngIf="bill?.subscription">
                    Purchase Date:
                    {{ bill?.subscription?.start_date | date: "LLL dd, yyyy" }}
                  </div>
                  <div class="label label-danger" style="display: block; margin-top:3px; max-width:145px; padding:5px;"
                    *ngIf="bill?.subscription">
                    Expiry Date:
                    {{ bill?.subscription?.end_date | date: "LLL dd, yyyy" }}
                  </div>
                </td>

                <td class=" text-left text-capitalize">
                  {{
                  bill?.plan_id == 766
                  ? bill?.status
                  : bill?.subscription?.status
                  }}

                </td>
                <td class="text-center">
                  <a routerLink="/invoice-cancel/{{ bill?.id }}" class="db-list-delete"
                    *ngIf="bill?.subscription?.status!='canceled' && bill?.plan_id != 766">Cancel Now</a>
                  <span class="alreadyremoved" *ngIf="bill?.subscription?.status=='canceled'"><i class="fa fa-times"
                      aria-hidden="true"></i>
                    Cancelled</span>
                  <span class="alreadyremoved" *ngIf="bill?.plan_id == 766">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Free subscription</span>
                </td>
                <td class="text-center">
                  <a routerLink="/invoice-detail/{{ bill?.id }}" class="db-list-edit">View</a>
                </td>
              </tr>
              <tr *ngIf="billinglist?.length == 0">
                <td colspan="7">
                  <div class="alert alert-danger">No Subscription Found.</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-2 mb-1">
          <app-unit5></app-unit5>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>