<!-- /*Business email verification */ -->
<section class="dir-pa-sp-top">
  <div class="container com-padd dir-hom-pre-tit thankpage">
    <div class="com-title">
      <h2 *ngIf="verifyfail">
        Email not verified / Invalid link<br />
        Contact support@walldirectory.com.
      </h2>
      <h1 *ngIf="verifysucc">
        Thank you for verifying your business Email id.
      </h1>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/profile-edit">
            <img
              src="assets/images/icon/001-profile.svg"
              alt="Update your profile"
            />
            <h3>Complete Your Profile</h3>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/plans">
            <img
              src="assets/images/icon/004-subscribe.svg"
              alt="Subscribe to a Business Package"
            />
            <h3>Subscribe to a Business Package</h3>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/all-business">
            <img
              src="assets/images/icon/002-planning.svg"
              alt="Update Business Listing"
            />
            <h3>Update Business Listing</h3>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/add-promotion">
            <img
              src="assets/images/icon/003-megaphone.svg"
              alt="Add Promotions"
            />
            <h3>Add Promotions</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
