<section class="inn-page-bg">
  <div class="container">
    <div class="row">
      <div class="inn-pag-ban">
        <h1>Career</h1>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9 hom-cre-acc-right careerfrm ">
        <form [formGroup]="careerForm">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" formControlName="firstName" />
              <label for="first_name">First Name*</label>
              <span *ngIf="
                    !careerForm.get('firstName').valid &&
                    careerForm.get('firstName').touched
                  " class="help-block">
                Please Enter First Name</span>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" formControlName="lastName" />
              <label for="last_name">Last Name*</label>
              <span *ngIf="
                    !careerForm.get('lastName').valid &&
                    careerForm.get('lastName').touched
                  " class="help-block">
                Please Enter Last Name</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="email" type="email" class="validate" formControlName="email" />
              <label for="email">Email*</label>
              <span *ngIf="
                    !careerForm.get('email').valid &&
                    careerForm.get('email').touched
                  " class="help-block">
                Enter Vaild Email</span>
            </div>
            <div class="input-field col s6">
              <input id="list_phone" type="text" class="validate" formControlName="phone" />

              <label for="list_phone">Phone*</label>
              <span *ngIf="
                    !careerForm.get('phone').valid &&
                    careerForm.get('phone').touched
                  " class="help-block">
                Enter 10 digits Phone Number.</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select name="role" formControlName="role">
                <option value="">Job Role</option>
                <option value="Sr. Tele Marketing Executive">Sr. Tele Marketing Executive</option>
                <option value="Content Writer">Content Writer</option>
                <option value="Telesales Executive">Telesales Executive</option>
                <option value="Deputy Manager Sales">Deputy Manager Sales</option>
                <option value="Business Development Executive">Business Development Executive</option>
                <option value="Branch manager">Branch manager</option>
                <option value="System Administrator">System Administrator</option>
                <option value="Customer Support">Customer Support</option>
                <option value="Sales Team manager">Sales Team manager</option>
                <option value="Finance Manager">Finance Manager</option>
                <option value="Brance Manager">Brance Manager</option>
                <option value="Recruitment Executive">Recruitment Executive</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select name="position" formControlName="position">
                <option value="">Job Position </option>
                <option value="Part Time">Part Time</option>
                <option value="Full Time">Full Time</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="list_phone" type="text" class="validate" formControlName="expre" />
              <label>Years of Experience</label>
            </div>
          </div>
          <div class="row tz-file-upload">
            <div class="file-field input-field">
              <div class="tz-up-btn">
                <span>File</span> <input type="file" name="resume" formControlName="resume" (change)="attach($event)" />
              </div>
              <div class="file-path-wrapper db-v2-pg-inp">
                <input class="file-path validate" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 career-btn">
              <button type="submit" (click)="onSubmit()"
                class="waves-button-input waves-effect waves-light btn-large full-btn list-red-btn waves-input-wrapper">SUBMIT
                <i class="fa fa-spinner fa-spin" *ngIf="frmload"></i></button>
            </div>

            <div class="col s12 text-center">
              <div class="alert alert-success mt-2" *ngIf="frmsuccess">
                <h5>{{frmsuccess}}</h5>
              </div>
              <div class="alert alert-success mt-2" *ngIf="frmerr">
                <h5>Career detail not send. Try later.</h5>
              </div>
            </div>

          </div>

        </form>
      </div>
      <div class="col-md-3">
        <app-unit4></app-unit4>
      </div>
    </div>
  </div>
</section>