<section>
  <div class="tz">

    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="col text-center first_starterplan mb-2" *ngIf="starteractive">
        <div class="alert alert-success">
          <h3>Thank you for selecting the LINK BUILDING Free plan!
          </h3>
        </div>
      </div>

      <div class="tz-2-com tz-2-main">
        <h4>Submit Business</h4>
        <div class="db-list-com tz-db-table">
          <div class="ds-boar-title">
            <h2>Add Business</h2>
            <p>Add your business details here</p>
          </div>

          <div class="alert alert-danger" *ngIf="nullplan">
            <h3>No Package Subscription <a routerLink="/plans" class="btn btn-small btn-success">Subscribe Now</a>
            </h3>
          </div>

          <div class="alert alert-danger" *ngIf="planexp">
            <h3>Subscribed Package Expiry, upgrade to add more business and promotions...
              Take advantage of the benefits now. <a routerLink="/plans" class="btn btn-small btn-success">Subscribe
                Now.</a></h3>
          </div>

          <div class="alert alert-danger" *ngIf="allListing==false">
            <h3>You have reached your business limit. Upgrade to add more business listings and promotions…
              Take advantage of the benefits now. <a routerLink="/plans" class="btn btn-small btn-success">Subscribe
                Now.</a></h3>
          </div>


          <div class="hom-cre-acc-right">
            <div *ngIf="allListing">
              <form [formGroup]="addlist">

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5 class="mt-0">Business Details: </h5>
                    <p><span class="infonote"> * Required Field </span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="buss_name" type="text" title="Business Name" class="" formControlName="buss_name"
                      (change)="OnTitle($event)">
                    <label for="buss_name">Business Name <span>*</span></label>
                    <span *ngIf="!addlist.get('buss_name').valid && addlist.get('buss_name').touched"
                      class="help-block">Enter Name of Business</span>
                    <span class="help-block" *ngIf="title_valid">Business name already exits.</span>
                    <span class="fa fa-spin fa-spinner titlechecker" *ngIf="titlechecker"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <select name="buss_cate" id="buss_cate" title="Business Category"
                      (change)="onSelect($event.target.value)" formControlName="buss_cate">
                      <option value="" selected>Business Category <span>*</span></option>
                      <option *ngFor="let listcate of listCates" [value]="listcate.id" [innerHtml]="listcate.name">
                      </option>
                    </select>

                    <span *ngIf="!addlist.get('buss_cate').valid && addlist.get('buss_cate').touched"
                      class="help-block">Select Main Category</span>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <i class="fa fa-spin fa-spinner" *ngIf="cateloader"></i>
                    <div class="select-wrapper" *ngIf="!cateloader">
                      <select name="buss_scate" id="buss_scate" title="Category Relavent" formControlName="buss_scate">
                        <option value="" selected="selected">Category Relavent *</option>
                        <option *ngFor="let listsubcate of subCates" [value]="listsubcate.id"
                          [innerHtml]="listsubcate.name"></option>
                      </select>
                      <span *ngIf="!addlist.get('buss_scate').valid && addlist.get('buss_scate').touched"
                        class="help-block">Select related Category</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <select name="buss_loc" id="buss_loc" title="Business Location" formControlName="buss_loc"
                      (change)="onLoc($event.target.value)">
                      <option value="" selected="selected">Business Location *</option>
                      <option *ngFor="let listReg of listRegs" [value]="listReg.id" [innerHtml]="listReg.name"></option>
                    </select>
                    <span *ngIf="
                          !addlist.get('buss_loc').valid && addlist.get('buss_loc').touched" class="help-block">Select
                      Business State</span>
                    <div class="loc_other  mt-1 mb-1 alert alert-danger" *ngIf="stateloc">
                      <p class="text-center">Only PAID user can post business on OTHER location - Outside USA.</p>
                      <p class="text-center">Please <a class="waves-effect waves-light btn green"
                          href="/plan">UPGRADE</a></p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="buss_add" type="text" title="Enter Business Location" (keyup)="onKey($event)"
                      value="{{this.locatclick}}" class="validate" formControlName="buss_add">
                    <input id="buss_add_selected" type="hidden" value="{{this.selectedLoc}}"
                      formControlName="buss_add_selected">
                    <label for="buss_name">Business Address <span>*</span></label>
                    <span *ngIf="!addlist.get('buss_add').valid && addlist.get('buss_add').touched"
                      class="help-block">Enter Business Location</span>

                    <ul class="addFetch" *ngIf="locatadd">
                      <li *ngFor="let locatlist of locatadd">
                        <span (click)="getlocAdd($event); setlocAdd($event);"
                          [attr.data-latlan]="locatlist.point.coordinates">{{locatlist.name}}</span>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s12">
                    <angular-editor id="buss_desc" title="Business Description" class="materialize-textarea"
                      [(ngModel)]="htmlContent" formControlName="buss_desc" [config]="config"></angular-editor>

                    <!--

                    <textarea id="buss_desc" title="Listing Descriptions" class="materialize-textarea" formControlName="buss_desc"></textarea>
                    <label for="buss_desc" class="">Listing Descriptions</label>
                  -->

                    <span *ngIf="!addlist.get('buss_desc').valid && addlist.get('buss_desc').touched"
                      class="help-block">Enter Descriptions</span>
                  </div>
                </div>

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>Contact Details: </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="buss_email" type="email" title="Email Address" class="validate"
                      formControlName="buss_email">
                    <label for="buss_email">Email Address <span>*</span></label>
                    <span *ngIf="!addlist.get('buss_email').valid && addlist.get('buss_email').touched"
                      class="help-block">Enter business email</span>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="buss_phone" type="text" title="Phone Number" class="validate" formControlName="buss_phone">
                    <label for="buss_phone">Phone Number <span>*</span></label>
                    <!-- <span *ngIf="!addlist.get('buss_phone').valid && addlist.get('buss_phone').touched" class="help-block">Enter business phone number</span>-->
                    <span *ngIf="!addlist.get('buss_phone').valid && addlist.get('buss_phone').touched"
                      class="help-block">Enter valid phone number. </span>
                  </div>
                </div>

                <div class="row">
                  <!-- <div class="input-field col s3">
                        
                    <select id="buss_mob_cd"  class="validate" title="Prefix Code"  formControlName="buss_mob_cd">
                      <option value="" selected>Prefix Code</option>
                      <option *ngFor="let listcode of mobCodes" [value]="listcode.code">{{listcode.country}} - ({{listcode.code}}) </option>
                    </select>
                   
                    <span *ngIf="addlist.get('buss_mobile').value!='' &&   addlist.get('buss_mob_cd').value=='' " class="help-block"> Select Prefix</span>

                  </div> -->

                  <div class="input-field col s12">
                    <input id="buss_mobile" type="text" title="Mobile Number" class="validate" minlength="10" maxlength="10"
                      formControlName="buss_mobile">
                    <label for="buss_mobile">Mobile Number</label>
                    <span *ngIf="addlist.controls['buss_mobile'].hasError('pattern')" class="help-block">Enter 10 digits
                      no.</span>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="buss_web" type="url" title="Website Url" class="validate" formControlName="buss_web"
                      (change)="OnWebsite($event)">
                    <label for="buss_web">Website Url <span>*</span></label>
                    <span
                      *ngIf="!addlist.get('buss_web').valid && addlist.get('buss_web').value!='' && addlist.get('buss_web').touched"
                      class="help-block">Enter valid url </span>
                    <span
                      *ngIf="!addlist.get('buss_web').valid && addlist.get('buss_web').value=='' && addlist.get('buss_web').touched"
                      class="help-block">Enter Website Url</span>
                    <span class="infonote">Ex: http://websitename.com</span>

                    <span class="help-block" *ngIf="web_valid">Website already exits in listings.</span>
                    <span class="fa fa-spin fa-spinner websitechecker" *ngIf="websitechecker"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>Social Media Informations:</h5>
                  </div>
                  <div class="col">
                    <p><em>Have at least ONE of the following</em></p>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_fb" title="Facebook Url" class="validate" formControlName="buss_fb">
                    <label>https://www.facebook.com/business-name</label>
                    <span *ngIf="!addlist.get('buss_fb').valid && addlist.get('buss_fb').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_yt" title="Youtube Url" class="validate" formControlName="buss_yt">
                    <label>https://www.youtube.com/business-name</label>
                    <span *ngIf="!addlist.get('buss_yt').valid && addlist.get('buss_yt').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_tw" title="Twitter Url" class="validate" formControlName="buss_tw">
                    <label>https://www.twitter.com/business-name</label>
                    <span *ngIf="!addlist.get('buss_tw').valid && addlist.get('buss_tw').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_inst" title="Instagram Url" class="validate"
                      formControlName="buss_inst">
                    <label>https://www.instagram.com/business-name</label>
                    <span *ngIf="!addlist.get('buss_inst').valid && addlist.get('buss_inst').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_linked" class="validate" formControlName="buss_linked">
                    <label>https://www.linkedin.com/business-name</label>
                    <span *ngIf="!addlist.get('buss_linked').valid && addlist.get('buss_linked').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_pint" title="Pinterest Url" class="validate"
                      formControlName="buss_pint">
                    <label>https://www.pinterest.com/business-name</label>
                    <span *ngIf="!addlist.get('buss_pint').valid && addlist.get('buss_pint').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>Logo <sup>*</sup></h5><span class="v2-db-form-note">(image size 150x100):</span>
                  </div>
                </div>
                <div class="row tz-file-upload">
                  <div [ngClass]="fimg ? 'col s2' : '' " *ngIf="fimg">
                    <img src="{{fimg}}" alt="Logo" title="Logo" />
                  </div>
                  <div [ngClass]="fimg ? 'col s10' : 'col s12'">
                    <div class="file-field input-field">
                      <div class="tz-up-btn"> <span>Upload Image</span>
                        <input type="file" name="logo" title="Logo" (change)="logoUpload($event)"
                          formControlName="buss_logo" accept="image/png, image/jpeg">
                      </div>
                      <div class="file-path-wrapper db-v2-pg-inp">
                        <input disabled class="file-path validate" type="text">
                      </div>
                      <span *ngIf="!addlist.get('buss_logo').valid && addlist.get('buss_logo').touched"
                        class="help-block">Upload Logo</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>Banner Image </h5><span class="v2-db-form-note">(image size 1350x500):</span>
                  </div>
                </div>
                <div class="row tz-file-upload">
                  <div [ngClass]="cthumb ? 'col s2' : '' " *ngIf="cthumb">
                    <img src="{{cthumb}}" alt="Cover image" />
                  </div>
                  <div [ngClass]="cthumb ? 'col s10' : 'col s12'">
                    <div class="file-field input-field">
                      <div class="tz-up-btn"> <span>Upload Image</span>
                        <input type="file" title="Cover Image" name="coverimage" (change)="coverUpload($event)"
                          formControlName="buss_cimg" accept="image/png, image/jpeg">
                      </div>
                      <div class="file-path-wrapper db-v2-pg-inp">
                        <input disabled class="file-path validate" type="text">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>Photo Gallery </h5><span class="v2-db-form-note">(upload multiple photos note:size
                      750x500):</span>
                  </div>
                </div>
                <div class="row tz-file-upload">
                  <div class="file-field input-field">
                    <div class="tz-up-btn"> <span>Upload Images</span>
                      <input type="file" title="Gallery multiple Image" formControlName="buss_gall"
                        (change)="galleryUpload($event)" multiple name="gallimage" accept="image/png, image/jpeg">
                    </div>
                    <div class="file-path-wrapper db-v2-pg-inp">
                      <input disabled class="file-path validate" type="text">
                    </div>
                  </div>
                  <div *ngIf="galluploaded">
                    <span class="fa fa-spinner fa-spin"></span> Uploading...
                  </div>
                </div>


                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>Video Url </h5><span class="v2-db-form-note">(Youtube / Vimeo) </span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="buss_vurl" title="Video Url" class="validate" formControlName="buss_vurl">
                    <label>Video Url </label>
                    <span *ngIf="!addlist.get('buss_vurl').valid && addlist.get('buss_vurl').touched"
                      class="help-block">Enter valid url</span>
                  </div>
                </div>

                <div class="row">
                  <div class="db-v2-list-form-inn-tit">
                    <h5>360 Degree Map (copy and paste your Embed a map code):</h5>
                    <div class="note360"><a href="assets/images/360note.jpg" target="_blank"> Example: click here</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" class="validate" title="360 Degree Embed code" formControlName="map">
                    <label>Embed a map</label>
                  </div>
                </div>

                <div class="divider mt-2"></div>

                <div class="row">
                  <div class="col s12 hom-cr-acc-check mt-1">
                    <input type="checkbox" id="terms" title="Terms and conditions" formControlName="term" required>
                    <label for="terms">I Have Read and Accept <a routerLink="/terms-and-conditions" class="termlink"
                        target="_blank">Terms and Conditions.</a></label>
                    <span *ngIf="!addlist.get('term').valid && addlist.get('term').touched" class="help-block">Field
                      required</span>
                  </div>
                </div>

                <div class="row">
                  <input type="hidden" name="plan_id" formControlName="plan_id">
                  <input type="hidden" name="billing_id" formControlName="billing_id">

                  <div class="input-field col s12 v2-mar-top-40">
                    <button type="submit" title="Submit Business" class="waves-effect waves-light btn-large full-btn"
                      (click)="onSubmit()">
                      Submit Business <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                  </div>
                </div>

                <div class="alert alert-success" *ngIf="successmsg">
                  <h3>New business listing has been added successfully.</h3>
                </div>

                <div class="alert alert-danger" *ngIf="errormsg">
                  <h3>{{errormsg}}</h3>
                </div>

                <div class="loc_other  mt-1 mb-1 alert alert-danger" *ngIf="statelocsub">
                  <p class="text-center">Only PAID user can post business on OTHER location - Outside USA.</p>
                  <p class="text-center">Please <a class="waves-effect waves-light btn green" href="/plan">UPGRADE</a>
                  </p>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="mt-2 mb-1">
        <app-unit5></app-unit5>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>

  </div>
</section>
<!--END DASHBOARD-->

<!--https://www.devglan.com/angular/angular-multiple-file-upload - https://medium.freecodecamp.org/how-to-make-image-upload-easy-with-angular-1ed14cb2773b  -http://www.mukeshkumar.net/articles/angular/3-ways-to-implement-autocomplete-textbox-in-angular-with-typescript-on-large-data-->