<div class="text-center  mt-1 mb-1 " *ngIf="screenWidth>727">
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="3545653647" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="728" [height]="90"></ng-adsense>
</div>

<div class="text-center  mt-1 mb-1" *ngIf="screenWidth<=728 && screenWidth>467">
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="3545653647" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="468" [height]="60"></ng-adsense>
</div>

<div class="text-center  mt-1 mb-1 " *ngIf="screenWidth<=468 && screenWidth>0">
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="3545653647" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="320" [height]="50"></ng-adsense>
</div>