<section class="inn-page-bg package-banner">
  <div class="container">
    <div class="row">
      <div class="inn-pag-ban">
        <h1>START WITH A STARTER ACCOUNT <br>NOW AND UPGRADE LATER</h1>
      </div>
    </div>
  </div>
</section>

<div class="msgbox package_valid_msg" id="msgbox">
  <div class="alert alert-danger text-center" role="alert" *ngIf="errormsg">
    <div class="container">
      <!--  {{errormsg}} -->
      <h4>Selected packages is ACTIVE in your account. Please upgrade to add more business listings and promotions...
        <br>Take advantage of the benefits now!
      </h4>
      <a href="https://walldirectory.com/billing" class="waves-effect waves-light btn mt-2">View the Package details
        here</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
    </div>
  </div>


  <!-- <div class="alert alert-success" role="alert" *ngIf="successmsg" >
          <div class="container">
              <div class="payment_msgs pack_page text-center">
                  <div><i class="p-success fa fa-check-circle"></i></div>
                  <h3 class="mb-2 p-success">Subscription Added Successful.</h3>
                  <p>
                    You have Successfully made your Subscription. Please Check your registered
                    email for Confirmation detail.
                  </p>
                  <a routerLink="/add-business" class="waves-effect waves-light btn"
                    ><i class="fa fa-angle-double-left"></i> Add Business Now</a
                  >
                  <a routerLink="/myaccount" class="waves-effect waves-light btn"
                    ><i class="fa fa-angle-double-left"></i> Back to Dashboard</a
                  >
                </div>
          </div>         
      </div> -->
</div>

<!--
<div *ngFor="let res of pack; let i = index">
    <div *ngIf="res.id==1">1test</div>
    <div *ngIf="res.id==2">2test</div>
   {{i}} : {{res.id}} - {{ (res.id==1) ? res.price : '__'}}
</div>
-->


<section class="dir-pa-sp-top dir-pa-sp-top-bg ">
  <div class="container">
    <div class="rows">
      <div class="col-md-12">
        <div class="text-center mt-5">
          <h3>Choose the Best Subscription for Your Business</h3>
        </div>
      </div>

      <div class="col-md-12 v4-price-list com-padd">
        <div class="col-md-3 col-sm-6 mb-2">
          <div class="v4-pril-inn">
            <div class="v4-pril-inn-top">
              <h2>BASIC</h2>

              <div *ngIf="!pack1">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon"><br></span>
                  <span class="v4-pril-curr">$</span> <b>79.99</b>
                  <span class="v4-pril-mon">Monthly</span>
                </p>
              </div>
              <div *ngIf="pack1">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon"><br></span>
                  <span class="v4-pril-curr">$</span> <b>239.97</b>
                  <span class="v4-pril-mon"><br></span>
                </p>
              </div>

            </div>

            <div class="v4-pril-inn-bot">
              <div class="pack_plan">
                <div class="pack_wrap">
                  <input (change)="handleChange($event)" [attr.data-pack]="162" data-value="month" type="radio"
                    id="bmonth" name="basic" value="month" checked="">
                  <label for="bmonth">Monthly</label>
                  <input (change)="handleChange($event)" [attr.data-pack]="5640" data-value="onetime" type="radio"
                    id="botime" name="basic" value="onetime">
                  <label for="botime">One Time</label>
                </div>
              </div>

              <ul>
                <li><span>Vaild 3 Months</span></li>
                <li><span>Dedicated Business Page with No Competitor Ads</span></li>
                <li><span>Unlimited Promo Pages</span></li>
                <li><span>Benefits Reach, Engage, Sell &amp; Get Reviews </span></li>
                <li class="helping_tips"><span>Link Building
                    <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Increase the number and quality of inbound links to your page. Get better search engine ranking of your website and web-pages.">?</a></span>
                </li>
                <li class="helping_tips"><span>Lead Generation <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Initiate customer interest in your product, service or business. Get calls and inquires from people interested in what you are offering.">?</a></span>
                </li>
              </ul>
              <a *ngIf="!pack1" (click)="checkout('162')" class="waves-effect waves-light btn-large full-btn">ORDER
                NOW</a>
              <a *ngIf="pack1" (click)="checkout('5640')" class="waves-effect waves-light btn-large full-btn">ORDER
                NOW</a>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-2">
          <div class="v4-pril-inn">
            <div class="v4-pri-best">22% Off</div>
            <div class="v4-pril-inn-top">
              <h2>PROFESSIONAL</h2>
              <div *ngIf="!pack2">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon text-decor">$79.99</span>
                  <span class="v4-pril-curr">$</span> <b>59.99</b>
                  <span class="v4-pril-mon">Monthly</span>
                </p>
              </div>
              <div *ngIf="pack2">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon text-decor">$479.94</span>
                  <span class="v4-pril-curr">$</span> <b>359.94</b>
                  <span class="v4-pril-mon"><br></span>
                </p>
              </div>
            </div>

            <div class="v4-pril-inn-bot">
              <div class="pack_plan">
                <div class="pack_wrap">
                  <input (change)="handleChange($event)" [attr.data-pack]="92" data-value="month" type="radio"
                    id="prmonth" name="prof" value="month" checked="">
                  <label for="prmonth">Monthly</label>
                  <input (change)="handleChange($event)" [attr.data-pack]="5641" data-value="onetime" type="radio"
                    id="protime" name="prof" value="onetime">
                  <label for="protime">One Time</label>
                </div>
              </div>

              <ul>
                <li><span>Vaild 6 Months</span></li>
                <li><span>Dedicated Business Page with No Competitor Ads</span></li>
                <li><span>Unlimited Promo Pages</span></li>
                <li><span>Benefits Reach, Engage, Sell &amp; Get Reviews</span></li>
                <li class="helping_tips"><span>Link Building
                    <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Increase the number and quality of inbound links to your page. Get better search engine ranking of your website and web-pages.">?</a></span>
                </li>
                <li class="helping_tips"><span>Lead Generation <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Initiate customer interest in your product, service or business. Get calls and inquires from people interested in what you are offering.">?</a></span>
                </li>
              </ul>
              <a *ngIf="!pack2" (click)="checkout('92')" class="waves-effect waves-light btn-large full-btn">ORDER
                NOW</a>
              <a *ngIf="pack2" (click)="checkout('5641')" class="waves-effect waves-light btn-large full-btn">ORDER
                NOW</a>
            </div>
          </div>
        </div>


        <div class="col-md-3 col-sm-6 mb-2">
          <div class="v4-pril-inn">
            <div class="v4-pri-best">38% Off</div>
            <div class="v4-pril-inn-top">
              <h2>ENTERPRISE</h2>

              <div *ngIf="!pack3">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon text-decor">$79.99</span>
                  <span class="v4-pril-curr">$</span> <b>49.59</b>
                  <span class="v4-pril-mon">Monthly</span>
                </p>
              </div>
              <div *ngIf="pack3">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon text-decor">$959.88</span>
                  <span class="v4-pril-curr">$</span> <b> 595.08</b>
                  <span class="v4-pril-mon"><br></span>
                </p>
              </div>

            </div>
            <div class="v4-pril-inn-bot">
              <div class="pack_plan">
                <div class="pack_wrap">
                  <input (change)="handleChange($event)" [attr.data-pack]="91" data-value="month" type="radio"
                    id="enmonth" name="enterp" value="month" checked="">
                  <label for="enmonth">Monthly</label>
                  <input (change)="handleChange($event)" [attr.data-pack]="5132" data-value="onetime" type="radio"
                    id="enotime" name="enterp" value="onetime">
                  <label for="enotime">One Time</label>
                </div>
              </div>

              <ul>
                <li><span>Vaild 12 Months</span> </li>
                <li><span>Dedicated Business Page with No Competitor Ads</span> </li>
                <li><span>Unlimited Promo Pages</span> </li>
                <li><span>Benefits Reach, Engage, Sell &amp; Get Reviews</span> </li>
                <li class="helping_tips"><span>Link Building
                    <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Increase the number and quality of inbound links to your page. Get better search engine ranking of your website and web-pages.">?</a></span>
                </li>
                <li class="helping_tips"><span>Lead Generation <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Initiate customer interest in your product, service or business. Get calls and inquires from people interested in what you are offering.">?</a></span>
                </li>
              </ul>
              <a *ngIf="!pack3" (click)="checkout('91')" class="waves-effect waves-light btn-large full-btn">ORDER
                NOW</a>
              <a *ngIf="pack3" (click)="checkout('5132')" class="waves-effect waves-light btn-large full-btn">ORDER
                NOW</a>
            </div>
          </div>
        </div>


        <div class="col-md-3 col-sm-6 mb-2">
          <div class="v4-pril-inn v4-pril-inn-bot-0">
            <div class="v4-pril-inn-top">
              <h2>STARTER</h2>
              <div *ngIf="freepack==false">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon"><br></span>
                  <span class="v4-pril-curr">$</span> <b>9.99</b>
                  <span class="v4-pril-mon">Per Month</span>
                </p>
              </div>
              <div *ngIf="freepack==true">
                <p class="v4-pril-price">
                  <span class="v4-pril-mon">Starting From</span>
                  <span class="v4-pril-curr"></span> <b>0.00</b>
                  <span class="v4-pril-mon"><br></span>
                </p>
              </div>
            </div>

            <div class="v4-pril-inn-bot">
              <div class="pack_plan free_pl">
                <div class="pack_wrap">
                  <h3 *ngIf="freepack==false">ONE TIME</h3>
                  <h3 *ngIf="freepack==true">FREE</h3>
                  <input *ngIf="freepack==false" type="radio" [attr.data-pack]="6928" data-value="onetime" id="starter"
                    name="starter" value="starter">
                  <input *ngIf="freepack==true" type="radio" [attr.data-pack]="766" data-value="onetime" id="starter"
                    name="starter" value="starter">
                </div>
              </div>

              <ul>
                <li><span>Unlimited Validity</span></li>
                <li><span>Business Page with Competitor Ad</span></li>
                <li *ngIf="freepack==false"><span>---</span></li>
                <li *ngIf="freepack==true"><span>4 Promo Pages</span></li>

                <li><span>---</span></li>
                <li class="helping_tips"><span>Link Building
                    <a href="javascript:void(0)" data-toggle="tooltip"
                      title="Increase the number and quality of inbound links to your page. Get better search engine ranking of your website and web-pages.">?</a></span>
                </li>
                <li><span>----</span></li>
              </ul>

              <a *ngIf="freepack==false" (click)="checkout('6928')"
                class="waves-effect waves-light btn-large full-btn">ORDER NOW</a>
              <a *ngIf="freepack==true" (click)="checkout('766')"
                class="waves-effect waves-light btn-large full-btn">ORDER NOW <i class="fa fa-spinner fa-spin"
                  *ngIf="loader"></i></a>
            </div>
          </div>
        </div>

      </div>
      <!--package wrapper-->
    </div>
  </div>
</section>

<section class="dir-pa-sp-top-bg  all_plans">
  <div class="container">
    <div class="text-center mb-3">
      <h2>All Plans Includes </h2>
    </div>
    <div class="rows">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Descriptions</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Contact Info</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Photo Gallery</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Rating & Reviews</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Map Location</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Social Media Listing</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Social Media Share</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> SEO Optomization</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Visiter Counts</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Call Now</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Send Mail</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Watch Video</p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <p><i class="fa fa-check"></i> Visit Website</p>
      </div>
    </div>
  </div>
</section>