<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 logo float-left">
        <a routerLink="/"
          ><img
            src="assets/images/walldirectory-landing.png"
            alt="WallDirectory"
        /></a>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 rem-login pull-right text-right">
        <ul>
          <li *ngIf="userlog">
            <a routerLink="/myaccount"><i class="fa fa-user"></i> My Account</a>
          </li>
          <li *ngIf="!userlog">
            <a routerLink="/login"><i class="fa fa-user"></i> Login</a> /
            <a routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
