<div class="dir-alp-con-left-1">
  <a class="wtxt" href="https://walldirectory.com/terms-and-conditions">
    <h3>Terms and Conditions</h3>
  </a>
</div>
<div class="dir-hom-pre dir-alp-left-ner-notb">
  <ul>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/walldirectory-website-agreement-terms-use">
        <div class="list-left-near lln2">
          <h5>WALLDIRECTORY WEBSITE AGREEMENT – TERMS OF USE</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/registration">
        <div class="list-left-near lln2">
          <h5>REGISTRATION</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/modifications">
        <div class="list-left-near lln2">
          <h5>MODIFICATIONS</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/privacy">
        <div class="list-left-near lln2">
          <h5>PRIVACY</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/ownership-proprietary-rights">
        <div class="list-left-near lln2">
          <h5>OWNERSHIP AND PROPRIETARY RIGHTS</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/web-sharing-forums-postings">
        <div class="list-left-near lln2">
          <h5>WEB SHARING, FORUMS AND POSTINGS</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/claims-copyright-infringement-violations">
        <div class="list-left-near lln2">
          <h5>CLAIMS OF COPYRIGHT INFRINGEMENT AND OTHER VIOLATIONS</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/advertising">
        <div class="list-left-near lln2">
          <h5>ADVERTISING</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/rules-of-conduct">
        <div class="list-left-near lln2">
          <h5>RULES OF CONDUCT</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/promotions">
        <div class="list-left-near lln2">
          <h5>PROMOTIONS</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/hyperlinks-third-party-sites">
        <div class="list-left-near lln2">
          <h5>HYPERLINKS TO THIRD PARTY SITES</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/termination-of-your-registration">
        <div class="list-left-near lln2">
          <h5>TERMINATION OF YOUR REGISTRATION</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/terms-and-conditions/law-applies-agreement-miscellaneous-terms">
        <div class="list-left-near lln2">
          <h5>LAW THAT APPLIES TO THIS AGREEMENT; MISCELLANEOUS TERMS</h5>
        </div>
      </a>
    </li>
  </ul>
</div>

<div class="dir-alp-con-left-1">
  <a class="wtxt" href="https://walldirectory.com/privacy-policy">
    <h3>Privcy Policy</h3>
  </a>
</div>
<div class="dir-hom-pre dir-alp-left-ner-notb">
  <ul>
    <li>
      <a href="https://walldirectory.com/privacy-policy/walldirectory-privacy-policy">
        <div class="list-left-near lln2">
          <h5>WALLDIRECTORY PRIVACY POLICY</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/california-privacy-rights">
        <div class="list-left-near lln2">
          <h5>CALIFORNIA PRIVACY RIGHTS</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/minors-childrens-privacy">
        <div class="list-left-near lln2">
          <h5>MINORS AND CHILDREN’S PRIVACY</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/information-collected">
        <div class="list-left-near lln2">
          <h5>INFORMATION COLLECTED</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/walldirectory-uses-information">
        <div class="list-left-near lln2">
          <h5>HOW WALLDIRECTORY USES YOUR INFORMATION</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/your-responsibility">
        <div class="list-left-near lln2">
          <h5>YOUR RESPONSIBILITY</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/options-regarding-contests-sweepstakes-promotional-offers">
        <div class="list-left-near lln2">
          <h5>
            OPTIONS REGARDING CONTESTS, SWEEPSTAKES AND PROMOTIONAL OFFERS
          </h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/advertisements-third-parties">
        <div class="list-left-near lln2">
          <h5>ADVERTISEMENTS AND THIRD PARTIES</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/co-branded-services-features">
        <div class="list-left-near lln2">
          <h5>CO-BRANDED SERVICES AND FEATURES</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/user-video-upload">
        <div class="list-left-near lln2">
          <h5>USER VIDEO UPLOAD</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/user-photo-upload">
        <div class="list-left-near lln2">
          <h5>USER PHOTO UPLOAD</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/user-event-post">
        <div class="list-left-near lln2">
          <h5>USER EVENT POST</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/user-news-post">
        <div class="list-left-near lln2">
          <h5>USER NEWS POST</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/user-coupon-post">
        <div class="list-left-near lln2">
          <h5>USER COUPON POST</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/user-deal-post">
        <div class="list-left-near lln2">
          <h5>USER DEAL POST</h5>
        </div>
      </a>
    </li>
    <li>
      <a href="https://walldirectory.com/privacy-policy/photo-media-submission-guidelines">
        <div class="list-left-near lln2">
          <h5>PHOTO AND MEDIA SUBMISSION GUIDELINES</h5>
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="dir-alp-con-left-1">
  <a class="wtxt" href="https://walldirectory.com/content-policy">
    <h3>CONTENT POLICY</h3>
  </a>
</div>
<div class="mt-2 mb-3 text-center">
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="1338486221" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="250" [height]="250"></ng-adsense>
</div>