<section class="cate-form-wrapper">
  <div class="breadcrumb-wrapper text-right">
    <div class="container">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a href="https://walldirectory.com">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="https://walldirectory.com/listing-category/">Parent Cate</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Sub Cate</li>
      </ol>
    </div>
  </div>

  <div class="container">
    <div class="wiz-form">
      <form [formGroup]="cateForm" class="catepfrm">
        <input
          type="hidden"
          value="1"
          formControlName="buss_cate"
          name="buss_cate"
        />
        <input type="hidden" value="1" name="cateid" formControlName="cateid" />
        <div class="step" data-step="1" *ngIf="tap1">
          <div class="text-center frm-header">
            <h2>Announce your Wants!</h2>
            <p>Get free responses from multiple businesses near you.</p>
          </div>
          <ul class="mt-3 list-inner p-3">
            <li *ngFor="let listcate of listSubcates">
              <input
                type="radio"
                name="buss_scate"
                value="{{ listcate.id }}"
                id="frm-src-{{ listcate.id }}"
                formControlName="buss_scate"
              />
              <label
                for="frm-src-{{ listcate.id }}"
                [innerHtml]="listcate.name"
              ></label>
            </li>
          </ul>

          <div class="btn-group stack-nav">
            <span class="help-block" *ngIf="errscate"
              >Please choose your service type</span
            >
            <a
              class="btn primary large btn-next btn-block lcfnext ripple-white"
              tabindex="0"
              (click)="step2()"
              >Get Start</a
            >
          </div>
        </div>
        <!--step 1-->

        <!--overlay-->
        <div class="overlay-form" *ngIf="tap2 || tap3">
          <a href="javascript:void(0)" class="close" (click)="closewiz()"
            ><i class="fa fa-times"></i
          ></a>

          <div class="wiz-form">
            <div class="step" data-step="2" *ngIf="tap2">
              <div class="text-center frm-header">
                <div class="col s12 text-left">
                  <a href="javascript:void(0)" (click)="step1()"
                    ><i class="fa fa-angle-left"></i> Back</a
                  >
                </div>
                <h2>Choose your location</h2>
                <p>Get free responses from multiple businesses near you.</p>
              </div>
              <ul class="mt-3 list-inner p-3">
                <li *ngFor="let listreg of listRegs">
                  <input
                    type="radio"
                    name="buss_loc"
                    formControlName="buss_loc"
                    value="{{ listreg.id }}"
                    id="frm-src-{{ listreg.id }}"
                  />
                  <label
                    for="frm-src-{{ listreg.id }}"
                    [innerHtml]="listreg.name"
                  ></label>
                </li>
              </ul>

              <div class="btn-group stack-nav">
                <span class="help-block" *ngIf="errloc"
                  >Select your service location</span
                >
                <a
                  class="btn primary large btn-next btn-block lcfnext ripple-white"
                  tabindex="0"
                  (click)="step3()"
                  >Continue</a
                >
              </div>
            </div>
            <!--step 2-->

            <div class="step" data-step="3" *ngIf="tap3">
              <div class="text-center frm-header">
                <div class="col s12 text-left">
                  <a href="javascript:void(0)" (click)="step2()"
                    ><i class="fa fa-angle-left"></i> Back</a
                  >
                </div>
                <h2>Contact Details</h2>
                <p>Get free responses from multiple businesses near you.</p>
              </div>
              <div class="wiz-cont-from">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First Name"
                        name="fname"
                        formControlName="fname"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last Name"
                        name="lname"
                        formControlName="lname"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        name="email"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Phone"
                        name="phone"
                        formControlName="phone"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        placeholder="Message"
                        name="msg"
                        formControlName="msg"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-group stack-nav">
                <span class="help-block" *ngIf="errdetail"
                  >* all the fields are mandatory</span
                >
                <a
                  class="btn primary large btn-next btn-block lcfnext ripple-white"
                  tabindex="0"
                  (click)="send()"
                  >Continue</a
                >
              </div>
            </div>
            <!--step 3-->
          </div>
        </div>
        <!---overlay close-->
      </form>
    </div>
  </div>
</section>

<div class="overlay-form-dark" *ngIf="close_wiz">
  <div class="wiz-form">
    <div class="step">
      <div class="text-center frm-header">
        <img
          src="assets/images/icon/step-by-step.png"
          class="mb-3"
          alt="wizard"
        />
        <h2>You have almost reached.</h2>
        <p>Few steps to complete.</p>
      </div>
      <div class="wiz-cont-from text-center">
        <a
          href="javascript:void(0)"
          class="waves-effect waves-light btn close-overlay"
          (click)="close_form()"
          >EXIT</a
        >
        <a
          href="javascript:void(0)"
          class="waves-effect waves-light btn"
          (click)="cont_step()"
          >CONTINE</a
        >
      </div>
      <!--close wiz-->
    </div>
  </div>
</div>
