<div class="container text-center  mt-1 mb-1 " *ngIf="screenWidth>727">
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="5010102535" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="728" [height]="90"></ng-adsense>
</div>

<div class="container text-center  mt-1 mb-1" *ngIf="screenWidth<=728 && screenWidth>467">
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="5010102535" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="468" [height]="60"></ng-adsense>
</div>

<div class="container text-center  mt-1 mb-1 " *ngIf="screenWidth<=468 && screenWidth>0">
  <!--  <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-7283079374771718" data-ad-slot="5050307006"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script> -->
  <ng-adsense [adClient]="'ca-pub-7283079374771718'" [adSlot]="1338486221" [display]="'inline-block'"
    [adFormat]="'horizontal'" [width]="250" [height]="250"></ng-adsense>
</div>