<section class="sec social_feeds text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="sec-head">
          <h3 class="text-capitalize mb-1">Follow Us Social Media</h3>
          <div>
            <em>
              <p>Find social media @walldirectory</p>
            </em>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-sm-2 ">
        <div class="sc_feeds">
          <a href="https://www.facebook.com/walldirectory" class="animat" target="_blank">
            <h4 class="head_medium text-center">Facebook</h4>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-sm-2">
        <div class="sc_feeds">
          <a href="https://twitter.com/walldirectory" class="animat" target="_blank">
            <h4 class="head_medium text-center">Twitter</h4>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-sm-2">
        <div class="sc_feeds">
          <a href="https://instagram.com/walldirectory" class="animat" target="_blank">
            <h4 class="head_medium text-center">Instagram</h4>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mb-sm-2">
        <div class="sc_feeds">
          <a href="https://www.linkedin.com/in/walldirectory" class="animat" target="_blank">
            <h4 class="head_medium text-center">LinkedIn</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container-fluid">
    <div class="row pt-3 pb-3 ">
      <div class="col-md-12 text-center">
        <h3 class="mb-1">Explore Your Business</h3>
        <div class="mt-2">
          <!--  <a href="https://walldirectory.com/support">CONTACT SUPPORT</a> -->
        </div>
        <div class="mt-1"><a routerLink="/plans">Order Now</a></div>
      </div>
      <div class="col-md-12 text-center mt-3">
        <p class="mb-0 copyrights">
          Copyright
          <a href="https://walldirectory.com" title="">Walldirectory.com</a> ©
          2021. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>