<section class="dir-pa-sp-top">
  <div class="container com-padd dir-hom-pre-tit thankpage">
    <div class="com-title">
      <h1>
        Thank you for adding your business into our Wall Directory Network.
        <br />Your business has been added successfully!!!
      </h1>
      <hr />
      <h2>
        To *Publish/Approve* your business in our network, please verify your
        business email id
        <b *ngIf="bemail" class="thanksemail">{{ bemail }},</b> which is
        IMPORTANT to let the customer to reach you faster.
      </h2>
      <button
        class="waves-effect waves-light btn mt-2"
        (click)="send_verification()"
      >
        Verify Now <i class="fa fa-spin fa-spinner" *ngIf="sendmail"></i>
      </button>

      <div class="alert alert-success text-center mt-2  mb-2" *ngIf="mailsend">
        <p>Check your <b>Inbox/Spam</b> folder.</p>
      </div>
      <div class="alert alert-danger text-center mt-2  mb-2" *ngIf="mailfail">
        <p>Not email sent, Try Later.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/profile-edit">
            <img
              src="assets/images/icon/001-profile.svg"
              alt="Update your profile"
            />
            <h3>Complete Your Profile</h3>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/plans">
            <img
              src="assets/images/icon/004-subscribe.svg"
              alt="Subscribe to a Business Package"
            />
            <h3>Subscribe to a Business Package</h3>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/all-business">
            <img
              src="assets/images/icon/002-planning.svg"
              alt="Update Business Listing"
            />
            <h3>Update Business Listing</h3>
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tk_gird">
          <a href="{{ sitepath }}/add-promotion">
            <img
              src="assets/images/icon/003-megaphone.svg"
              alt="Add Promotions"
            />
            <h3>Add Promotions</h3>
          </a>
        </div>
      </div>
    </div>
    <ng-adsense></ng-adsense>
  </div>
</section>
