<section>
  <div class="tz">
    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>Check Out</h4>
        <div class="db-list-com tz-db-table">
          <div class="ds-boar-title">
            <h2>Package Details</h2>
            <p>Choosed package details.</p>
          </div>

          <div class="alert alert-danger" *ngIf="!selectPack">
            Please Select Subscription <a routerLink="/plans">Choose.</a>
          </div>

          <div class="list-check-out" *ngIf="selectPack">
            <div class="home-list-pop list-spac list-check-out-inn">
              <!--LISTINGS IMAGE-->
              <div class="col-md-3">
                <img src="assets/images/icon/subscription.svg" alt="checkout" />
              </div>

              <!--LISTINGS: CONTENT-->
              <div class="col-md-9 home-list-pop-desc inn-list-pop-desc">
                <div>
                  <h3>{{ packdetail.title }}</h3>
                  <div class="list-number">
                    <ul>
                      <li *ngIf="ifRefferral != 'null'">
                        <b>Price</b>: <del>{{ packdetail.price }}</del>
                        {{ packdetail.discount_price }} /
                        {{ paytype }}
                      </li>
                      <li *ngIf="ifRefferral == 'null'">
                        <b>Price</b>: {{ packdetail.price }} / {{ paytype }}
                      </li>

                      <li>
                        <b>Duration</b>:
                        {{
                        packdetail.duration=='-1'
                        ? "Unlimited" : packdetail.duration
                        }}
                        Months
                      <li>
                        <b>Number of Listings</b>:
                        {{
                        packdetail.id == "91"
                        ? "Unlimited"
                        : packdetail.no_business
                        }}
                      </li>
                      <li>
                        <b>Number of Landing Pages</b>:
                        {{
                        packdetail.no_promotions == "-1"
                        ? " Unlimited "
                        : packdetail.no_promotions
                        }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chec-out-pay hom-cre-acc-right" *ngIf="selectPack">
            <h3 class="mb-1">Billing Details</h3>
            <p>
              <b>NOTE :</b> Info submitted here will be used for Invoice NOT for
              a Business Listing Info.
            </p>
            <form [formGroup]="checkoutForm">
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" title="First name" name="first_name" id="first_name"
                    formControlName="first_name" />
                  <label for="first_name" [ngClass]="first_name ? 'active' : ''">First Name*</label>
                  <span *ngIf="
                      !checkoutForm.get('first_name').valid &&
                      checkoutForm.get('first_name').touched
                    " class="help-block">Enter Your Firstname.</span>
                </div>

                <div class="input-field col s6">
                  <input type="text" title="Last name" name="last_name" id="last_name" formControlName="last_name" />
                  <label for="last_name" [ngClass]="last_name ? 'active' : ''">Last Name*</label>
                  <span *ngIf="
                      !checkoutForm.get('last_name').valid &&
                      checkoutForm.get('last_name').touched
                    " class="help-block">Enter Your Lastname.</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input type="email" title="Email" name="email" class="validate" formControlName="email" />
                  <label for="email" [ngClass]="email ? 'active' : ''">Your Email*</label>
                  <span *ngIf="
                      !checkoutForm.get('email').valid &&
                      checkoutForm.get('email').touched
                    " class="help-block">Enter Vaild Email</span>
                </div>

                <div class="input-field col s6">
                  <input type="text" title="Contact No." name="phone" class="validate" formControlName="phone" />
                  <label>Your Contact No.*</label>
                  <span *ngIf="
                      checkoutForm.get('phone').value == '' &&
                      checkoutForm.get('phone').touched
                    " class="help-block">Field required.</span>
                  <span *ngIf="
                      !checkoutForm.get('phone').valid &&
                      checkoutForm.controls['phone'].hasError('pattern')
                    " class="help-block">Enter Digits Char.</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" title="Company Name" name="company_name" class="validate"
                    formControlName="company_name" />
                  <label for="company_name" [ngClass]="company_name ? 'active' : ''">Company name*</label>
                  <span *ngIf="
                      !checkoutForm.get('company_name').valid &&
                      checkoutForm.get('company_name').touched
                    " class="help-block">Enter Company Name.</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" title="Address 1" name="address1" class="validate" formControlName="address1" />
                  <label for="address1" [ngClass]="address1 ? 'active' : ''">Address 1</label>
                  <span *ngIf="
                      !checkoutForm.get('address1').valid &&
                      checkoutForm.get('address1').touched
                    " class="help-block">Enter Address</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" title="Address 2" name="address2" class="validate" formControlName="address2" />
                  <label for="address2" [ngClass]="address2 ? 'active' : ''">Address 2</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" title="City" name="city" class="validate" formControlName="city" />
                  <label for="city" [ngClass]="city ? 'active' : ''">City</label>
                  <span *ngIf="
                      !checkoutForm.get('city').valid &&
                      checkoutForm.get('city').touched
                    " class="help-block">Enter City</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" title="Post Code" name="postcode" class="validate" formControlName="postcode" />
                  <label for="postcode" [ngClass]="postcode ? 'active' : ''">Post Code</label>
                  <span *ngIf="
                      checkoutForm.get('postcode').value == '' &&
                      checkoutForm.get('postcode').touched
                    " class="help-block">Enter Post Code.</span>
                  <span *ngIf="
                      checkoutForm.get('postcode').value != '' &&
                      checkoutForm.controls['postcode'].hasError('pattern')
                    " class="help-block">Enter Digits Char.</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <select name="state" title="State Name" id="state" formControlName="state">
                    <option value="" selected="selected">Select State </option>
                    <option *ngFor="let listReg of listRegs" [value]="listReg.id" [innerHtml]="listReg.name"></option>
                  </select>
                  <span *ngIf="
                      !checkoutForm.get('state').valid &&
                      checkoutForm.get('state').touched
                    " class="help-block">Select State</span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <select name="country" title="Country" class="validate" formControlName="country">
                    <option value="">Select Country</option>
                    <option *ngFor="let listctry of listcountry" [value]="listctry.id" [innerHtml]="listctry.name">
                    </option>
                  </select>
                  <span *ngIf="
                      !checkoutForm.get('country').valid &&
                      checkoutForm.get('country').touched
                    " class="help-block">Select Country Name.</span>
                </div>
              </div>

              <div class="mt-2 mb-2">
                <div class="divider"></div>
              </div>

              <div class="row" *ngIf="selectPack != 1">
                <div class="col s12">
                  <p for="pay1">Payment Via</p>
                  <img src="assets/images/stripe-payment.png" alt="Payment" />
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label>Cart Number</label>
                    <input type="text" name="card_number" maxlength="16" id="card_number" class="form-control" formControlName="card_number" placeholder="ex: 1111222233334444" /> 
                    <span *ngIf="
                    !checkoutForm.get('card_number').valid &&
                    checkoutForm.get('card_number').touched
                  " class="help-block">Enter card number</span>
              </div>
                  </div>
               
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Expiry Month</label>
                    <select name="exp_month" id="exp_month" class="form-control" formControlName="exp_month" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
                 
                    <span *ngIf="
                    !checkoutForm.get('exp_month').valid &&
                    checkoutForm.get('exp_month').touched
                  " class="help-block">Enter card expiry month </span>
                  </div>
                </div>
                 <div class="col-md-4">
                  <div class="form-group">
                    <label>Expiry Year</label>
                    <select name="exp_year" id="exp_year" class="form-control" formControlName="exp_year" >
                      <ng-container *ngFor='let in of yearlist'>
                        <option value="{{in}}">{{in}}</option>
                      </ng-container>
                    </select>
                    
                    <span *ngIf="
                    !checkoutForm.get('exp_year').valid &&
                    checkoutForm.get('exp_year').touched
                  " class="help-block">Enter card expiry year</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Expiry Year</label>
                    <input type="text" name="cvc" maxlength="3" minlength="3" id="cvc" class="validate" formControlName="cvc" placeholder="ex: 123"/> 
                    <span *ngIf="
                    !checkoutForm.get('cvc').valid &&
                    checkoutForm.get('cvc').touched
                  " class="help-block">Enter card cvc number</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 v2-mar-top-40">
                  <input type="hidden" name="planid" value="{{ packdetail.id }}" formControlName="plan_id" />
                  <button type="submit" class="waves-effect waves-light btn-large full-btn" (click)="onSubmit()">
                    Submit <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>

              <div *ngIf="freepacksuccess" class="alert alert-success sendmsgs">
                <h5>Processing Subscriptions, Please Wait...</h5>
              </div>
              <div *ngIf="errormsg" class="alert alert-danger errormsgs">
                <h5 *ngIf="errormsg=='Selected plan has been already Expired'">{{ errormsg }}<span style="display: block;margin-top:10px"> (Note - Already Purchased plan cannot be re-purchased!)</span></h5>
                <h5 *ngIf="errormsg!='Selected plan has been already Expired'">{{ errormsg }}</h5>
              </div>
              <!-- <div *ngIf="sendmsg" class="alert alert-warning sendmsgs">
                <h5>Redirect to Payment...</h5>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>
<!--END DASHBOARD-->