<div class="landing_banner supports text-center">
  <div class="container">
    <div class="banner_wrapper ">
      <h1>Supports</h1>
      <h2>We're here to help. Please choose support below.</h2>
    </div>
  </div>
</div>


<div class="container supportpg mb-5">
  <div class="row text-center">
    <div class="col-md-12 mt-3">
      <h3 class="headtitle">Need more help?</h3>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 supt_link">
      <div class="bordered">
        <a href="">
          Send us a message
          <div class="icon-preview"><i class="material-icons dp48">message</i></div>
        </a>

      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 supt_link">
      <div class="bordered">
        <a href="">Contact Support
          <div class="icon-preview"><i class="material-icons dp48">call</i></div>
        </a>
      </div>
    </div>

  </div>

  <app-unit4></app-unit4>
</div>