<section class="inn-page-bg">
  <div class="container">
    <div class="row">
      <div class="inn-pag-ban whitetxt">
        <div innerHtml="{{ seometa.content }}"></div>
      </div>
    </div>
  </div>
</section>

<!--EXPLORE CITY LISTING-->
<section class="com-padd com-padd-redu-top mt-5 regionlist_page">
  <div class="container">
    <div class="row">
      <!--NOTE: Listing count 0 not display here.--->

      <!--Row 1-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 0:8; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <ng-adsense></ng-adsense>
      </div>

      <!--Row 2-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 8:16; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <app-unit4></app-unit4>
      </div>

      <!--Row 3-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 16:24; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <app-unit4></app-unit4>
      </div>

      <!--Row 4-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 24:32; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <app-unit4></app-unit4>
      </div>

      <!--Row  5-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 32:40; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <app-unit4></app-unit4>
      </div>

      <!--Row  6-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 40:48; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <app-unit4></app-unit4>
      </div>

      <!--Row  6-->
      <div class="col-md-3 region_list" *ngFor="let stateSer of statelists | slice: 48:60; let s = index">
        <a routerLink="/listing-region/{{ stateSer?.slug }}">
          <div class="list-mig-like-com">
            <div class="list-mig-lc-img">
              <img src="{{
                  stateSer?.image
                    ? imgPath + stateSer?.image
                    : imgPath2 + '/assets/images/business-region.jpg'
                }}" alt="{{ stateSer?.alt_text || stateSer?.name }}" />
            </div>
            <div class="list-mig-lc-con list-mig-lc-con2">
              <h5>{{ stateSer?.name }}</h5>
              <p>{{ stateSer?.count }} Listings</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-12 ads text-center">
        <app-unit4></app-unit4>
      </div>

      <!--end-->
    </div>
  </div>
</section>