<section>
  <div class="con-page">
    <div class="con-page-ri">
      <div class="con-com">
        <h1 class="con-tit-top-o">Address &amp; Contact Info</h1>
        <p>RVFX+4P Rutherford, New Jersey, USA</p>
        <!---<span
          ><img src="assets/images/icon/phone.png" alt="" /> Phone: +1
          973-437-3877</span
        >-->
        <span><img src="assets/images/icon/mail.png" alt="" /> Email:
          support@walldirectory.com</span>
        <h2>Follow us on</h2>
        <p>
          Follow Walldirectory on social media to keep up-to-date with the
          latest news, benefit from a range of useful your business promotions.
        </p>
        <div class="foot-social clearfix">
          <ul>
            <li>
              <a href="https://www.facebook.com/walldirectory" target="_blank"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/walldirectory" target="_blank"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/walldirectory" target="_blank"><i class="fa fa-linkedin"
                  aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="con-com">
        <div class="cpn-pag-form">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <h3>Support and Contact Enquiry</h3>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable.The point of using Lorem Ipsum is that it has a
              more-or-less normal distribution of letters, as opposed to using
              Content here
            </p>
            <div>
              <div class="input-field col s12">
                <input id="gfc_name" type="text" class="validate" formControlName="name" />
                <label for="gfc_name">Name</label>
                <span *ngIf="
                    !contactForm.get('name').valid &&
                    contactForm.get('name').touched
                  " class="help-block">
                  Please enter Name</span>
              </div>
            </div>
            <div>
              <div class="input-field col s12">
                <input id="gfc_mob" type="text" class="validate" formControlName="mobilenumber" />
                <label for="gfc_mob">Mobile</label>
                <span *ngIf="
                    !contactForm.get('mobilenumber').valid &&
                    contactForm.get('mobilenumber').touched
                  " class="help-block">
                  Enter 10 digit number</span>
              </div>
            </div>
            <div>
              <div class="input-field col s12">
                <input id="gfc_mail" type="email" class="validate" formControlName="email" />
                <label for="gfc_mail">Email</label>
                <span *ngIf="
                    !contactForm.get('email').valid &&
                    contactForm.get('email').touched
                  " class="help-block">
                  Enter Vaild Email</span>
              </div>
            </div>
            <div>
              <div class="input-field col s12">
                <textarea id="gfc_msg" class="validate" formControlName="message"></textarea>
                <label for="gfc_msg">Message</label>
              </div>
            </div>
            <div>
              <div class="input-field col s12">
                <button type="submit" value="SUBMIT"
                  class="waves-effect waves-light btn-large full-btn list-red-btn waves-input-wrapper">
                  SUBMIT <i class="fa fa-spinner fa-spin" *ngIf="cloader"></i>
                </button>

                <div class="alert alert-success mt-2" *ngIf="contsuccess">
                  Thanks for contact us. We will contact soon.
                </div>
                <div class="alert alert-danger mt-2" *ngIf="conterror">
                  Message not send. Try Later
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="con-com con-pag-map con-com-mar-bot-o">
        <h5 class="con-tit-top-o">Touch with us</h5>
        <p>96, 2107, Meadow Rd, Rutherford, NJ 07070, USA</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.236476903896!2d-74.10290808470378!3d40.82276917931994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f8bcb131bcc5%3A0xba9fc8ac8693afe3!2sWALL+DIRECTORY!5e0!3m2!1sen!2sin!4v1557228583501!5m2!1sen!2sin"
          allowfullscreen></iframe>

        <div class="mt-2 mb-1">
          <app-unit2></app-unit2>
        </div>

      </div>
    </div>
  </div>
</section>