<section class="inn-page-bg">
  <div class="container">
    <div class="row">
      <div class="inn-pag-ban">
        <h1 innerHtml="{{pagecontent?.title}}"></h1>
      </div>
    </div>
  </div>
</section>

<section class="p-about com-padd com-padd-redu-bot1 ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-2">
        <div innerHtml="{{pagecontent?.content}}"></div>
      </div>
      <div class="col-md-12 ads">
        <app-unit4></app-unit4>
      </div>
    </div>
  </div>
</section>