<section>
  <div class="tz">
    <!--LEFT SECTION-->
   <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2 static_div">
      <div class="tz-2-com tz-2-main">
        <h4>Listing Views Statistics</h4>
        <div class="db-list-com tz-db-table">
          <div class="ds-boar-title">
            <h2>Your Listing Views</h2>
            <p>Here are your listings and promotions visitor analytics</p>
          </div>
        </div>
      </div>

      <div class="tz-2-main-com">
        <div class="row">
          <div class="col-md-6 right">
            <div class="form-group">
              <select class="form-control" (change)="statfilter($event)">
                <option value="week">Current Week</option>
                <option value="currentmonth">Current Month</option>
                <option value="lastmonth">Last Month</option>
                <option value="3month">Last 3 Months</option>
                <option value="6month">Last 6 Months</option>
                <option value="1year">1 Year</option>
              </select>
            </div>
          </div>

          <!--address-->
          <div class="col-md-12 mb-3">
            <div class="tz-2-com tz-2-main">
              <div style="display: block;">
                <canvas
                  baseChart
                  width="400"
                  height="400"
                  [datasets]="viewslineChartData"
                  [labels]="viewslineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<app-dashmenu class="mobile_dashnav"></app-dashmenu>

  </div>
</section>
