<div class="landing_banner localmartet ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 text-center">
        <h1 innerHtml="{{ seometa.title }}" class="mb-2"></h1>
        <img src="assets/landing/1localmarket.jpg" alt="{{ seometa.title }}" />
        <div class="pdesc mt-1 text-left" innerHtml="{{ seometa.content }}"></div>
        <div class="text-center">
          <a href="https://walldirectory.com/add-business" class="waves-effect waves-light btn">Get Listed</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12   ">
        <app-funnelfrm></app-funnelfrm>
      </div>
    </div>
  </div>
</div>

<div class="container ad1 mt-2 mb-2">
  <app-unit4></app-unit4>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h3 class="headtitle">Local Marketing</h3>
      <p>
        With a growing local business directory, Wall Directory provides digital
        marketing in every state. By focusing on local marketing, businesses
        connect with interested customers. This location-based marketing
        strategy benefits businesses and customers by making promotions and
        deals easy to find. Neighborhood marketing integrates business pages
        with social media, websites, and local marketing tools.
      </p>
    </div>

    <div class="col-md-12 mt-3">
      <h3 class="headtitle">Local Business Advertising</h3>
      <p>
        With Wall Directory, it is easy to generate traffic to your website,
        increase social media engagement, get customer reviews, promote sales,
        and showcase your products and services for free. Being able to start
        local advertising with a free business profile is what makes Wall
        Directory a reliable tool. Business owners can upgrade their advertising
        packages to access over 60 promotional calls to action for their
        customers. So whether you want more Facebook page likes, Twitter or
        Instagram followers, looking for Yelp reviews, or to promote your
        location to customers in your area, you can do all of that by
        <a href="https://walldirectory.com/claim-your-business">claiming your business with Wall Directory now</a>.
      </p>
    </div>

    <div class="col-md-12 mt-3">
      <h3 class="headtitle">Local Business Services</h3>
      <p>
        When you own a business, you want to reach customers in your area. You
        want to be easy to find. When you have a promotion or event happening to
        sell your products or advertise your business services, you want the
        right people to see your business details. When a customer searches for
        products and services that you provide in their city or state, you want
        to be in their search results.
        <a href="https://walldirectory.com/plans">Sign up now for one of 4 advertising packages</a>
        to make your business services visible to the best customers in your
        area.
      </p>
    </div>

    <div class="col-md-12 mt-3">
      <h3 class="headtitle">Social media marketing and content</h3>
      <p> Content marketing is essential in keeping customers engaged. Attract new leads with original content marketing
        that include new stories, visual production and a creative social media advertising campaigns. use Pinterest,
        Instagram and Facebook marketing tools.</p>
    </div>

  </div>

  <div class="row landing-state-list mt-3  mb-4">
    <div *ngFor="let liststate of listofstate" class="col-md-3 col-sm-4 col-xs-6">
      <a href="/local-marketing/{{ liststate?.slug }}" title="{{ liststate?.name }}"
        *ngIf="liststate.slug != 'other'">{{ liststate?.name }}</a>
    </div>
  </div>
</div>

<div class=" text-center com-mar-top-20">
  <div class="container ad1 mt-2 mb-2 text-center">
    <app-unit4></app-unit4>
  </div>
</div>