<section>
  <div class="tz">
    <!--LEFT SECTION-->
    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>Settings</h4>
        <form class="col s12" [formGroup]="profileSetting" enctype="multipart/form-data">
          <div class="db-list-com table-responsive tz-db-table">
            <div class="ds-boar-title">
              <h2>User Settings</h2>
              <p>
                Your Business Listing Settings.
              </p>
            </div>

            <table class="table table-striped bordered pro-settings">
              <tbody>
                <tr>
                  <td width="45%">Receive Business Reviews from Customer</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="preview" id="preview" formControlName="preview" checked
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">Receive SMS Alert from Wall Directory</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="smsrec" id="smsrec" formControlName="smsrec"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span> Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr style="display:none">
                  <td width="45%">Call Now</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="pcall" id="pcall" formControlName="pcall"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">Display profile info on Business page</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>No</span>
                        <input type="checkbox" name="pinfo" id="pinfo" formControlName="pinfo"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span> Yes</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">
                    Display social media links on Business page
                  </td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>No</span>
                        <input type="checkbox" name="psocial" id="psocial" formControlName="psocial"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Yes</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">Newsletter Subscription</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span> Deactivate</span>
                        <input type="checkbox" name="newsletter" id="newsletter" formControlName="newsletter"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span> Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">
                    Email Alert when customer visit your Business Page
                  </td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="pageview" id="pageview" formControlName="pageview"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">Email Alert when Customer sends Enquiry</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="listingenq" id="listingenq" formControlName="listingenq"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">
                    Email Alert when customer looking for a service
                  </td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="funnelform" id="funnelform" formControlName="funnelform"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">Promotional Emails from Wall Directory</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span> Deactivate</span>
                        <input type="checkbox" name="campaigns" id="campaigns" formControlName="campaigns"
                          (change)="chgs($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td width="45%">All Notifications</td>
                  <td>:</td>
                  <td>
                    <div class="switch">
                      <label>
                        <span>Deactivate</span>
                        <input type="checkbox" name="pnodify" id="pnodify" formControlName="pnodify"
                          (change)="disableall($event)" />
                        <span class="lever"></span>
                        <span>Activate</span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="db-mak-pay-bot">
              <!--  <p> 
              </p> -->

              <div class="alert alert-success" *ngIf="successmsg">
                Settings Saved.
              </div>
              <div class="alert alert-danger" *ngIf="errormsg">
                {{ errormsg }}
              </div>

              <button type="submit" (click)="onSubmit()" class="waves-effect waves-light btn-large">
                Save Settings
              </button>
            </div>
          </div>
        </form>
        <div class="mt-2 mb-1">
          <app-unit5></app-unit5>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>