<!--BANNER AND SERACH BOX-->
<section id="background" class="dir1-home-head">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="dir-ho-tl">
          <ul>
            <li>
              <a href="#"><img src="assets/images/logo.png" alt="" /> </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="dir-ho-tr">
          <ul>
            <li><a href="#">Register</a></li>
            <li><a href="#">Sign In</a></li>
            <li>
              <a href="#"
                ><i class="fa fa-plus" aria-hidden="true"></i> Add Listing</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container dir-ho-t-sp">
    <div class="row">
      <div class="dir-hr1">
        <div class="dir-ho-t-tit">
          <h1>Connect with the right Service Experts</h1>
          <p>
            Find B2B & B2C businesses contact addresses, phone numbers,<br />
            user ratings and reviews.
          </p>
        </div>
        <form class="tourz-search-form">
          <div class="input-field">
            <input type="text" id="select-city" class="autocomplete" />
            <label for="select-city">Enter city</label>
          </div>
          <div class="input-field">
            <input type="text" id="select-search" class="autocomplete" />
            <label for="select-search" class="search-hotel-type"
              >Search your services like hotel, resorts, events and more</label
            >
          </div>
          <div class="input-field">
            <input
              type="submit"
              value="search"
              class="waves-effect waves-light tourz-sear-btn"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--TOP SEARCH SECTION-->
<section id="myID" class="bottomMenu hom-top-menu">
  <div class="container top-search-main">
    <div class="row">
      <div class="ts-menu">
        <!--SECTION: LOGO-->
        <div class="ts-menu-1">
          <a href="#"><img src="assets/images/aff-logo.png" alt="" /> </a>
        </div>
        <!--SECTION: BROWSE CATEGORY(NOTE:IT'S HIDE ON MOBILE & TABLET VIEW)-->
        <div class="ts-menu-2">
          <a href="#" class="t-bb"
            >All Pages <i class="fa fa-angle-down" aria-hidden="true"></i
          ></a>
          <!--SECTION: BROWSE CATEGORY-->
          <div class="cat-menu cat-menu-1">
            <div class="dz-menu">
              <div class="dz-menu-inn">
                <h4>Frontend Pages</h4>
                <ul>
                  <li><a href="#">Home 1</a></li>
                  <li><a href="#">Home 2</a></li>
                  <li><a href="#">Home 3</a></li>
                  <li><a href="#">Home 4</a></li>
                  <li><a href="#">All Listing</a></li>
                  <li><a href="#">Listing Details </a></li>
                  <li><a href="#">Add Listing</a></li>
                  <li><a href="#">Lead Listing</a></li>
                  <li><a href="#">Listing Grid View</a></li>
                </ul>
              </div>
              <div class="dz-menu-inn">
                <h4>Frontend Pages</h4>
                <ul>
                  <li><a href="#"> New Listings </a></li>
                  <li><a href="#">Nearby Listings</a></li>
                  <li><a href="#"> Customer Reviews</a></li>
                  <li><a href="#"> Top Trendings</a></li>
                  <li><a href="#"> How It Work</a></li>
                  <li><a href="#"> Advertise with us</a></li>
                  <li><a href="#"> Price Details</a></li>
                </ul>
              </div>
              <div class="dz-menu-inn">
                <h4>Frontend Pages</h4>
                <ul>
                  <li><a href="#"> About Us</a></li>
                  <li><a href="#"> Customer Reviews</a></li>
                  <li><a href="#"> Contact Us</a></li>
                  <li><a href="#"> Blog Post</a></li>
                  <li><a href="#"> Blog Details</a></li>
                  <li><a href="#"> All Elements </a></li>
                  <li>
                    <a href="#"> Shop Details </a>
                  </li>
                  <li>
                    <a href="#">
                      Property Details
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dz-menu-inn">
                <h4>Dashboard Pages</h4>
                <ul>
                  <li><a href="#"> Dashboard</a></li>
                  <li><a href="#"> Invoice</a></li>
                  <li><a href="#"> User Setting</a></li>
                  <li><a href="#"> All Listings</a></li>
                  <li><a href="#"> Add New Listing</a></li>
                  <li><a href="#"> Listing Reviews</a></li>
                  <li><a href="#"> Listing Payments </a></li>
                </ul>
              </div>
              <div class="dz-menu-inn">
                <h4>Dashboard Pages</h4>
                <ul>
                  <li><a href="#"> User Register</a></li>
                  <li><a href="#"> User Login</a></li>
                  <li><a href="#"> Forgot Password</a></li>
                  <li><a href="#"> Messages</a></li>
                  <li><a href="#"> Dashboard Profile</a></li>
                  <li><a href="#"> Post Ads </a></li>
                  <li>
                    <a href="#"> Download Invoice </a>
                  </li>
                </ul>
              </div>
              <div class="dz-menu-inn lat-menu">
                <h4>Admin Panel Pages</h4>
                <ul>
                  <li><a target="_blank" href="#"> Admin</a></li>
                  <li>
                    <a target="_blank" href="#"> All Listing</a>
                  </li>
                  <li>
                    <a target="_blank" href="#"> All Users</a>
                  </li>
                  <li>
                    <a target="_blank" href="#"> Analytics</a>
                  </li>
                  <li>
                    <a target="_blank" href="#"> Advertisement</a>
                  </li>
                  <li>
                    <a target="_blank" href="#">
                      Admin Setting
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="#"> Payments </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="dir-home-nav-bot">
              <ul>
                <li>
                  A few reasons you’ll love Online Business Directory
                  <span>Call us on: +01 6214 6548</span>
                </li>
                <li>
                  <a href="#" class="waves-effect waves-light btn-large"
                    ><i class="fa fa-bullhorn"></i> Advertise with us</a
                  >
                </li>
                <li>
                  <a href="#" class="waves-effect waves-light btn-large"
                    ><i class="fa fa-bookmark"></i> Add your business</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--SECTION: SEARCH BOX-->
        <div class="ts-menu-3">
          <div class="">
            <form class="tourz-search-form tourz-top-search-form">
              <div class="input-field">
                <input type="text" id="top-select-city" class="autocomplete" />
                <label for="top-select-city">Enter city</label>
              </div>
              <div class="input-field">
                <input
                  type="text"
                  id="top-select-search"
                  class="autocomplete"
                />
                <label for="top-select-search" class="search-hotel-type"
                  >Search your services like hotel, resorts, events and
                  more</label
                >
              </div>
              <div class="input-field">
                <input
                  type="submit"
                  value=""
                  class="waves-effect waves-light tourz-top-sear-btn"
                />
              </div>
            </form>
          </div>
        </div>
        <!--SECTION: REGISTER,SIGNIN AND ADD YOUR BUSINESS-->
        <div class="ts-menu-4">
          <div class="v3-top-ri">
            <ul>
              <li>
                <a href="#" class="v3-menu-sign"
                  ><i class="fa fa-sign-in"></i> Sign In</a
                >
              </li>
              <li>
                <a href="#" class="v3-add-bus"
                  ><i class="fa fa-plus" aria-hidden="true"></i> Add Listing</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--MOBILE MENU ICON:IT'S ONLY SHOW ON MOBILE & TABLET VIEW-->
        <div class="ts-menu-5">
          <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </div>
        <!--MOBILE MENU CONTAINER:IT'S ONLY SHOW ON MOBILE & TABLET VIEW-->
        <div class="mob-right-nav" data-wow-duration="0.5s">
          <div class="mob-right-nav-close">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <h5>Business</h5>
          <ul class="mob-menu-icon">
            <li><a href="#">Add Business</a></li>
            <li>
              <a href="#!" data-toggle="modal" data-target="#register"
                >Register</a
              >
            </li>
            <li>
              <a href="#!" data-toggle="modal" data-target="#sign-in"
                >Sign In</a
              >
            </li>
          </ul>
          <h5>All Categories</h5>
          <ul>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Help
                Services</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Appliances
                Repair & Services</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Furniture
                Dealers</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Packers
                and Movers</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Pest
                Control
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Solar
                Product Dealers</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Interior
                Designers</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>
                Carpenters</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Plumbing
                Contractors</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Modular
                Kitchen</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Internet
                Service Providers</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--HOME PROJECTS-->
<section class="proj mar-bot-red-m30">
  <div class="container">
    <div class="row">
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <img src="assets/images/icon/1.png" alt="" />
          <h4>24 Million Business</h4>
          <p>
            Choose from a collection of handpicked luxury villas & apartments
          </p>
          <a href="#!">Explore Now</a>
        </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <img src="assets/images/icon/2.png" alt="user profile" />
          <h4>1,200 Services Offered</h4>
          <p>
            Choose from a collection of handpicked luxury villas & apartments
          </p>
          <a href="#!">Explore Now</a>
        </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <img src="assets/images/icon/3.png" alt="" />
          <h4>05 Million Visitors</h4>
          <p>
            Choose from a collection of handpicked luxury villas & apartments
          </p>
          <a href="#!">Explore Now</a>
        </div>
      </div>
      <!--HOME PROJECTS: 1-->
      <div class="col-md-3 col-sm-6">
        <div class="hom-pro">
          <img src="assets/images/icon/7.png" alt="" />
          <h4>24 Million Business</h4>
          <p>
            Choose from a collection of handpicked luxury villas & apartments
          </p>
          <a href="#!">Explore Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
