<section>
  <div class="tz">
    <!--LEFT SECTION-->

    <app-dashmenu class="desk_dashnav"></app-dashmenu>

    <!--CENTER SECTION-->
    <div class="tz-2">
      <div class="tz-2-com tz-2-main">
        <h4>Manage My Profile</h4>
        <div class="db-list-com  table-responsive tz-db-table">
          <div class="ds-boar-title">
            <h2>Profile</h2>
            <p>
              Keep your details updated here. check your alerts often to take
              advantage of local deals.
            </p>
          </div>
          <table class="table table-striped bordered">
            <tbody>
              <tr>
                <td width="20%">User Name</td>
                <td>:</td>
                <td>{{ logedname }}</td>
              </tr>
              <tr>
                <td width="20%">First Name</td>
                <td>:</td>
                <td>{{ profDetails?.first_name }}</td>
              </tr>
              <tr>
                <td width="20%">Last Name</td>
                <td>:</td>
                <td>{{ profDetails?.last_name }}</td>
              </tr>
              <tr>
                <td width="20%">Email</td>
                <td>:</td>
                <td>{{ profDetails?.email }}</td>
              </tr>
              <tr>
                <td width="20%">Phone</td>
                <td>:</td>
                <td>{{ profDetails?.phone }}</td>
              </tr>
              <tr>
                <td width="20%">Mobile</td>
                <td>:</td>
                <td>
                  <!--
                  {{ profDetails?.mobile_prefix }}-->
                  {{ profDetails?.mobile }}
                </td>
              </tr>
              <tr>
                <td width="20%">Date of birth</td>
                <td>:</td>
                <td>{{ profDetails?.dob }}</td>
              </tr>
              <tr>
                <td width="20%">Address</td>
                <td>:</td>
                <td>{{ profDetails?.address }}</td>
              </tr>
              <tr>
                <td width="20%">State</td>
                <td>:</td>
                <td>{{ profDetails?.userstate?.name }}</td>
              </tr>
              <tr>
                <td width="20%">Country</td>
                <td>:</td>
                <td>{{ profDetails?.usercountry?.name }}</td>
              </tr>
              <tr>
                <td width="20%">Status</td>
                <td>:</td>
                <td><span class="db-done">Active</span></td>
              </tr>

              <tr>
                <td width="20%">Facebook</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.facebook_url
                          ? profDetails?.facebook_url
                          : '#'
                      }}" target="_blank">{{
                      profDetails?.facebook_url
                      ? profDetails?.facebook_url
                      : "#"
                      }}</a></span>
                </td>
              </tr>

              <tr>
                <td width="20%">Twitter</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.twitter_url
                          ? profDetails?.twitter_url
                          : '#'
                      }}" target="_blank">{{
                      profDetails?.twitter_url
                      ? profDetails?.twitter_url
                      : "#"
                      }}</a></span>
                </td>
              </tr>

              <tr>
                <td width="20%">Instagram</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.instagram_url
                          ? profDetails?.instagram_url
                          : '#'
                      }}" target="_blank">{{
                      profDetails?.instagram_url
                      ? profDetails?.instagram_url
                      : "#"
                      }}</a></span>
                </td>
              </tr>

              <tr>
                <td width="20%">LinkedIn</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.linkedin_url
                          ? profDetails?.linkedin_url
                          : '#'
                      }}" target="_blank">{{
                      profDetails?.linkedin_url
                      ? profDetails?.linkedin_url
                      : "#"
                      }}</a></span>
                </td>
              </tr>

              <tr>
                <td width="20%">Pinterest</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.pintrest_url
                          ? profDetails?.pintrest_url
                          : '#'
                      }}" target="_blank">{{
                      profDetails?.pintrest_url
                      ? profDetails?.pintrest_url
                      : "#"
                      }}</a></span>
                </td>
              </tr>

              <tr>
                <td width="20%">Youtube</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.youtube_url
                          ? profDetails?.youtube_url
                          : '#'
                      }}" target="_blank">{{
                      profDetails?.youtube_url
                      ? profDetails?.youtube_url
                      : "#"
                      }}</a></span>
                </td>
              </tr>

              <tr>
                <td width="20%">Snapchat</td>
                <td>:</td>
                <td>
                  <span class="db-done"><a href="{{
                        profDetails?.snapchat ? profDetails?.snapchat : '#'
                      }}" target="_blank">{{
                      profDetails?.snapchat ? profDetails?.snapchat : "#"
                      }}</a></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="db-mak-pay-bot">
            <a href="https://walldirectory.com/profile-edit" class="waves-effect waves-light btn-large">Edit my
              profile</a>
          </div>
        </div>
        <div class="mt-2 mb-1">
          <app-unit5></app-unit5>
        </div>
      </div>
    </div>

    <!--Right SECTION-->
    <app-dashmenu class="mobile_dashnav"></app-dashmenu>
    <app-dashmsg></app-dashmsg>
  </div>
</section>